[2013-06-26 21:08] ghchinoy opened #9 "add date / time stamp to News feed items"
Please add date / time stamps to the listview for news feed items. Possibly upper right corner of post. It's hard to get distinct titles off of G+ posts, so maybe a date/time stamp could substitute as a separator.

[2013-06-26 21:09] ghchinoy opened #10 "consistency of loading spinner"
The boomerang loading spinner is awesome. The info pane doesn't use the same loading (fading boomerang spinner) as the other two (events, news).

[2013-06-29 17:33] friedger opened #11 "Change Packagename to com.gdg-x.frisbee.android"
http://www.gdg.org/ already taken by the Gettysburg discussion group

[2013-06-29 17:51] friedger opened #12 "Events timeframe should be extended to 60 or 90 days"

[2013-06-29 18:08] friedger opened #13 "NPE when swipe while loading news"
java.lang.NullPointerException
        at android.view.animation.AnimationUtils.loadAnimation(AnimationUtils.java:71)
        at org.gdg.frisbee.android.fragment.GdgListFragment.setIsLoading(GdgListFragment.java:196)
        at org.gdg.frisbee.android.fragment.EventFragment$1.onResponse(EventFragment.java:102)
        at org.gdg.frisbee.android.fragment.EventFragment$1.onResponse(EventFragment.jav

[2013-06-29 18:34] friedger opened #14 "Show resources of chapter"
Links from G+ page and
Resources from GDG chapter page

[2013-06-29 18:34] friedger opened #15 "Synchronize preferences (chapter, notifications, ..) between devices"
Using Google Play Game Services
This requires to change the order of the wizzard: first sign-in then select chapter.

[2013-06-30 23:30] mauimauer opened #16 "FirstStart Wizard does not save selection to savedInstanceState."

[2013-07-01 01:45] #13 closed, assigned to friedger

[2013-07-01 01:48] #10 closed, assigned to mauimauer

[2013-07-01 10:50] mauimauer opened #19 "Translation"
The app only features a few string and thus it should be translated to as many languages as possible.

[2013-07-01 11:12] steveliedtke opened #20 "No events of today are shown"
I don't know if it is an issue with the developers api, but the todays event of the GDG Bremen (1st July) is not shown in the tab events, only the next one in august

[2013-07-01 11:14] steveliedtke opened #21 "Switching between portrait and landscape lets the app crash"
In case the user flips the phone from one mode to another while it loads, the app will crash. This issue was seen on the nexus 4

[2013-07-01 11:17] steveliedtke opened #22 "Format of the event dates"
it would be great to have localized formats for the time of the events:

Now: 2013-08-05T19:00:00.000+02:00

Better i.e.:
5. August 2013 19:00 Uhr (for Germans)
5th August 2013 7:00pm (for GB, US, etc.)

[2013-07-02 00:11] #22 closed, assigned to nobody

[2013-07-02 00:12] #16 closed, assigned to mauimauer

[2013-07-02 00:14] #14 closed, assigned to nobody

[2013-07-02 20:00] thensgens opened #24 "+1 Animation never stops"
After +1'ing one news item, the animation will never stop. (not sure if it's related to the API or not)
The user should be notified if the +1 was successful or not.

[2013-07-02 23:46] #24 closed, assigned to nobody

[2013-07-03 00:40] #9 closed, assigned to nobody

[2013-07-04 04:47] steveliedtke opened #26 "IllegalArgumentException after Login"
This is critical, because it makes the app not usable

[2013-07-04 20:15] #11 closed, assigned to nobody

[2013-07-08 12:49] #26 closed, assigned to nobody

[2013-07-08 14:59] steveliedtke opened #29 "Adding event to own calendar: end time equals start time"
I don't know if this is an issue of the api, but incase I add an event to my calendar (long click on event) the end time equals the start time. But if I add an event over developers.google.com/events I can add different start and end time

[2013-07-08 15:03] steveliedtke opened #30 "Past events"
This is an enhancement request ;-)

It would be great to see the past events of my GDG, especially the description could be interesting. Also over the linked Google+ Event the YouTube Link could be fetched.

That would be awesome!

[2013-07-19 18:15] robrbecker opened #31 "Crashes when launching without network"
Version: .6-ALPHA
Device: Galaxy Nexus on CM 10.1.2

The app crashes when launching without a network connection for me. To reproduce, turn off wifi and cellular then launch the app. The app starts, it shows my local GDG in the title but then quits.

[2013-07-23 23:02] robrbecker opened #32 "Date seems wrong on news items"
I just made a post to my GDG page today. Launched frisbee and it loaded the new news post from G+ but it said "4 days ago" as the post time on it. Which happened to be the time of the next older post.

[2013-07-24 06:01] steveliedtke opened #33 "Only past event shown"
In the version Alpha 0.7 only past events are shown. the future events are missing. Example: GDG Bremen has an event on the developers site for the 5th of august

[2013-07-24 13:36] #33 closed, assigned to nobody

[2013-07-24 13:43] #32 closed, assigned to mauimauer

[2013-07-24 13:44] #21 closed, assigned to nobody

[2013-07-24 13:45] #20 closed, assigned to nobody

[2013-07-31 05:13] joshuawoodward opened #34 "Need more info"
About > Get Involved

No link or mention of GitHub account. Just says go to GitHub.

Please add github.com/gdg-x somewhere :)

[2013-08-03 21:27] friedger opened #36 "Navigation Drawer should be opened when using the first time"
To educate the user about what is available via the navigation drawer, the recommendation is to have it opened when using the app the first time.

[2013-08-03 21:29] friedger opened #37 "Navigation Drawer is missing an entry for the GDG information"
the label could be "My GDG" or "GDG Aachen".

[2013-08-03 21:37] friedger opened #38 "Navigation experience should be improved"
The user wants to explore GDG information and GD Live information these should be accessible via the navigation drawer as the main areas.

Achievements, Settings and About should go into the Action bar menu.

To fill the navigation drawer, we could add favourite GDGs in addition to the main group. Something like channels in the Youtube app.

The GDG information and GDL information should not appea

[2013-08-12 18:17] ghost opened #40 "Widget: Next Event / Messages"
What do you think of adding a widget, showing off the next event with information like "number of people coming", "time to go, before event starts".
Beside that, there could be a message counter, showing messages received by the gdg's page (don't know if it possible, though), click on it and you get right to those messages.

[2013-08-19 19:59] mauimauer opened #41 "Include GDG Pulse"
It has a JSON interface at:
https://developers.google.com/devreldash/gdg/pulse_stats/

[2013-08-21 19:44] #29 closed, assigned to friedger

[2013-08-21 19:54] #41 closed, assigned to nobody

[2013-08-25 19:28] #31 closed, assigned to nobody

[2013-08-26 03:11] #34 closed, assigned to mauimauer

[2013-08-26 03:14] #30 closed, assigned to nobody

[2013-08-26 03:20] jerrellmardis opened #47 "Change SharedPrefs commit() to apply()"
Anytime we aren't using the return value of the Editor.commit() we should use apply() instead. Using apply() will commit its changes to the in-memory SharedPreferences immediately but then will start an asynchronous commit to disk.

RE: http://developer.android.com/reference/android/content/SharedPreferences.Editor.html#apply()

[2013-08-26 03:51] jerrellmardis opened #49 "Use ViewHolder Pattern in Adapters"
Use ViewHolder pattern in adapters in order to optimize view lookups and scrolling performance.

[2013-08-26 04:08] #12 closed, assigned to nobody

[2013-08-26 05:50] jerrellmardis opened #50 "Fix Pull-To-Refresh touch handling"
Dragging down on a card in the news screen (in portrait) does not trigger a pull-to-refresh action but dragging down on the outside edges of a card does.

Using a PullToRefreshLayout would solve this issue.

https://github.com/chrisbanes/ActionBar-PullToRefresh#pulltorefreshlayout

[2013-08-26 07:52] friedger opened #51 "+1 button in news unresponsive when not signed-in to G+"
After pressing the g+ button the progress bar keeps spinning
(Android 4.3)

[2013-08-26 08:08] friedger opened #52 "Crash on click share event when not signed-in to G+"
java.lang.IllegalStateException: PlusClient must be connected to create an interactive post.
        at com.google.android.gms.internal.x.a(Unknown Source)
        at com.google.android.gms.plus.PlusShare$Builder.<init>(Unknown Source)
        at org.gdg.frisbee.android.fragment.EventFragment.shareOnGplus(EventFragment.java:251)
        at org.gdg.frisbee.android.fragment.EventFragment.onClick(Eve

[2013-08-26 08:19] friedger opened #53 "Crash on click share event when not signed-in to G+"
java.lang.IllegalStateException: PlusClient must be connected to create an interactive post.
        at com.google.android.gms.internal.x.a(Unknown Source)
        at com.google.android.gms.plus.PlusShare$Builder.<init>(Unknown Source)
        at org.gdg.frisbee.android.fragment.EventFragment.shareOnGplus(EventFragment.java:251)
        at org.gdg.frisbee.android.fragment.EventFragment.onClick(Eve

[2013-08-26 08:20] #52 closed, assigned to nobody

[2013-08-26 08:24] friedger opened #54 "Link to community missing in news post"
As reported by @stefanhoth
https://plus.google.com/u/0/111333123856542807695/posts/N1sLnfnzs5b

[2013-08-26 09:07] #53 closed, assigned to friedger

[2013-08-26 09:23] #51 closed, assigned to nobody

[2013-08-26 10:33] #36 closed, assigned to friedger

[2013-08-26 13:36] friedger opened #56 "Show event title and link to g+ event in news stream"

[2013-08-26 16:02] friedger opened #58 "Add nav drawer navigation to top level view activities"
GDG, GDL, Pulse should have nav drawer navigation
Achievments can't get it because it is provided by the Gplus client

[2013-08-27 08:50] #58 closed, assigned to nobody

[2013-08-27 08:52] #37 closed, assigned to nobody

[2013-08-27 09:10] friedger opened #60 "Future events should be clickable"
Only the share button is clickable at the moment

[2013-08-27 09:11] friedger opened #61 "Use crouton for achievments toast"

[2013-08-27 09:16] friedger opened #62 "Seconds are shown in start date in widget"
As commented here by Eric
https://plus.google.com/u/0/107130354111162483072/posts/7i9Jxg22krM

[2013-08-27 23:20] #61 closed, assigned to nobody

[2013-08-27 23:21] #56 closed, assigned to nobody

[2013-08-27 23:21] #47 closed, assigned to jerrellmardis

[2013-08-27 23:22] #40 closed, assigned to nobody

[2013-08-28 19:02] friedger opened #67 "List of countries in Pulse not ordered"
The list should be ordered by distance or by continent or by alphabet.

[2013-08-28 19:04] friedger opened #68 "Widget does not have a button to enter the GDG app"
There should be an area to click to open the GDG app

[2013-08-28 19:10] friedger opened #69 "GDG app should provide global search results for GDGs"
There should be a search result provider such that it is easy to search for a GDG by name.

[2013-08-28 19:32] friedger opened #70 "Support installation on SDcard"

[2013-08-28 20:15] #62 closed, assigned to friedger

[2013-08-28 20:15] #70 closed, assigned to nobody

[2013-08-28 21:25] #15 closed, assigned to nobody

[2013-08-28 21:27] friedger opened #72 "Crash report: Not connected. Call connect() and wait for onConnected() to be called. GamesClient"
java_lang_illegalstateexception: Not connected. Call connect() and wait for onConnected() to be called.
    at com.google.android.gms.internal.p.n(Unknown Source)
    at com.google.android.gms.internal.p.o(Unknown Source)
    at com.google.android.gms.internal.bj.b(Unknown Source)
    at com.google.android.gms.games.GamesClient.unlockAchievement(Unknown Source)
    at org.gdg.frisbee.android.activ

[2013-08-28 21:29] friedger opened #73 "Crash report: NPE: NewsAdpater"
java.lang.NullPointerException
    at org.gdg.frisbee.android.adapter.NewsAdapter.populateShare(newsadapter_java:445)
    at org.gdg.frisbee.android.adapter.NewsAdapter.getView(newsadapter_java:224)
    at android.widget.AbsListView.obtainView(abslistview_java:2255)
    at android.widget.ListView.makeAndAddView(listview_java:1769)
    at android.widget.ListView.fillDown(listview_java:672)
    at a

[2013-08-28 21:30] friedger opened #74 "Crash report: NPE GdgListFragment.updateEmpty"
java.lang.NullPointerException
    at android.view.animation.AnimationUtils.loadAnimation(animationutils_java:71)
    at org.gdg.frisbee.android.fragment.GdgListFragment.updateEmpty(gdglistfragment_java:176)
    at org.gdg.frisbee.android.fragment.GdgListFragment.access$000(gdglistfragment_java:43)
    at org.gdg.frisbee.android.fragment.GdgListFragment$3.onChanged(gdglistfragment_java:154)
    at

[2013-08-28 21:50] #73 closed, assigned to nobody

[2013-08-28 21:54] #49 closed, assigned to nobody

[2013-08-28 22:03] #67 closed, assigned to mauimauer

[2013-08-28 22:07] #74 closed, assigned to friedger

[2013-08-28 22:08] #72 closed, assigned to nobody

[2013-08-28 23:27] friedger opened #75 "Progress icon only shows static grey on Nexus One"
There is no visible indication that something is happening in the background.

[2013-08-28 23:32] #60 closed, assigned to friedger

[2013-08-28 23:46] friedger opened #76 "Widget preview icon should show more content"
Currently, it only contains the GDG logo at the left.

[2013-08-29 21:20] friedger opened #78 "Show list of DevFests"
During devfest season, there should be a separate item in the menu drawer that lists all devfests.

[2013-08-30 20:17] przybylski opened #88 "Create a ContentProvider"
And implement this backend as Provider, this way it can be more consistent with platform and easly extendable.

(original title:Move cache backend to database instead of filesystem)

[2013-08-30 21:25] przybylski opened #90 "App ocasionaly crash on server response other than 200"
It would require to add some sophisticated error handling in places where communication can fail

[code]

[2013-08-31 01:19] #69 closed, assigned to mauimauer

[2013-08-31 16:26] przybylski opened #93 "Create transifex project to improve translation process"
Right now translation process is done by merge requests but transifex provides a easy way to import/export string data from android project to web application where anyone (with proper rights) can translate it.

[2013-08-31 17:03] #93 closed, assigned to nobody

[2013-09-01 14:28] przybylski opened #98 "Pressing back when video plays finishes Developer Live Activity"
When pressing back on video playback only video playback should close, instead Google Developer Live Activity is also closed and returns to DrawerActivity

[2013-09-02 00:32] #78 closed, assigned to nobody

[2013-09-02 07:29] friedger opened #100 "NPE on share on G+"
java.lang.NullPointerException
at org.gdg.frisbee.android.fragment.EventFragment.shareOnGplus(EventFragment.java:202)
at org.gdg.frisbee.android.fragment.EventFragment.onClick(EventFragment.java:193)

[2013-09-02 07:31] friedger opened #101 "Illegal State on Error in FirstStartActivity"
java.lang.IllegalStateException: Fragment FirstStartStep1Fragment{4152d490} not attached to Activity
at android.support.v4.app.Fragment.getResources(Fragment.java:571)
at android.support.v4.app.Fragment.getString(Fragment.java:593)
at org.gdg.frisbee.android.fragment.FirstStartStep1Fragment$2.onErrorResponse(FirstStartStep1Fragment.java:129)
at com.android.volley.Request.deliverError(Request.java:

[2013-09-02 07:33] friedger opened #102 "Illegal Argument when updating last location"
Caused by: java.lang.IllegalArgumentException: no providers found for criteria
at android.os.Parcel.readException(Parcel.java:1429)
at android.os.Parcel.readException(Parcel.java:1379)
at android.location.ILocationManager$Stub$Proxy.requestLocationUpdatesPI(ILocationManager.java:692)
at android.location.LocationManager._requestLocationUpdates(LocationManager.java:853)
at android.location.LocationM

[2013-09-02 07:40] #100 closed, assigned to friedger

[2013-09-02 07:49] #102 closed, assigned to nobody

[2013-09-06 08:05] friedger opened #111 "Welcome the organizer of a GDG with a special message"
When the user is one of the organizers of the user's home GDG set a flag and a message to congratulate for the great work.

In the future, the gdg manager will have an extra menu for additional actions.

[2013-09-26 14:17] #98 closed, assigned to nobody

[2013-09-26 18:38] przybylski opened #117 "Cleanup library dependencies"
GDG application has a lots and lots of dependencies to link with when building application. As a result installed binary size is over 9MB.
For instance I/O application which provides similar functionality takes 5MB when installed.
Conclusion: installed binary size should be reduced as much as possible. Some of linked library are simple to eliminate and replaced with app level functionality.

[2013-10-05 20:45] yurihov opened #120 "HELP!"
Hello, i'm from Brazil, and i liked a lot of this project. I wanna study it - perhaps contribute to -  but i downloaded the project, and has various errors. I want to know what are the libraries that I download.
I am new to Java. And I'm studying to obtain a certificate

[2013-11-09 14:17] #120 closed, assigned to nobody

[2013-11-09 14:23] friedger opened #122 "Allow users to add their own Android apps to their local profile/GDG"
This issue is about the UI on frisbee, not the server code on the GDG-x hub.

The app should provide an intent filter for sharing android apps. The package name of shared apps are stored as preference in the app (and later uploaded to the GDG-x hub.

The preferences show a list of registered apps and allow to remove an app, to mark an app as public

[2013-11-09 14:32] friedger opened #123 "Sync public apps of the user's profile with the GDG-x hub"
After changing the preferences of the user's apps, sync this data with the hub

[2013-11-26 13:48] neojato opened #125 "Vanity URLs are not pulled in for organizers"
If an organizer has a (Google+) vanity URL used on their GDG page, the GDG app does not pull them in on the list of organizers for the GDG.

[2013-12-24 05:43] NinjaComics opened #126 "Bug: Frisbee app shuts down unexpectedly !"
Hello,
         I have installed GDG Frisbee app a day ago and whenever I open it, it closes unexpectedly. The problem generally occurs when I scroll down the app.

[2014-02-25 23:50] mauimauer opened #127 "Move Frisbee to Gradle"
Android's Gradle integration has matured since I last looked into moving Frisbee over from our current Maven based build process.

53c25369c8f89249ebae9e2e10924e8bb374ea1a contains the first commit towards gradleifying Frisbee.

[2014-03-16 00:24] colabug opened #128 "Update the maven android plugin to enable maven 3.1.1"
Unable to build with the current master branch. When I upgrade the plugin to 3.8.0, I can start the build. There's a separate issue with building and will be logged separately.

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 1.425s
[INFO] Finished

[2014-03-16 00:30] colabug opened #129 "Build hangs on joda time"
When I run the build (after upgrading to maven 3.1.1 as mentioned in my previous issue), it hangs on this URL: http://gdg-x.hp.af.cm/m2/org/joda/joda-convert/1.2/joda-convert-1.2.pom. This URL doesn't appear to be valid when dumping it into a browser. Can we use joda time in maven central (http://search.maven.org/#search%7Cga%7C1%7Cjoda-time)?

[code]

When I kill the repository lines in `app/pom.

[2014-03-17 12:51] #129 closed, assigned to nobody

[2014-03-17 13:12] colabug opened #130 "Onboarding documentation should be clear for new contributors"
Here's a great overview of how to contribute code from another project:

https://contribute.jquery.org/commits-and-pull-requests/

The README should include project specific tooling (e.g. maven and maven SDK deployer) and steps to get the app building in different IDEs. It should also include any OS/Windows specific gotchas.

[2014-03-17 13:44] #128 closed, assigned to nobody

[2014-03-19 21:11] tasomaniac opened #134 "Library updates"
The app uses a couple of old version of libraries. Butterknife and ActionBar-PullToRefresh for example.

There are class differences and it is very hard to compile it.

[2014-04-21 18:39] friedger opened #136 "Add face recognition to help with names during an event"
Attendees should be able to take pictures from a person at an event and associate these with a name. In a later event, the app will show the name when they recognized that person.

https://developer.qualcomm.com/mobile-development/add-advanced-features/snapdragon-sdk-android/features/facial-recognition

So we can get rid of name badges.

[2014-04-21 18:56] friedger opened #137 "Port Frisbee to Nokia X Platform"
Notifications need to be updates:
http://developer.nokia.com/nokia-x/nokia-apis/nokia-notifications

[2014-04-22 20:09] friedger opened #138 "List Google I/O extended events instead of dartflight school"
Use io14extended

[2014-05-05 21:13] #126 closed, assigned to nobody

[2014-05-09 19:37] #138 closed, assigned to nobody

[2014-05-18 19:33] friedger opened #140 "Move keys into gradle property file"

[2014-05-18 20:57] #125 closed, assigned to mauimauer

[2014-05-18 21:01] #88 closed, assigned to nobody

[2014-05-18 21:01] #75 closed, assigned to nobody

[2014-05-18 21:02] #38 closed, assigned to nobody

[2014-05-23 17:22] #130 closed, assigned to nobody

[2014-05-23 17:47] #134 closed, assigned to nobody

[2014-05-23 17:48] #127 closed, assigned to mauimauer

[2014-05-23 17:49] #101 closed, assigned to nobody

[2014-05-23 17:50] #50 closed, assigned to nobody

[2014-05-23 19:42] #117 closed, assigned to nobody

[2014-06-02 12:52] #137 closed, assigned to nobody

[2014-06-04 06:37] rac2030 opened #147 "string encoding in chapter names"
String encoding in chapter names is wrong for special characters.
See Zürich as example.

[2014-06-09 20:38] #76 closed, assigned to nobody

[2014-06-09 20:42] #147 closed, assigned to nobody

[2014-09-16 02:29] joshuawoodward opened #153 "Remove GDL"
Appears GDL is no longer a thing. The section in frisbee is now empty. Remove link from side menu, until a replacement is found.

[2014-11-30 20:55] #153 closed, assigned to nobody

[2014-12-18 16:53] stefanhoth opened #157 "Development: Show AlertDialog if API keys are missing"
If you are building frisbee locally after cloning it from github you'll get a working version but it's not able to fetch data from G+ since there are no API keys in `src/main/res/values/keys.xml`.

Although one can see the failure in the log there should be an `AlertDialog` notifying the user that the functionality is broken due to that fact.

[2014-12-18 22:17] #157 closed, assigned to stefanhoth

[2014-12-19 08:17] friedger opened #159 "Add link to crowdin page"
We received an open source license for crowdin and should promote that to our users.

[2014-12-19 12:36] tasomaniac opened #162 "Acknowledge Crowdin translators in the app."
After the Crowdin integration, acknowledging the contrubitors to the app translation will be gone.

We can use Crowdin API to have this functionality again.
And we may also have 2 separate sections in the list of contributors in the app like `Contributors` and `Translators`

[2014-12-19 12:42] mauimauer opened #163 "Fix GDG Pulse"
This has been broken for quite some time.

[2015-01-10 11:25] friedger opened #164 "Update action bar to material design"

[2015-01-10 11:33] friedger opened #165 "For events add support for physical web information"
Imagine each GDG has a uriBeacon (https://github.com/google/uribeacon) and places it at the location/building of the event on the day of the event. Attendees of the event get then through the uriBeacon a direct link to the event when they enter the location/building.

The uri is be the gdg.events url of the chapter.

The organizer can enable uriBeacon support for their events on the hub page.

Fri

[2015-01-10 20:08] friedger opened #166 "App crashes when browsing GDE directory"
It crashes sometimes with this stacktrace

java.lang.RuntimeException: An error occured while executing doInBackground()
            at android.os.AsyncTask$3.done(AsyncTask.java:299)
            at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:352)
            at java.util.concurrent.FutureTask.setException(FutureTask.java:219)
            at java.util.concurrent.FutureTask.run

[2015-01-10 20:10] joaobiriba commented on #166
Often during the visualization of GDE tabs

[2015-01-10 20:33] #166 closed

[2015-01-11 20:38] tasomaniac commented on #165
I think we should have a events section in the application. Or we can even have a separate application (iosched fork) for GDG events.

In the DevFest session, all the GDGs used iosched fork for their events. We used www.conferenceengineer.com for GDG DevFest Istanbul. It was really helpful. We converted the schedule data we build for Project Zeppelin.

I think we should have common GDG Event Sched

[2015-01-11 21:03] friedger commented on #165
Currently, the hub and developers.google.com does not support any kind of
agenda. This is a prerequisit to get a scheduler app like iosched clone.

Maybe we can convince Al to merge conferenceengineer into the hub :-)

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-01-11 21:38 GMT+01:00 Said Tahsin Dane <notifications@github.com>:

[2015-01-12 15:09] tasomaniac commented on #165
I wish. :) Do you think we can?

On Sun Jan 11 2015 at 4:04:02 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-01-30 21:55] mauimauer opened #168 "Integrate with Google Now"
See: http://insidesearch.blogspot.com.tr/2015/01/google-app-update-get-now-cards-from.html

[2015-02-02 17:21] HenriqueRocha opened #170 "Replace ViewPagerIndicator with new PagerTitleStrip"
## Problem

Currently we're using JakeWarton's ViewPagerIndicator which is somewhat deprecated in terms of design.

![viewpagerindicator](https://cloud.githubusercontent.com/assets/140122/6250979/21121126-b789-11e4-8476-88bf5c473328.png)

## Proposed solution

Replace ViewPagerIndicator with the more recent UI used in the Materialized apps:

![slidingtabs](https://cloud.githubusercontent.com/asset

[2015-02-02 17:22] HenriqueRocha commented on #170
I can work on this if no one has any objection.

[2015-02-02 18:03] friedger commented on #170
Let the Pull Requests coming :-)

[2015-02-02 22:23] tasomaniac commented on #170
This would be a great improvement.

On Mon Feb 02 2015 at 8:03:42 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-02-04 16:06] HenriqueRocha commented on #170
I already did some work on this but I'm having some trouble in the activities which change the view pager indicator contents after it sets the pager in it. I'll have to figure out how to fix that.
I'm using SlidingTabLayout and SlidingTabStrip from the iosched app.
You can check in my feature/replace-viewpagerindicator branch if you want.

[2015-02-04 16:42] HenriqueRocha opened #171 "Replace cards where they should not be used"
Since now there are guidelines for when to use cards, I propose that cards should be replaced with tiles where relevant. For example, in the grid of contributors and GDEs.
It will make the app more visually appealing IMHO.
I can work on this issue on my free time if no one has anything against it since it looks like a fairly straightforward change.

[2015-02-04 21:58] friedger commented on #171
All contributions are welcome.

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-02-04 17:42 GMT+01:00 Henrique Rocha <notifications@github.com>:

[2015-02-05 16:57] tasomaniac commented on #163
:arrow_up: :arrow_up: :arrow_up:

[2015-02-05 17:01] tasomaniac opened #173 "Chorest / Checkstyle integration"
I love this integration.
https://gradle.org/docs/current/userguide/checkstyle_plugin.html

As the number of contributers to the app is growing, how many people think that we should have something like this to have the same style consistency in the code.

Since the codebase is already big, it will be hard to apply all the checkstyle but we can have some eg location of the curly brackets, parenthese

[2015-02-05 22:09] HenriqueRocha commented on #90
Is this still an issue? I've been using the app without API keys and it never crashed!

[2015-02-05 22:13] #90 closed

[2015-02-05 22:14] HenriqueRocha commented on #173
:+1:

[2015-02-05 22:20] HenriqueRocha opened #174 "Update navigation drawer to Material Design guidelines"
## Problem
Currently the app uses an old UI for the navigation drawer.

![old_nav_drawer](https://cloud.githubusercontent.com/assets/140122/6305994/715f8d44-b927-11e4-99f4-12a6c349e80d.png)

## Proposed solution
Implement the navigation drawer according to the new Material Design guidelines.
![patterns_navdrawer_settings3](https://cloud.githubusercontent.com/assets/140122/6306007/89282706-b927-11e

[2015-02-08 07:21] friedger commented on #168
@mauimauer Do you see any possibility that this is gonna happen?

[2015-02-08 08:00] HenriqueRocha commented on #164
I'm going to work on this one.

[2015-02-08 20:50] #164 closed

[2015-02-08 21:02] friedger opened #182 "Remove license text from individual files"
Remove all license text from individual files that has been created by this project.

[2015-02-08 22:21] mauimauer commented on #173
+1

[2015-02-08 22:23] mauimauer opened #183 "Fix SSL communication with Hub API"
Tracked upstream at gdg-x/hub#27

[2015-02-08 22:26] mauimauer commented on #183
![](http://media.giphy.com/media/MHBxC3uR71Yyc/giphy.gif)

[2015-02-08 22:26] #183 closed

[2015-02-09 06:46] friedger opened #184 "Update android build tool gradle plugin to 1.1.0 and add some unit tests"
Just to make a good example :-)

[2015-02-09 06:49] stefanhoth commented on #173
Unfortunately the out-of-the-box integration doesn't work with the android-gradle plugin.

The workaround is to create a custom task that uses the plugin's classes as described here:
[Blog post](http://qvdev.github.io/android/2014/02/24/android-gradle-static-analyzers.html)

I asked the tools team last week [G+ post](https://plus.google.com/111333123856542807695/posts/LN3Be44BQe7) and the status i

[2015-02-09 07:46] tasomaniac commented on #173
But still, it is not hard to do. We are using it and it is really helpful.

You just add a task into the main build.gradle file. And that define build
depends on checkstyle.

The problem is when we integrate it, there will be lots of things to fix.
And it is not very fun thing to do :)

On Mon Feb 09 2015 at 8:49:22 AM Stefan Hoth <notifications@github.com>
wrote:

[2015-02-09 08:40] stefanhoth commented on #173
Yes, I didn't want to shoot you down, just saying that it's a bit more work than "apply plugin".

If you have time, you can go for it.

[2015-02-09 09:00] stefanhoth opened #185 "Create auto-updates for the Alpha Channel"
Since the release of the [HTTP Upload API for the Play Store](https://developers.google.com/android-publisher/) we can automate the release of builds into the Play Store.

As a start we could use the Alpha Channel to upload successful builds of the develop branch. I'd suggest to allow the GDG Sandbox community to be alpha testers.

For easy integration we could use [this gradle plugin](https://git

[2015-02-09 09:26] HenriqueRocha commented on #182
Instead of removing, shouldn't we just create one single commit that updates the copyright of all the files?
It's a pretty straightforward "replace all".

[2015-02-09 09:26] tasomaniac commented on #185
Great idea. This can be a blog post as well, once it is done. It would be a great example.

[2015-02-09 09:27] HenriqueRocha commented on #185
:+1:

[2015-02-09 20:06] HenriqueRocha commented on #174
I'll start working on this issue today on my free time. It might take a bit to implement because I'm moving to London for two weeks but I'll create a PR as soon as it's ready.

[2015-02-09 23:18] HenriqueRocha opened #186 "Replace old pull to refresh with new one"

[2015-02-10 11:11] ViliusKraujutis opened #189 "Define constants to use for putting and retrieving arguments"
In my company's A-Team, we always define constants for putting and retrieving values from `getArguments()`.

I've noticed it's not practiced here: https://github.com/gdg-x/frisbee/pull/188#discussion_r24403811

I'd like to fix this. What do you think guys if (e.g. in [this file](https://github.com/HenriqueRocha/frisbee/blob/feature/186_pull_to_refresh/app/src/main/java/org/gdg/frisbee/android/frag

[2015-02-10 11:14] HenriqueRocha commented on #189
:+1:

[2015-02-10 23:08] HenriqueRocha opened #190 "Choose between Volley or Picasso for image loading"
Right now the app uses both Volley and Picasso for image loading.
Which one do you think we should use and why?
I'll remove the one we exclude.

[2015-02-10 23:13] friedger commented on #190
Volley is used for the API calls, hence, I suggest to remove Picasso.

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-02-11 0:08 GMT+01:00 Henrique Rocha <notifications@github.com>:

[2015-02-11 09:00] tasomaniac commented on #190
I don't like how Volley handles image loading personally. There are even
libraries that make it look like Picasso api. Picasso is really lightweight
to use.

On Wed, Feb 11, 2015, 1:13 AM Friedger Müffke <notifications@github.com>
wrote:

[2015-02-11 09:04] friedger commented on #190
What do you don't like in particular? We can write a wrapper if needed or
so. We only need default behavior...
Am 11.02.2015 10:00 schrieb "Said Tahsin Dane" <notifications@github.com>:

[2015-02-11 15:05] HenriqueRocha commented on #190
I also don't like Volley's API for dealing with images but I believe that removing one of them will probably end the out of memory errors that I sometimes get. I suppose it's because the app is using two different bitmap caches.

[2015-02-11 15:51] mauimauer commented on #190
I would encourage a move to OkHttp + Retrofit + Picasso, for Image Loading and all other API implementations.

[2015-02-11 16:02] HenriqueRocha commented on #190
:+1: to use Square libs

[2015-02-11 18:16] HenriqueRocha commented on #190
Pull request #192 should close this issue by moving to Picasso.

[2015-02-12 22:19] tasomaniac opened #193 "Background problem."
As you can see in this link, one of the 9 patch backgrounds are broken. I am using Nexus 6. I think it is also the same when I use LG g3.

![image](https://cloud.githubusercontent.com/assets/45467/6316523/58fe3414-ba29-11e4-81f6-deff90900357.png)

[2015-02-16 10:20] #190 closed

[2015-02-16 13:29] tasomaniac commented on #182
Should we close this?

[2015-02-16 13:31] tasomaniac commented on #185
There is a plugin for Jenkins to do this after a build but I couldn't find for Travis. We can use that gradle plugin though.

[2015-02-16 13:36] stefanhoth commented on #185
It should be part of the build, not the build server. So I'd prefer to have it in gradle anyway. :smile:

[2015-02-16 14:09] tasomaniac commented on #185
makes sense. :100:

[2015-02-17 23:30] HenriqueRocha commented on #170
My work on this issue is finally finished. Since I left the branch on hold for a while the rebase caused a lot of conflicts. I'm going to clean up a bit and create a PR. One step closer to Materializing the app. :+1:

[2015-02-17 23:33] HenriqueRocha commented on #163
@friedger This can now be closed since you've already merged #197 :+1:

[2015-02-17 23:35] HenriqueRocha commented on #182
@friedger This can also be closed since you've already merged #187 :+1:

[2015-02-17 23:39] HenriqueRocha commented on #186
@stefanhoth Feel free to close this issue once you merge #188

[2015-02-18 07:19] #186 closed

[2015-02-18 07:24] stefanhoth commented on #186
@HenriqueRocha Please add a meaningful description the next time, e.g. a link to the updated version, a blog post etc. Makes it easier to understand your task.

[2015-02-18 11:51] tasomaniac commented on #111
I am starting to work on this. I will show a simple dialog.
Anybody have something cool in mind? Like a badge, logo to include in the welcome dialog? Or a welcome gif?

[2015-02-18 12:03] HenriqueRocha commented on #111
Maybe an overlay with some nice image with a button saying "You're awesome!" :D

[2015-02-18 13:03] tasomaniac commented on #111
@friedger I saw your congrats branch doing some work on this. I suppose it just shows a Toast message. Should I continue on that?

[2015-02-20 17:26] HenriqueRocha commented on #170
This should be closed when #207 is merged.

[2015-02-21 18:20] #170 closed

[2015-02-21 23:26] stefanhoth commented on #193
@tasomaniac Github supports inline images, even upload via copy&paste. Hope you don't mind correcting your issue.

[2015-02-21 23:26] stefanhoth commented on #184
:+1:

[2015-02-21 23:27] stefanhoth opened #208 "GDG Spinner: Background and font have no contrast"
Moto X (1st Gen) with Android 4.4.4

![image](https://cloud.githubusercontent.com/assets/45467/6316527/8825fa92-ba29-11e4-9992-2dbdecdcb75d.png)

[2015-02-21 23:33] stefanhoth commented on #208
Also confirmed for 5.0 with Nexus 6 on Genymotion

![image](https://cloud.githubusercontent.com/assets/45467/6316543/6fadcaac-ba2a-11e4-9663-3950c8da14b0.png)

[2015-02-21 23:53] mauimauer commented on #208
I's day let's make the spinner dropdown white.

[2015-02-21 23:56] tasomaniac commented on #208
Removing that Spinner is also a good idea. :)

On Sun Feb 22 2015 at 1:53:48 AM Sebastian Mauer <notifications@github.com>
wrote:

[2015-02-21 23:57] mauimauer commented on #208
@tasomaniac How would you choose a specific GDG then? I know that AB/TB Spinners are discouraged now...but I'd rather have it there than in the NavDrawer.

[2015-02-21 23:58] tasomaniac commented on #193
No problem. I think I created this issue on Github Android App. That's why it was like that.

[2015-02-21 23:59] tasomaniac commented on #208
You set it when you first open the app. And then you can change it in the Settings. :)

[2015-02-22 00:00] mauimauer commented on #208
@tasomaniac uhm no...I know a lot of people who try to stay on top of the news and events of multiple GDGs in their region. That's why we have the Spinner AND a home GDG setting.

[2015-02-22 00:03] HenriqueRocha commented on #208
I will fix that as part of my new implementation of the new navigation
drawer.
On 22 Feb 2015 00:00, "Sebastian Mauer" <notifications@github.com> wrote:

--
Disclaimer: The information in this e-mail and any attachments is the
property of Novoda Ltd and is confidential and may be legally privileged.
This e-mail is intended solely for the person or organisation to which it
is addressed. Any disclos

[2015-02-22 00:20] HenriqueRocha commented on #208
Completely new implementation of the navigation drawer should be finished by next Sunday. I'll have to replace the action bar with the new toolbar and I'll take the time to fix the spinner too.

[2015-02-22 07:53] friedger commented on #208
What ever your urge is (I'll have to...) could you open an issue for that and explain what you would like to change? I like to see the toolbar but are there technical constraints for replacing action bar by toolbar? It could be fixed by changing the theme as in #210

[2015-02-22 07:56] #182 closed

[2015-02-22 07:57] #163 closed

[2015-02-22 07:58] friedger opened #211 "Use IO Extended as special events"
The special events should be updated for IO extended 2015 events

[2015-02-22 08:01] HenriqueRocha commented on #208
It's not about urge. It's about the technical details of the action bar. The action bar belongs to the window so the navigation drawer can't be drawn on top of it and should be below the status bar. According to the new guidelines the navigation drawer should be on top of the action bar and that is not possible unless you use a toolbar.

[2015-02-22 08:48] friedger commented on #208
Ah, we have the issue already https://github.com/gdg-x/frisbee/issues/174

@HenriqueRocha Sorry, about my wording. It was meant as a funny comment. Just ignore it.

I understand now the motivation :+1:
If the background of the navdrawer has the same background as the action bar I think that it meets the guidelines as well. To be continued at #174

[2015-02-22 08:50] friedger commented on #193
Is this issue still valid?

[2015-02-22 08:51] friedger commented on #189
Assigned to @ViliusKraujutis :-)

[2015-02-22 11:05] friedger commented on #174
I think switching user is too much for the GDG app. In the top part of the drawer could go information from the Home GDG.

However, the dropdown in the news activity should remain as @mauimauer stated as well.

[2015-02-23 05:43] tasomaniac commented on #211
Or Android Study Jams? Or Women Techmakers? We can do extended after study
Jams.

On Sun, Feb 22, 2015, 9:58 AM Friedger Müffke <notifications@github.com>
wrote:

[2015-02-23 05:46] tasomaniac commented on #193
I cannot check it because the info page does not open because I don't have
the keys :(
It is still like this on the play store build.

On Sun, Feb 22, 2015, 10:50 AM Friedger Müffke <notifications@github.com>
wrote:

[2015-02-23 06:33] friedger commented on #211
In the long term, we just change the data on the hub.

Is there WTM happening globally? What is the time frame?

I can imagine to promote events on the main activity/chapter page either on
a regional level or chapter level. Again this should probably happen
through the hub.

As 2.0 will be hopefully released in mid/end march, study jam has partly
finished and it is 8 weeks before io extended, good

[2015-02-23 13:08] tasomaniac commented on #211
If we release the 2.0 at that time, it will be too late for Study Jams. WTM
events will happen during March. And yes it is global. Just like DevFest's
but not that big.

On Mon Feb 23 2015 at 8:33:26 AM Friedger Müffke <notifications@github.com>
wrote:

[2015-02-23 18:52] friedger commented on #211
So lets get a version ready for tag "wtm", probably best a branch from the currently released version, only with the special events updated.

[2015-02-23 21:14] friedger opened #214 "Use wtm as special events"

[2015-02-24 11:09] HenriqueRocha opened #216 "Replace Holo theme with Material theme"
## Problem
Currently the app still has legacy drawables of the Holo theme. Those are not necessary anymore by using the new Material theme.

## Proposed solution
Delete all the custom drawables that were generated for the Holo theme. Colors will be added automatically as part of the Material Theme by defining the appropriate primary and accent colors.

### Note
This will be done as part of #174 si

[2015-02-24 11:13] tasomaniac commented on #216
We have to be careful on this because Buttons are not included in AppCompat
support library. We shouldn't delete drawables for buttons

On Tue, Feb 24, 2015, 1:09 PM Henrique Rocha <notifications@github.com>
wrote:

[2015-02-24 11:14] HenriqueRocha commented on #216
Okay, I'll make sure that I don't break anything. I've just finished replacing the ActionBar with the Toolbar everywhere. It was a lot of work!

[2015-02-24 11:50] HenriqueRocha commented on #174
Progress on this issue is going well. I've replaced the ActionBar with the Toolbar everywhere.
I still have to take care of all the styles to make sure that everything looks nice on different versions of Android.

[2015-02-24 12:00] HenriqueRocha opened #217 "Drop support for SDK older than 16"
While implementing the new navigation drawer and getting more familiar with the code base I noticed many places where we're using code which requires API 11 or 14, even tough we're supporting API 10.

Due to the nature of this app, maybe it would be interesting to see the usage distribution of active users among the different APIs and maybe drop support for everything below 16 in the next version.

[2015-02-24 12:02] tasomaniac commented on #217
Finally :)

[2015-02-24 13:57] mauimauer commented on #217
Around 93% are on ore above level 16. So I guess it's ok to move up now.

2015-02-24 12:02 GMT+00:00 Said Tahsin Dane <notifications@github.com>:

[2015-02-24 13:58] HenriqueRocha commented on #217
Awesome, I'm going to change that.

[2015-02-24 14:22] tasomaniac commented on #217
Don't do it. I already did it.

[2015-02-24 14:37] tasomaniac opened #222 "Open Login page with a description for things that require login."
Instead of giving an error when the button is clicked,

open the Login page with an information about the clicked button, the feature and why login is necessary.

[2015-02-24 14:37] tasomaniac commented on #222
Can you assign this to me? ty

[2015-02-24 14:38] #217 closed

[2015-02-24 16:14] HenriqueRocha commented on #222
@tasomaniac I can't assign to you. :(

[2015-02-24 16:47] #184 closed

[2015-02-24 16:48] friedger commented on #214
fixed by #215

[2015-02-24 16:48] #214 closed

[2015-02-24 17:07] friedger commented on #222
Claiming by comment is the way to go as we would like to have contributions
from all over the world.
Am 24.02.2015 17:14 schrieb "Henrique Rocha" <notifications@github.com>:

[2015-02-25 12:00] #211 closed

[2015-02-25 12:26] friedger commented on #211
Super powers ☺
Am 25.02.2015 13:00 schrieb "Said Tahsin Dane" <notifications@github.com>:

[2015-02-25 13:56] tasomaniac commented on #211
:smile: :battery:

[2015-02-25 14:04] friedger opened #227 "Joy/Use retrofit for hub api calls"

[2015-02-25 14:06] mauimauer commented on #227
How is that a chore? It's joyful to use Retrofit to access the beautifully
crafted Hub API

On Wed, 25 Feb 2015 14:04 Friedger Müffke <notifications@github.com> wrote:

[2015-02-25 14:12] friedger commented on #227
I am sorry, but you are already assigned to a different task and I will enjoy it!

[2015-02-25 14:15] tasomaniac commented on #227
Why there is no like for comments in GitHub :)

[2015-02-26 10:17] friedger commented on #174
@HenriqueRocha Have you seen this https://github.com/mikepenz/MaterialDrawer

[2015-02-26 10:25] HenriqueRocha commented on #174
@friedger Not yet, but I'll have a look. Anyway, I've already done so much work in the nav drawer as you can see from my latest PR that it might not be of much help at this point.

[2015-02-26 10:55] tasomaniac commented on #174
I saw that library, but I don't like such libraries. It is super easy to make a Nav Drawer with this library but you have to use their implementation and it will be pain in the neck when you want change a look of something. I think we should implement ourselves.

[2015-02-26 13:43] friedger commented on #174
Maybe we have the discussion about libs somewhere else :-)

[2015-02-26 16:03] tasomaniac commented on #193
Update on this issue:
I have the keys now and I opened the app with the latest development branch.
The portrait mode is replaced with support library cards. But the landscape mode is still the same.

If we replace all places with new cards, this issues will be closed.
But there is a new problem now. Because of the paddings, new cards look really ugly. :crying_cat_face:

[2015-02-26 19:39] friedger opened #233 "Redo icons for material nav drawer"
Redo icons for nav drawer

[2015-02-26 19:41] friedger opened #234 "Add visual highlight to the material nav drawer"
There should be an image of the home gdg or just the logo of the app if no home gdg was selected.
The users account name should be visible as well.

[2015-02-26 21:16] tasomaniac commented on #234
As you said before, I also think that there is no need for a user switcher.
But having the account name and using that account name area for login would be great. Because right now, if a user skips at setup, they have to go to the settings.

[2015-02-26 21:19] tasomaniac opened #236 "Re-add help to the nav drawer"

[2015-02-26 21:28] tasomaniac opened #237 "Fix CardView visual issues"
Go through all of the CardView usages and see how they look like both in portrait, landscape, phones and tablets.
And fix visual issues like paddings, contentpaddings

[2015-02-26 21:58] friedger commented on #159
Fixed in https://github.com/gdg-x/frisbee/commit/a51a441e325932276aebfd1f00af037109f64eb7

[2015-02-26 21:58] #159 closed

[2015-02-26 22:26] HenriqueRocha commented on #208
Fixed with PR #230

[2015-02-26 22:26] #208 closed

[2015-02-27 06:11] friedger opened #238 "Login with G+ results infinite loop when it fails"
When the user first uses the app and chooses to login with g+ then after the 3rd step the applications tries to sign in again and again but fails to get a token with the error "sign_in_required".

[2015-02-27 07:28] tasomaniac commented on #238
I thought it was because of `hub_client_id` is missing. Because it fails to login and I've researched and found that it is caused when client id is wrong/missing.

[2015-02-27 08:52] friedger commented on #238
fixed

[2015-02-27 08:52] friedger commented on #238
but the experience for developers is still bad :-1:

[2015-02-27 18:53] friedger commented on #140
fixed by https://github.com/gdg-x/frisbee/pull/231

[2015-02-27 18:53] #140 closed

[2015-02-27 18:54] friedger commented on #185
added in https://github.com/gdg-x/frisbee/commit/34691e912d25bc276abd1fca1e8029b0fa2cb5d1

So it is now just a question of configuration

[2015-02-27 19:02] friedger opened #240 "App crashes when rotating device while loading Pulse"
GIVEN the user launches the app the first time (is this required?)
WHEN the user clicks on the nav drawer on pulse and rotates the device
THEN the pulse should be shown in the correct orientation

Currently, the following exception occurs

W/System.err(17508): java.io.IOException: Invalid name: org.gdg.frisbee.android.api.model.Pulse<java.lang.String,org.gdg.frisbee.android.api.model.PulseEntry>
W

[2015-02-27 19:08] friedger opened #241 "While loading news of a chapter no loading animation is shown"

[2015-02-27 21:32] stefanhoth commented on #185
@friedger are you able to provide the credentials I need to prepare this?

[2015-02-28 08:48] friedger opened #242 "GDE list uses outdated data"
E.g. comparing Android GDE in the app with the web site https://developers.google.com/experts/all/technology/android, there are missing a lot.

[2015-02-28 08:49] friedger commented on #242
Currently, the data is fetched from https://gde-map.appspot.com/gde/list

[2015-02-28 08:52] friedger commented on #242
Actually it is only a space in "Android "

[2015-02-28 08:55] #242 closed

[2015-02-28 09:17] friedger opened #243 "Redesign event series activity"

[2015-02-28 09:32] tasomaniac commented on #243
Thank you. It is almost finished.

[2015-02-28 10:00] friedger commented on #243
I thought so and just wanted to make it more visible that you are working
on it.

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-02-28 10:32 GMT+01:00 Said Tahsin Dane <notifications@github.com>:

[2015-02-28 10:16] tasomaniac commented on #243
Thank you

On Sat, Feb 28, 2015, 12:00 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-02-28 10:36] #236 closed

[2015-02-28 10:38] HenriqueRocha commented on #236
@friedger Why did you close this?

[2015-02-28 10:40] friedger commented on #236
has been added in the commit referenced above.

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-02-28 11:38 GMT+01:00 Henrique Rocha <notifications@github.com>:

[2015-02-28 10:41] HenriqueRocha commented on #236
:+1:

[2015-02-28 11:28] friedger opened #245 "Remove duplicate code from InfoFragment"
InfoFragment uses the same code as GgdNavDrawerActivity to retrieve chapter information. InfoFragment should use the gplus client of the activity.

[2015-02-28 11:29] friedger opened #246 "Improve access to Preferences"
Maybe remove "gdg" preferences and use DefaultSharedPreferences

or create an GDGPreferenceObject that wraps the "gdg" preferences

[2015-02-28 11:37] HenriqueRocha commented on #233
What do you guys think about these icons? @friedger @tasomaniac @stefanhoth
![device-2015-02-28-123437](https://cloud.githubusercontent.com/assets/140122/6426044/6526df9e-bf46-11e4-918f-26ed4096649f.png)

If you like them I'll create PR with them.

[2015-02-28 13:32] stefanhoth commented on #233
These look cool. :+1: where are they from?

[2015-02-28 13:34] HenriqueRocha commented on #233
The WTM I had to do it myself in GIMP, but the others are from the released
material icons by Google.
On 28 Feb 2015 14:32, "Stefan Hoth" <notifications@github.com> wrote:

--
Disclaimer: The information in this e-mail and any attachments is the
property of Novoda Ltd and is confidential and may be legally privileged.
This e-mail is intended solely for the person or organisation to which it
is add

[2015-02-28 14:23] friedger commented on #233
The Arrow icon could be more gamish maybe use av/Games from https://google.github.io/material-design-icons/

The academic hat (school) might fit better for the study jam.

Then for experts the mentoring icon (as used on https://developers.google.com/experts/about) could be used

[2015-02-28 14:24] friedger commented on #233
Do you have an icon for Google I/O extended?

[2015-02-28 14:31] friedger opened #248 "Use white font and white hamburger icon in action bar"

[2015-02-28 14:32] HenriqueRocha commented on #233
No, I also have to create that one myself. I'll do it when I arrive home
and apply your suggestions also. :+1:
On 28 Feb 2015 15:24, "Friedger Müffke" <notifications@github.com> wrote:

--
Disclaimer: The information in this e-mail and any attachments is the
property of Novoda Ltd and is confidential and may be legally privileged.
This e-mail is intended solely for the person or organisation to wh

[2015-02-28 19:15] #216 closed

[2015-02-28 21:08] friedger opened #249 "Clicking on the home chapter image results in clicks on the underlying activity"
Probably the image needs to be clickable.

[2015-02-28 22:40] mauimauer commented on #233
Awesome choice. Don't want to be picky here but the WTM icon seems to have some rough edges (on the bottom part of the W. I wonder if that happened when you scaled down the icon.

[2015-02-28 22:41] mauimauer commented on #246
But beware: you might want to have a proper migrate function (ie. on versionCode jump, move settings out of the old pref instance) or this might screw things up

[2015-02-28 23:03] mauimauer opened #250 "Arrow goes to Settings"
Clicking on Arrow in the NavigationDrawer takes me to Settings for some reason. Pressing back brings me to the Arrow Activity.

[2015-03-01 00:13] HenriqueRocha commented on #233
@mauimauer I don't now what happened. Do you have a big version of the icon? Maybe I didn't activate the anti-aliasing option when I painted the icon grey. My design skills with GIMP are ultra basic. :(

[2015-03-01 00:57] friedger commented on #246
Do you have a motivation for using "gdg" instead of the default ones?
I don't care if it is only in on place defined.

[2015-03-01 01:18] #233 closed

[2015-03-01 02:24] HenriqueRocha commented on #248
I wasn't expecting this issue to be so hard! This took me much longer than I was expecting. I think I finally have a solution for showing the selected item of the spinner in white text.

[2015-03-01 07:21] #248 closed

[2015-03-01 07:22] friedger commented on #193
We have an issue about the padding. Closing this one.

[2015-03-01 07:22] #193 closed

[2015-03-01 07:23] friedger commented on #193
This is the related issue https://github.com/gdg-x/frisbee/issues/237

[2015-03-01 07:25] friedger commented on #250
This should only happens when you are not logged in

[2015-03-01 09:14] friedger opened #254 "Spinner in FirstActivity is white on light background"
![device-2015-03-01-090343](https://cloud.githubusercontent.com/assets/1449049/6430089/c9beae90-bffb-11e4-973b-16edeba32488.png)

[2015-03-01 09:15] friedger opened #255 "App crashes when clicking on a chapter item in Pulse"
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'com.google.api.services.plus.model.Person org.gdg.frisbee.android.activity.GdgNavDrawerActivity.getPerson(java.lang.String)' on a null object reference
            at org.gdg.frisbee.android.fragment.InfoFragment$4.doInBackground(InfoFragment.java:124)
            at org.gdg.frisbee.android.fragment.InfoFragment$4.doInBac

[2015-03-01 10:10] friedger commented on #255
fixed in #251

[2015-03-01 10:10] #255 closed

[2015-03-01 11:02] ViliusKraujutis commented on #189
:+1:

[2015-03-01 12:21] tasomaniac commented on #246
I think we can continue using "gdg" as the preferences. The problem was I
think manually writing "gdg" string everytime we use. If we can have a
utility class that controls sharwdprefs, isn't it enough?

On Sun, Mar 1, 2015, 2:57 AM Friedger Müffke <notifications@github.com>
wrote:

[2015-03-01 12:24] tasomaniac commented on #193
Makes sense.

On Sun, Mar 1, 2015, 9:23 AM Friedger Müffke <notifications@github.com>
wrote:

[2015-03-01 14:56] tasomaniac opened #256 "Greetings notification about new special event series."
We now have times. It would be great to issue a notification when IO Extended starts.

[2015-03-01 16:37] friedger commented on #254
This is only true on Lollipop

[2015-03-01 16:40] friedger opened #257 "Update translations for Release 2.0"

[2015-03-01 16:42] friedger commented on #174
Implemented by #253 #252 #247 #244

[2015-03-01 16:49] HenriqueRocha commented on #174
This is not done yet. I'm still working on this. :)

[2015-03-01 17:13] HenriqueRocha commented on #234
I worked on this today and will work more later today. Hopefully I'll be able to submit a PR for this.

[2015-03-01 17:35] tasomaniac commented on #257
We are going to do it using Crowdin right? When should we upload the new strings?

[2015-03-01 18:15] friedger commented on #234
Is the image not enough? What are your plans?

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-03-01 18:13 GMT+01:00 Henrique Rocha <notifications@github.com>:

[2015-03-01 20:56] friedger commented on #250
oh a break is missing in the switch case

[2015-03-01 20:59] #250 closed

[2015-03-01 21:01] friedger commented on #250
I hope you all agree that his did not need a pull request

[2015-03-01 21:06] friedger commented on #257
I just uploaded the source (using crowdin-cli). @tasomaniac Do you have access  to the project? I don't know how to download the translations.

[2015-03-01 21:06] HenriqueRocha commented on #234
@friedger The avatar of the user should be displayed also just like any other app that uses the drawer with login.
Another thing that I already did but still needs some touches is placing the status bar on top of the drawer.

[2015-03-01 21:08] tasomaniac commented on #257
I was a translator. I don't think I have access to download the
translations.

On Sun, Mar 1, 2015 at 11:06 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-03-01 21:35] friedger commented on #245
implemented in #251

[2015-03-01 21:35] #245 closed

[2015-03-01 21:37] friedger commented on #189
Yes, keep the Pull Requests coming. This is a community effort.

[2015-03-01 21:58] friedger opened #261 "Event activity has black text in toolbar"
text and icons shoud be white

**Current problem:**
![device-2015-03-01-224055](https://cloud.githubusercontent.com/assets/1449049/6433115/61afd39a-c066-11e4-9cdf-5002ac0535e0.png)

[2015-03-01 22:48] friedger commented on #111
In https://github.com/gdg-x/frisbee/tree/feature/add_leads_fragment a 4th tab is added to the home chapter screen

[2015-03-01 22:54] friedger commented on #234
Good, go ahead, but I think the user's avatar is not a must for 2.0

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-03-01 22:06 GMT+01:00 Henrique Rocha <notifications@github.com>:

[2015-03-01 22:56] HenriqueRocha commented on #234
Okay, I won't add it now then. I'll finish this and move to work on the CardViews which should be removed almost everywhere. I already did some work on that also.

[2015-03-01 22:58] friedger commented on #261
implemented in #262

[2015-03-01 22:58] #261 closed

[2015-03-02 00:12] friedger commented on #254
fixed by #263

[2015-03-02 00:12] #254 closed

[2015-03-02 00:14] friedger commented on #246
I don't like that we have to put the context in all static methods.

[2015-03-02 00:16] stefanhoth opened #264 "Proposal: Rename "Arrow" to "Tagging Game""
Arrow was the internal project name for the tagging game inside of frisbee. My guess is that no one outside GDG-X can associate anything with that name.

I'll propose to change the name in the navigation to "Tagging game" or something else equally obvious.

Also I propose a corresponding icon change for the drawer navigation. Maybe this one?

![image](https://cloud.githubusercontent.com/assets/454

[2015-03-02 00:18] friedger commented on #162
has been implemented and currently needs manual updates

[2015-03-02 00:18] #162 closed

[2015-03-02 00:19] friedger commented on #19
The process is described in the readme

[2015-03-02 00:19] #19 closed

[2015-03-02 00:30] mauimauer commented on #264
+1 for the name change...that icon though, kind of reminds me of MS Office 98

[2015-03-02 00:32] mauimauer commented on #246
why not just extract the "gdg" string to our static constants file.

[2015-03-02 06:53] tasomaniac commented on #234
I did Event Fragment and thinking to finish evet detail and info today

On Mon, Mar 2, 2015, 12:56 AM Henrique Rocha <notifications@github.com>
wrote:

[2015-03-02 07:09] tasomaniac commented on #264
I also like the latest icon. I think that arrow name is cool. 😎 let's try
to find another name that includes tag

[2015-03-02 10:14] stefanhoth commented on #264
@mauimauer Right, we don't want to get near this association :smile:

[2015-03-02 10:15] stefanhoth commented on #264
How about this as "people meet people"?

![image](https://cloud.githubusercontent.com/assets/45467/6438869/5f7dff68-c0cd-11e4-92d4-0f069d4153aa.png)
(again via [iconmonstr](http://iconmonstr.com/user-14-icon/) )

[2015-03-02 10:17] stefanhoth commented on #264
Or this?
![](http://google.github.io/material-design-icons/social/svg/ic_people_24px.svg)

[2015-03-02 10:19] HenriqueRocha commented on #264
:+1: for that social/people icon

[2015-03-02 10:33] tasomaniac commented on #264
People I've met? Maybe?

Just like in the Google IO app.

On Mon, Mar 2, 2015, 12:20 PM Henrique Rocha <notifications@github.com>
wrote:

[2015-03-02 13:03] friedger commented on #243
implemented in #265

[2015-03-02 13:05] #243 closed

[2015-03-02 14:03] tasomaniac commented on #240
This does not happen to me. Can you reproduce this easily?

[2015-03-02 14:05] tasomaniac commented on #240
Actually, in line ModelCache.java:637, it converts ClassCastException into an IOException. It occurs because it couldn't find class `org.gdg.frisbee.android.api.model.Pulse`? Why do think that happens?

[2015-03-02 17:34] friedger commented on #241
fixed in #267

[2015-03-02 17:34] #241 closed

[2015-03-02 22:15] tasomaniac opened #269 "Redesign InfoFragment"
InfoFragment now uses cards in portrait layout.
It still uses old 9patch cards in landscape.

Both of them are ugly and should be fixed.

[2015-03-02 22:16] tasomaniac opened #270 "Redesign EventDetail page."
Improve the use of card views in EventDetail.

[2015-03-02 23:04] mauimauer commented on #269
Also paddings/margins seem a little screwed up.
 On 2 Mar 2015 22:15, "Said Tahsin Dane" <notifications@github.com> wrote:

[2015-03-02 23:06] mauimauer commented on #269
![screenshot_2015-03-02-23-03-27](https://cloud.githubusercontent.com/assets/555852/6452893/b0e47ee6-c130-11e4-9ebb-c3686607a710.png)
Nexus 6

[2015-03-03 06:19] friedger opened #271 "App crashes when onboarding"
From Google Play crash reports

Caused by: java.lang.NullPointerException: Attempt to invoke interface method 'boolean com.google.android.gms.common.api.GoogleApiClient.e()' on a null object reference
at org.gdg.frisbee.android.fragment.FirstStartStep2Fragment.onActivityResult(FirstStartStep2Fragment.java:196)
at org.gdg.frisbee.android.activity.FirstStartActivity.onActivityResult(FirstStartActivi

[2015-03-03 06:21] friedger opened #272 "Classcast exception"
From Google Play crash reports:

java.lang.ClassCastException: android.widget.FrameLayout$LayoutParams cannot be cast to android.widget.AbsListView$LayoutParams
at android.widget.ListView.setupChild(ListView.java:1848)
at android.widget.ListView.makeAndAddView(ListView.java:1815)
at android.widget.ListView.fillDown(ListView.java:698)
at android.widget.ListView.fillFromTop(ListView.java:759)

[2015-03-03 06:22] friedger opened #273 "Nullpointer exception"
From Google Play crash reports:

java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference
at java.io.StringReader.<init>(StringReader.java:47)
at android.text.HtmlToSpannedConverter.convert(Html.java:442)
at android.text.Html.fromHtml(Html.java:136)
at android.text.Html.fromHtml(Html.java:99)
at org.gdg.frisbee.android.fragment.Inf

[2015-03-03 06:31] tasomaniac commented on #269
Yep. That is the problem with all of the new card view usages in the app.

On Tue, Mar 3, 2015, 1:06 AM Sebastian Mauer <notifications@github.com>
wrote:

[2015-03-03 08:25] #273 closed

[2015-03-03 08:38] #271 closed

[2015-03-03 09:10] friedger opened #274 "Add in-app feedback option"
Add a library where users can give feedback from within the app when a crash occurs.

[2015-03-03 09:10] friedger commented on #274
Something like instabug?

[2015-03-03 10:12] mauimauer commented on #274
And not necessarily on crash. I was suggesting a Feedback Feature that allows the user to take a screenshot of the current screen (maybe even annotate it), write 1-2 lines and then send it. Very much like most of the Google Apps on Android do.

[2015-03-03 10:13] mauimauer commented on #274
Maybe sth. like http://www.apptentive.com/
Has anyone worked with one of those services before? Suggestions?

[2015-03-03 11:00] friedger commented on #274
I am looking at Doorbell.io: simple and one feature implemented (hopefully) right

[2015-03-03 14:39] tasomaniac opened #278 "Add Map to Event Series screens with city locations."
This MapFragment can go into both `MainActivity` and `TaggedEventSeriesActivity`.

This will be much like the Google's websites about the event series like DevFests, IO Extended and Study Jams.
It will have pins of cities that are organizing the event.

[2015-03-03 19:08] tasomaniac commented on #272
I've found the crash. It happens on TaggedEventSeriesFragment on my Genymotion 4.4.2 emulator. It was fine with my Nexus 6.

[2015-03-03 20:48] friedger commented on #278
There is an menu to navigate or locate the event on maps using intents, so the map fragment should work together.

[2015-03-03 20:49] friedger commented on #272
fixed by #280

[2015-03-03 20:49] #272 closed

[2015-03-03 21:26] friedger opened #281 "App crashes when clicking quickly on the Select Home GDG in settings."
From Crashalytics:

java.lang.IllegalStateException: ListPreference requires an entries array and an entryValues array.
       at android.preference.ListPreference.onPrepareDialogBuilder(ListPreference.java:248)
       at android.preference.DialogPreference.showDialog(DialogPreference.java:303)
       at android.preference.DialogPreference.onClick(DialogPreference.java:274)
       at android.prefe

[2015-03-03 21:45] tasomaniac commented on #278
Definitely.

[2015-03-03 21:58] tasomaniac opened #283 "Toolbar Spinner is black on < Lollipop"
Here is the screenshot from Kitkat device

![screen shot 2015-03-03 at 23 57 01](https://cloud.githubusercontent.com/assets/763339/6473286/19f986e4-c201-11e4-95ec-f619db416f79.png)

[2015-03-03 23:11] #281 closed

[2015-03-03 23:54] friedger commented on #274
doorbell is integrated. Let the discussion continue

[2015-03-03 23:55] tasomaniac commented on #274
I actually liked doorbell and it is free and simple

[2015-03-04 00:03] mauimauer commented on #274
I'm happy with doorbell...just to be perfectly honest, I would have preferred a little bit more time and discussion before actually settling on a 3rd party service.

[2015-03-04 00:07] friedger commented on #274
It is not settled :-) think agile.

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-03-04 1:03 GMT+01:00 Sebastian Mauer <notifications@github.com>:

[2015-03-04 00:09] mauimauer commented on #274
Well, of course we could go ahead discuss again and then throw away a perfectly good albeit not really discussed implementation. But in my opinion this would be wasteful, not agile.

[2015-03-04 00:30] friedger commented on #237
Is a super issue containing #270 and similar

[2015-03-04 07:38] tasomaniac commented on #237
It is not just #270 which is the EventDetail page.
Cards are ugly in InfoFragment, EventDetail, About, Contributon, Pulse

[2015-03-04 12:07] tasomaniac opened #285 "Add photo albums of a Chapter as a tab"
Get all the albums of a GDG Chapter from their Google+ page and display them just like an Photo Gallery app.

Or if we don't have time for this, can we open the Photos Activity of Google+ app with the albums of a chapter?

[2015-03-04 16:05] friedger opened #286 "Selected Chapter in Main changes unexpectedly"
Home chapter changes with the following steps:
Go to Google Developer Experts
Select multiple tabs (ex. browse through Adwords, GAPI, UX, Chrome, Angular, etc)
Go back to Home GDG - switches to GDG Gafsa

[2015-03-04 16:06] friedger commented on #286
User feedback from Anne Olvido

[2015-03-04 16:07] friedger opened #287 "User feedback: Colour/theme of Women Techmakers is a bit too bright and kind of painful on the eyes"
From Anne Olvido:

maybe better to use a cooler shade of green? I understand you used a colour picker on the Women Techmakers logo, took the liberty of tweaking the current layout
![screen shot 2015-03-04 at 10 23 26 pm](https://cloud.githubusercontent.com/assets/1449049/6487348/f369ce5e-c290-11e4-820c-2480c575ad71.png)

[2015-03-04 16:08] friedger opened #288 "User feedback: Cannot install on (Xiaomi) Mi Pad"
From Anne Olvido:
not sure if this is restricted to other tablets as well, might be gaood to check?

[2015-03-04 16:41] tasomaniac commented on #287
She is right, I got the color from the logo. But thats me, I am not a
developer :) What should be the color code?

On Wed, Mar 4, 2015 at 6:07 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-03-04 16:42] tasomaniac commented on #288
That is probably because of this configuration. We shouldn't use this. Does anyone know why this is included?

[code]

[2015-03-04 16:49] tasomaniac commented on #288
We can remove this and update the alpha channel and make her try again.

[2015-03-04 16:52] mauimauer commented on #287
Use the one she used in the revised screenshot. (ie. use color picker on toolbar)
:cocktail:

[2015-03-04 18:05] tasomaniac commented on #287
There are 2 colors for every event. primary and primaryDark. Actually
primaryDark can be generated dynamically and it is nor right now :)

On Wed, Mar 4, 2015 at 6:52 PM Sebastian Mauer <notifications@github.com>
wrote:

[2015-03-05 14:24] PareshMayani opened #294 "Checkstyle: File does not end with a newline"
Hi,

I have observed some issues and improvements to be done in the GDG app, and thought to fix it up and to start contributing :)

For the same, I have imported repository directly into the android studio, but facing an issue when I try to clean/build the project.

Remarks:
1) To fix this issue TEMPORARILY, I just have commented out below line in the checkstyle.xml file
`<module name="NewlineAtEn

[2015-03-05 15:03] tasomaniac commented on #294
It is really a good practice to have newline at the end of the files.
Those files actually contain new line at the end when I open them in GitHub and locally on my MacOS.
If it is a Windows problem, we may try to find to solve that issue instead of disabling the configuration.

[2015-03-05 21:35] #287 closed

[2015-03-05 21:35] #288 closed

[2015-03-05 21:54] tasomaniac commented on #288
I am not 100% sure. We should confirm that with Anne

On Thu, Mar 5, 2015 at 11:35 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-03-06 07:10] tasomaniac commented on #240
@friedger  I was looking into this issue. I will fix an issue from the ModelCache that probably causes this.
Bu I now realized that the above stacktrace only contains Warnings.

[2015-03-06 07:11] tasomaniac commented on #173
fixed via #275

[2015-03-06 07:11] #173 closed

[2015-03-06 08:32] friedger opened #295 "App crashes when watching video in news stream"
via crashalytics:

java.lang.RuntimeException: Unable to start activity ComponentInfo{org.gdg.frisbee.android/org.gdg.frisbee.android.activity.YoutubeActivity}: java.lang.IllegalArgumentException: Service Intent must be explicit: Intent { act=com.google.android.youtube.api.service.START }
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2325)
       at android.app.Act

[2015-03-06 08:39] friedger commented on #294
@PareshMayani Could you have a look at this https://www.jetbrains.com/idea/help/handling-lf-and-crlf-line-endings.html and try to make your setup work with the current code?

[2015-03-06 08:43] #286 closed

[2015-03-06 08:52] friedger opened #296 "App crashes when receiving an gcm intent"
java.lang.NullPointerException
       at org.gdg.frisbee.android.service.GcmIntentService.onHandleIntent(GcmIntentService.java:56)
       at android.app.IntentService$ServiceHandler.handleMessage(IntentService.java:65)
       at android.os.Handler.dispatchMessage(Handler.java:99)
       at android.os.Looper.loop(Looper.java:137)
       at android.os.HandlerThread.run(HandlerThread.java:60)

[2015-03-06 09:26] #295 closed

[2015-03-06 09:44] #296 closed

[2015-03-06 12:16] friedger opened #298 "App crashes when error occurs in first step"
via Crashalytics:

java.lang.IllegalStateException: Fragment FirstStartStep1Fragment{42843128} not attached to Activity
       at android.support.v4.app.Fragment.getResources(Fragment.java:619)
       at android.support.v4.app.Fragment.getString(Fragment.java:641)
       at org.gdg.frisbee.android.fragment.FirstStartStep1Fragment$2.onErrorResponse(FirstStartStep1Fragment.java:113)
       at com.an

[2015-03-07 00:05] #298 closed

[2015-03-07 13:46] tasomaniac opened #301 "Youtube video crash"
Here is the screenshot attached about the crash. It happened when I clicked a video in the news feed page

![screenshot_2015-03-07-23-45-37](https://cloud.githubusercontent.com/assets/763339/6541538/0199a7e0-c4e1-11e4-865b-57769c60f976.png)

[2015-03-09 09:16] tasomaniac commented on #185
I've just read this post via Android Weekly and wanted to share with all of you guys.
http://www.bignerdranch.com/blog/continuous-delivery-for-android/

[2015-03-09 10:05] mauimauer commented on #185
We could see if building on a Jenkins in the GDG[x] Cloud is
feasible/possible

2015-03-09 9:16 GMT+00:00 Said Tahsin Dane <notifications@github.com>:

[2015-03-13 07:51] tasomaniac commented on #301
closed via #304

[2015-03-13 07:51] #301 closed

[2015-03-13 07:51] tasomaniac commented on #294
@PareshMayani can you check that the configuration described at jetbrains fixes the issue?

[2015-03-16 09:03] PareshMayani commented on #294
Nope it's not working and it's giving the same warning.

What I have done is:
1) I have create a .gitattributes file in the root directory and have included `git config core.autocrlf true`
2) I have also enabled smart handling of LF and CRLF line separators using the mentioned steps on https://www.jetbrains.com/idea/help/handling-lf-and-crlf-line-endings.html.

[2015-03-20 06:28] PareshMayani commented on #270
I am working on this issue and have made improvements.

Can you please check the these snaps and let me know if any changes are required?

1st improvement: Where I have done layout improvements.
![screenshot_2015-03-20-00-37-29](https://cloud.githubusercontent.com/assets/888080/6746436/2e578d62-ceee-11e4-944d-08d4e8c98c25.png)

2nd improvement: Where I have removed that resource background from de

[2015-03-20 06:31] PareshMayani commented on #269
@tasomaniac @mauimauer that padding issue has already been resolved in my pull request https://github.com/gdg-x/frisbee/pull/308 :)

[2015-03-20 06:50] PareshMayani commented on #283
Looks like this issue is already been resolve as I can see White spinner handle.

[2015-03-20 08:16] tasomaniac commented on #283
Which version are you using. This screen was taken on Kitkat using the latest production.

[2015-03-20 08:18] tasomaniac commented on #269
Landscape should be fixed. :) And keyline rythm should be followed.

- All the body text should use keyline1 padding.
- Organizer photos should have keyline1 padding.
- Organizer names should have keyline2 padding from the left.

[2015-03-20 08:19] tasomaniac commented on #270
Can you align the text inside the card and the texts in the header. Thank you. Great work.

[2015-03-20 11:02] PareshMayani commented on #283
Lollipop 5.0.2

[2015-03-20 20:18] PareshMayani opened #311 "Event listing with upcoming and past separation"
Currently events are getting displayed based on the feed we are getting, but there should be 2 sections:
1) Upcoming
2) Past

[2015-03-20 21:15] PareshMayani commented on #270
Done.

![screenshot_2015-03-21-02-44-30](https://cloud.githubusercontent.com/assets/888080/6760991/6102eed8-cf74-11e4-8a6b-29d48bb5e77a.png)

[2015-03-24 06:21] #227 closed

[2015-03-26 08:53] tasomaniac commented on #174
Great article and sample project about Material Design Drawer.
https://medium.com/@sotti/navigation-drawer-styling-according-material-design-5306190da08f
https://github.com/Sottti/MaterialDesignNavDrawer

[2015-03-30 06:21] PareshMayani commented on #249
@friedger It's resolved and merged.

[2015-03-30 07:01] #249 closed

[2015-03-30 09:10] tasomaniac commented on #274
We already implemented this but I recently found this library and its great implementation in U2020 app.
https://github.com/mattprecious/telescope
https://github.com/JakeWharton/u2020/pull/93/files

These guys are awesome. They include recent debug logs in the system and screenshots into the feedback report.

One difference is that they included it only into their dogfood releases not into the rel

[2015-04-01 03:50] mauimauer commented on #274
Love the screenshot functionality...but I don't really see any reason why we shouldn't include it in prod releases as well (ie. we need all the feedback we can get).

[2015-04-01 05:50] tasomaniac commented on #274
I looked at the library one more time. They say in the README that it is designed for dogfood builds. With this library whatever screen the users are, they can bug report with a screenshot of that screen with a gesture.

And they include system  logs into the report. They are stripped in the release builds.

Overall, it's a great library from a guy from Square Inc.

[2015-04-03 10:07] tasomaniac opened #317 "App Indexing"
App Indexing is perfect for GDG app.
https://developers.google.com/app-indexing/

We should integrate it. We can add tags for the indexing into the https://github.com/gdg-x/balloon project.

[2015-04-03 10:09] tasomaniac commented on #294
If we cannot do it automatically on Windows, we can add a line about this into the README.

[2015-04-03 10:51] #294 closed

[2015-04-03 11:48] #257 closed

[2015-04-03 15:30] #189 closed

[2015-04-03 20:12] Splaktar commented on #317
Absolutely!

[2015-04-03 20:29] Splaktar commented on #257
I believe that this was implemented in #315

[2015-04-04 15:10] Splaktar opened #321 "Add a link to the alpha/beta community in the README.md"
The readme references https://github.com/gdg-x but has no link to the alpha/beta community for testers to ask to join / help test.

[2015-04-06 14:27] erickmendonca commented on #317
:+1:
This would make the app even more useful!

[2015-04-07 09:58] friedger commented on #137
This won't be implemented due to strong dependencies to Google Play Services

[2015-04-07 10:01] friedger commented on #168
@mauimauer Could you get us into the preivew program?

[2015-04-07 10:40] tasomaniac commented on #137
You already closed this but Nokia X program is also dead as far as I know.

[2015-04-07 10:53] friedger opened #322 "From Crashlytics: Invalid name to read ModelCache for Gde"
java.io.IOException: Invalid name: &lt;org.gdg.frisbee.android.api.model.Gde>
       at org.gdg.frisbee.android.cache.ModelCache.readValueFromDisk(ModelCache.java:618)
       at org.gdg.frisbee.android.cache.ModelCache.getFromDiskCache(ModelCache.java:345)
       at org.gdg.frisbee.android.cache.ModelCache.get(ModelCache.java:324)
       at org.gdg.frisbee.android.cache.ModelCache$1.doInBackground

[2015-04-07 10:55] friedger opened #323 "From Crashalytics: Unable to resolve host developers.google.com"
retrofit.RetrofitError: Unable to resolve host "developers.google.com": No address associated with hostname
       at retrofit.RestAdapter$RestHandler.invokeRequest(RestAdapter.java:395)
       at retrofit.RestAdapter$RestHandler.access$100(RestAdapter.java:220)
       at retrofit.RestAdapter$RestHandler$2.obtainResponse(RestAdapter.java:278)
       at retrofit.CallbackRunnable.run(CallbackRunnabl

[2015-04-07 11:09] tasomaniac commented on #322
I was thinking of getting rid of ModelCache and use server cache parameters.
And in places in which we cannot change server parameters, we can use OKHttp interceptors to override headers to have automatic caching.

What do you think?

[2015-04-07 11:10] tasomaniac commented on #323
We are sending logs to Crashlytics. Is it really a crash or is it just an error?

[2015-04-07 17:27] mauimauer commented on #168
I am not working with Devrel so I recommend asking @keyboardsurfer

[2015-04-07 18:20] tasomaniac commented on #168
Yes, @keyboardsurfer enlight us. :)

[2015-04-10 09:48] keyboardsurfer commented on #168
I'm not able to do anything as of now. The article mentions that "we plan to add more cards and expand this feature over time". Anyhow, what is it you want to achieve with the Google Now integration? This issue looks like "integrate for integration's sake" to me.

[2015-04-10 10:01] tasomaniac commented on #168
Upcoming events of a chapter?

We have a DashClock extension for upcoming events and it is working really great. But since widgets on lockscreen are gone now, usage of DashClock dropped.

[2015-04-22 14:11] tasomaniac opened #327 "Upgrade to new support library"
And change all Dialogs to use `AppCompatDialog`

[2015-04-26 02:17] Splaktar commented on #238
I just hit this and I have a `hub_client_id` defined. Not sure that my key have been approved to be accepted by the Hub tho.

[2015-04-26 02:19] Splaktar commented on #323
Looks like it is just an error log from the network being disconnected.

[2015-04-26 02:33] Splaktar opened #329 "Clarify README to explain what the different keys are for and which are needed for debug builds"
I'm trying to get the app to build locally and launch on my test device but this API key isn't explained in the README. The IP key (server key) is also not explained well enough.

The Wiki (https://github.com/gdg-x/frisbee/wiki/Developer-Documentation) says that the keys are in keys.xml but I cannot find that file in my project.

How do I know that my Hub key is valid?

[2015-04-26 05:56] tasomaniac commented on #323
It is not a crash right? We log everything with Crashlytics.

On Sun, Apr 26, 2015, 4:19 AM Michael Prentice <notifications@github.com>
wrote:

[2015-04-26 05:57] tasomaniac commented on #238
When we are offline it makes an infinite loop too. But there was another
issue already about this.

On Sun, Apr 26, 2015, 4:17 AM Michael Prentice <notifications@github.com>
wrote:

[2015-04-26 14:00] Splaktar commented on #323
Doesn't look like a crash. This can probably be closed.

[2015-04-26 21:33] stefanhoth commented on #329
As of #231 the secrets have been moved to the local.properties file. The should be only relevant for building a release but I can see that the process/contributor setup is not really ideal right now.

[2015-04-27 03:41] Splaktar commented on #329
Yep. I have entered what I can in my `local.properties` file, but I don't have access to things like the GCM sender key or the configuration needed to get the app to successfully log in on a development device. Thus I am not able to contribute.

[2015-04-27 05:24] tasomaniac commented on #329
I don't think we need gcm sender key for development. The tricky part is
login, without login there are also parts to contribute. The app is working
without login.

On Mon, Apr 27, 2015, 5:41 AM Michael Prentice <notifications@github.com>
wrote:

[2015-04-28 08:50] tasomaniac commented on #327
Close to finish this. I am also updating Doorbell's dialog implementation to use new Material Design Dialog.

[2015-04-28 08:51] tasomaniac commented on #329
@PareshMayani has good amount of information about this. Can you update us with what you did to contribute to project? ty

[2015-04-28 12:49] #321 closed

[2015-04-28 19:03] friedger commented on #240
Can't reproduce

[2015-04-28 19:03] #240 closed

[2015-04-28 21:15] friedger commented on #174
I am closing this one and we can add smaller issues for updates of the drawer

[2015-04-28 21:15] #174 closed

[2015-04-28 21:20] tasomaniac commented on #174
makes sense.

[2015-04-28 21:26] tasomaniac opened #335 "Drawer behind status bar."
Nav Drawer should extend to the top and go behind the status bar.

Like this:
![](http://1.bp.blogspot.com/-Ychs6FLcjGA/VE6og8WgM9I/AAAAAAAAA78/uSFiUm5V8kM/s400/drawerlayering.gif)

[2015-04-28 21:28] tasomaniac opened #336 "Drawer should have sections"
Right now our drawer is really crowded. Especially when there are more than 1 Special Event Series occuring in the world.
So we should have sections in the drawer. At least for the settings/feedback/about.

[2015-04-28 22:00] #327 closed

[2015-04-28 22:06] friedger opened #338 "Add user name and email to drawer"
Below the user picture the user name and email address (if accessible) should be added.
The color of the text should be determined with ColorUtils of the color of the image underneath the text area.

[2015-04-28 22:18] friedger commented on #317
We can index
- the chapter page (MainActivity) and
- the event page (EventActivity)

Does anything else make sense? The Pulse page, the GDE page?

[2015-04-28 22:19] friedger commented on #317
started in branch https://github.com/gdg-x/frisbee/tree/feature/app_indexing

[2015-04-28 22:20] #274 closed

[2015-04-28 22:25] #246 closed

[2015-04-28 22:27] friedger commented on #238
fixed in da2f1b0d978cacd359f31f0a289d9e0e1563a7f7

[2015-04-28 22:27] #238 closed

[2015-04-28 22:45] friedger commented on #111
fixed by #331

[2015-04-28 22:59] tasomaniac commented on #317
I wish we could do Pulse page. But we would need our own implementation of the Pulse webpage. It's because we cannot add metadata to developers.google.com

I think we should use hub.gdgx.io for injecting metadata for search results because it both have events and chapter pages.

[2015-04-29 03:06] Splaktar commented on #240
I cannot reproduce either.
On Apr 28, 2015 15:03, "Friedger Müffke" <notifications@github.com> wrote:

[2015-04-29 11:45] tasomaniac commented on #283
I now have a different behavior. I don't know how it changed. I may change it during theme refactorings but I don't think so.

The behavior on KitKat is now like below.

![screen shot 2015-04-29 at 14 44 45](https://cloud.githubusercontent.com/assets/763339/7390222/69ccb796-ee7e-11e4-9fa2-51f862c5fcf5.png)

[2015-04-29 12:51] tasomaniac commented on #171
Cards are not in a perfect shape right now but there are other issues about redesign. `card_bg` png asset is deleted. So we should close this issue. Any objection?
Closed via #340

[2015-04-29 12:51] #171 closed

[2015-04-29 12:52] tasomaniac commented on #222
I am changing this to 2.2 because I think it is relatively important.

[2015-04-29 12:53] tasomaniac commented on #264
What is the last situation about this now? Do someone have something in mind as an alternative name?

[2015-04-29 12:57] tasomaniac commented on #323
I doesn't look like a crash. Please reopen this if you think it should stay open.

[2015-04-29 12:57] #323 closed

[2015-04-29 13:00] tasomaniac opened #342 "Use HTTP Cache and remove custom Cache impl."
Remove ModelCache and use Http Cache backed with OkHttp.

When the server we use doesn't support Http Caching Headers, try to implement on the server side. If it is impractical/impossible, use response interceptors to have a small caching.

Should also close #322

[2015-04-29 13:02] tasomaniac opened #343 "Visual problems with Croutons"
Since we have `Toolbar` in the layout, `Croutons` are shown on top of the `Toolbar` which is really ugly.

- [ ] If there is an error or info with nothing in the content area, remove `Crouton` and add the error as an empty view.
- [x] If there is an error with a cached data to show, show the data and display the `Crouton` below `Toolbar` and tabs.

[2015-04-29 13:11] tasomaniac opened #344 "Redesign: Contributors Screen"
Contributors and Translators page is one of the last ones that need redesign.

I think we may get rid of the special List Fragment for it and just use the Fragment that is used for GDEs.
We may also rename the `GdeListFragment` to `PeopleListFragment`.

[2015-04-29 14:57] friedger commented on #264
I am happy with arrow
Am 29.04.2015 14:53 schrieb "Said Tahsin Dane" <notifications@github.com>:

[2015-04-29 15:07] tasomaniac commented on #264
I really like it too.

[2015-04-29 16:31] erickmendonca commented on #264
I liked it, but I couldn't guess what it was before I tried it.

:+1: to social icon

[2015-04-29 17:16] tasomaniac commented on #264
We have now gamepad icon for the Arrow. It both looks like a game and look
like arrows :) I think it is good.

On Wed, Apr 29, 2015, 7:31 PM Erick Mendonça <notifications@github.com>
wrote:

[2015-04-29 18:25] erickmendonca commented on #264
Oh, great! I'll test it :)

[2015-04-29 18:41] tasomaniac commented on #264
This one is used ![](https://github.com/gdg-x/frisbee/blob/develop/app/src/main/res/drawable-xxhdpi/ic_drawer_arrow.png)

[2015-04-29 21:27] friedger commented on #234
closed by #333

[2015-04-29 21:27] #234 closed

[2015-04-30 07:04] tasomaniac commented on #111
I am re-openning it because there are these problems in the current implementation:

- It doesn't show "FOR LEADS" section unless you open the Arrow section. Arrow page first check that if the user is organizer.
- For Leads section persists on app logout. This is actually a bug out of this issue's scope but we should fix that. We should delete all user related info on app logout.
- We should have

[2015-04-30 07:08] tasomaniac commented on #311
@PareshMayani this is a great improvement. Upcoming events are displayed at the bottom and initially not visible. Are you planning to work on this?

[2015-04-30 07:20] PareshMayani commented on #311
@tasomaniac yes I have implemented some of the required changes but yet to complete the rest of the implementation. Will try to wrap it up ASAP.

[2015-05-04 13:32] tasomaniac commented on #322
Closed in #346

[2015-05-04 13:32] #322 closed

[2015-05-04 14:10] mauimauer commented on #343
Fix it (ie. display them under the toolbar). Croutons are still way better than Toasts

[2015-05-04 14:11] mauimauer commented on #336
Let me do this. Can use this patch to get approval for future contributions.

[2015-05-04 14:13] mauimauer commented on #317
maybe we should also get in contact with DevRel, maybe connecting up with developer.google.com is possible after all.

[2015-05-04 14:15] mauimauer commented on #278
Hmmmm, not sure if we would be served better by just intent jumping to Google Maps (unless we provide all the extra contextual functions GMap provides (routing etc.))

[2015-05-04 14:17] tasomaniac commented on #343
I was thinking to use empty central views for errors. I also think that we shouldn't use Toasts.
Most of the Crouton messages can be done via empty views.

[2015-05-04 14:17] tasomaniac commented on #336
:+1:

[2015-05-04 14:18] tasomaniac commented on #317
it would be really great to connect it with https://developer.google.com/groups
Who should we contact?

[2015-05-04 14:20] mauimauer commented on #343
Not sure about empty views for that, there are cases when we have cached content that could be shown instead of an empty view. As a user I would prefer old/stale data and a transient error notification (crouton) instead of not having access to the data at all (empty view).

[2015-05-04 14:20] tasomaniac commented on #278
I was thinking to have a map just like the one here with basic pins.
https://www.womentechmakers.com/

[2015-05-04 14:21] mauimauer commented on #317
I'd suggest to bring this up at the Summit with Adriana or Martin

[2015-05-04 14:21] tasomaniac commented on #343
I am not specifically talking about the cached content. There are also errors that actually does not show anything but a crouton.

[2015-05-04 14:22] tasomaniac commented on #317
Makes sense. Face to face discussion would be better. Thank you.

[2015-05-04 14:22] mauimauer commented on #278
I agree that stuff like that looks fancy, altough I am not sure of the direct benefit this provides for the user (especially on mobile)

[2015-05-04 14:24] mauimauer commented on #343
And I just wanted to make sure all cases get handled properly. So I guess a mixture of Croutons and customized Empty Views would be the way to go.

[2015-05-04 14:33] tasomaniac commented on #278
I think there is a potential benefit because it is really hard to find
events on the list. There are more than 100+ ioextended events around the
world. Although the list is sorted with the location, I find that the list
is complicated sometimes.

On Mon, May 4, 2015 at 5:22 PM Sebastian Mauer <notifications@github.com>
wrote:

[2015-05-04 14:41] tasomaniac commented on #343
Sure. Thank you. :)

On Mon, May 4, 2015, 5:24 PM Sebastian Mauer <notifications@github.com>
wrote:

[2015-05-04 15:00] mauimauer commented on #278
Not trying to stop you here, altough I'm still not convinced a map would really solve this problem. I'd prefer if we try to come up with a way to improve the list and leverage the sensor information we have. Maps are great for a lot of things (ie. navigating to a local event) but I still think this isn't one of those things.

[2015-05-04 16:04] tasomaniac commented on #278
Design changes that address the problem I've described in the list may be more useful. Within a quick thought for example I can find improvements. For example, we can divide the list into sections that are happening near the user. Or we can divide them in country bases.

That would be more useful than a map. But feature is a feature. I've already postponed the milestone of this issue. We can furth

[2015-05-04 16:46] tasomaniac commented on #343
Desc is updated.

[2015-05-04 19:25] mauimauer commented on #278
But feature is a feature (So it's a feature for the sake of having another feature) :D

[2015-05-04 19:29] tasomaniac commented on #278
I don't mind deleting this :) All the developer.google.com sites with events have maps. Thats why I opened it.

[2015-05-04 19:38] tasomaniac commented on #68
I think the best way to do this to open the event detail page in the app rather than directly openning the Google+ app. Easy and clean. Would you prefer doing that? @friedger

Otherwise we need to change the design of the widget. I am sure that it is not used much.

[2015-05-05 09:29] friedger commented on #68
Sounds good to me, I'll do it.

  [image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2015-05-04 21:38 GMT+02:00 Said Tahsin Dane <notifications@github.com>:

[2015-05-05 11:07] #68 closed

[2015-05-08 13:39] tasomaniac opened #354 "ModelCache ClassCastException"
This time it is for EventList in the main screen. I don't know how this happened. I solved it by cleaning data of the app and it is now working fine.

The crash was persistent and was happening on every app open.

[code]

[2015-05-08 13:58] #335 closed

[2015-05-08 19:15] tasomaniac opened #355 "Devices without GMS"
For devices without GMS we are showing the following Dialog saying that "App won't work without Play Services installed". App runs fine without GMS excepts for the "Arrow" and "Achivements"

- [ ] We may display that Dialog only 1 time. Showing it on every page is really bad.
- [x] Sign-in button in Settings should be disabled with a message about GMS is not available.

![screen shot 2015-05-08 at

[2015-05-13 08:45] #343 closed

[2015-05-13 08:49] tasomaniac commented on #343
I will re-open an issue about empty views. We should have empty view states with error information I think.

[2015-05-14 10:23] tasomaniac commented on #111
I will re-open this issue because I had problems with it.
Login is not working in debug builds. We should fix it asap.
Login worked for me for a local release build but I had a problem with Organizer Checking. It doesn't enable Lead page for me.
Organizer Checker work fine on production on Arrow page.

[2015-05-14 12:53] tasomaniac opened #358 "Refactor: Achievements"
We should go over Achievements. We can easily add new achievements. And we can retire old achievements like Google Developers Live.

It may include Achievements for
- GDE section
- Arrow (multiple achievements like if you are tagged 10, 20, 50, 100 etc people)
- Sending a feedback.
- Added widget or DashClock extension.
- Opened new links in the Leads page (like Wisdom etc. )

Please contribute fo

[2015-05-14 14:15] friedger commented on #358
I still hope to have something like "Gave a talk at a GDG event" which would involve some kind of interaction between organizers and members via the Hub (:-P)

[2015-05-14 14:17] Splaktar commented on #358
Those look like great ideas!

[2015-05-14 14:23] tasomaniac commented on #358
@friedger that would be awesome, and we can actually have it as an achievement in Android App, if we have it in the Hub.

[2015-05-20 20:23] #222 closed

[2015-05-20 21:59] tasomaniac commented on #358
Here are the new achievements. I think you guys can be more productive than me. :)
Let's find funny titles.

6-7-8 are for meeting people more than 1-5-20 times respectively.
9 for sending feedback
10 for adding the widget
11 for opening the GDG Wisdom book link

![screen shot 2015-05-21 at 00 57 32](https://cloud.githubusercontent.com/assets/763339/7737511/5cc9f1d0-ff54-11e4-9cab-d1bb48c5bc86.png

[2015-05-26 16:41] Splaktar opened #360 "Arrow tagging layout loses button, breaks send mode"
After updating to the latest version, the arrow button is no longer there. This means that I can tap the screen and do a visual scan to tag others, but I am completely unable to allow others to tag me (scan mode).

I was able to get it back by reinstalling the app, but after I scanned someone else (Said) the button disappeared again. Logging out of G+ and back in does not fix it.

I was trying to

[2015-05-26 17:08] tasomaniac commented on #360
Is it lost for you again. I hope we can find out and fix it here.

On Tue, May 26, 2015, 9:42 AM Michael Prentice <notifications@github.com>
wrote:

[2015-05-27 17:20] Splaktar commented on #360
Yes, I can't seem to get it back without reinstalling the app.

[2015-06-02 11:11] tasomaniac opened #361 "Use new NavigationView"
Update the left nav drawer with the `NavigationView` from design support library.
Navigation drawer menu should have sections as required by #336

[2015-06-02 11:26] tasomaniac opened #362 "Implement new App Backup"
More info: https://developer.android.com/preview/backup/index.html

[2015-06-02 11:27] tasomaniac opened #363 "Implement new Granular Permissions"
More info: https://developer.android.com/preview/features/runtime-permissions.html

We need to check if the permission is given in all requests.

[2015-06-02 11:30] tasomaniac opened #364 "Use TextInputLayout instead of FloatLabelLayout"
TextInputLayout is the new Material EditText from new design support library.

http://developer.android.com/reference/android/support/design/widget/TextInputLayout.html

[2015-06-02 11:31] tasomaniac opened #365 "Replace Croutons with new Snackbar implementation."
More info : http://developer.android.com/reference/android/support/design/widget/Snackbar.html

[2015-06-02 11:32] tasomaniac opened #366 "Replace tabs with ViewPagers with TabLayout"
More info: http://developer.android.com/reference/android/support/design/widget/TabLayout.html

We can also possibly use [AppBarLayout](http://developer.android.com/reference/android/support/design/widget/AppBarLayout.html) in most of the places.

[2015-06-05 08:49] HenriqueRocha commented on #264
This issue is already a bit old. How should we proceed from here?

[2015-06-05 09:57] tasomaniac commented on #264
If we have a poll, I would vote for the old name "Arrow". :smile:

[2015-06-12 15:17] HenriqueRocha commented on #361
I'll work on this tomorrow.

[2015-06-14 09:09] HenriqueRocha commented on #361
In progress now.

[2015-06-14 11:05] HenriqueRocha commented on #336
@mauimauer What's the status of this? I'm working on the new NavigationView and I can add this as an extra if you want.

[2015-06-14 15:38] friedger commented on #336
I don't think mauimauer does work on this one in the near future. So, go
ahead..
Am 14.06.2015 13:05 schrieb "Henrique Rocha" <notifications@github.com>:

[2015-06-14 17:54] HenriqueRocha commented on #336
This will be done as part of issue #361

[2015-06-14 17:57] HenriqueRocha commented on #361
Apparently there are still bugs in the NavigationView regarding adding items dynamically to the groups in the drawer. I'll try to find a workaround while there isn't a proper solution. This is required because we add events dynamically.

[2015-06-14 18:54] tasomaniac commented on #361
Is it a critical bug? If so, I would say lets not deal with it and use the old system. What is the situation?

[2015-06-14 19:51] HenriqueRocha commented on #361
The problem is that I can't add items dynamically to a section in the navdrawer. I don't know if it's my problem, but I can't make it work. They are always added to the end.

[2015-06-14 19:57] HenriqueRocha commented on #361
I will work on porting the rest of the design support library (DSL) during this week. Hopefully, all other issues regarding the DSL can be closed soon.

[2015-06-20 13:33] Splaktar commented on #360
This needs to get some attention.

[2015-06-20 13:37] Splaktar commented on #363
There does not appear to be a great need to merge something like this soon. It can and should be tested, but doesn't need to be completed in the near term.

"If you install an app using the new permissions model on a device that is not running the M Preview, the system treats it the same as any other app: the system asks the user to grant all declared permissions at install time.

Note: For the pr

[2015-06-20 13:50] Splaktar commented on #354
This bug is causing a lot of crashes for users and needs to be addressed. Up to 59 crashes so far from this bug via Fabric.io.

    java.lang.ClassCastException: com.google.gson.b.j cannot be cast to org.gdg.frisbee.android.api.model.SimpleEvent
       at org.gdg.frisbee.android.adapter.EventAdapter.addAll(EventAdapter.java:77)
       at org.gdg.frisbee.android.eventseries.GdgEventListFragment$2.o

[2015-06-20 14:11] Splaktar opened #367 "getCoverPhoto() on a null object reference"
This has caused 53 crashes via Fabric.io.

    java.lang.NullPointerException: Attempt to invoke virtual method 'com.google.api.services.plus.model.Person$Cover$CoverPhoto com.google.api.services.plus.model.Person$Cover.getCoverPhoto()' on a null object reference
       at org.gdg.frisbee.android.activity.GdgNavDrawerActivity$2.onPostExecute(GdgNavDrawerActivity.java:290)
       at org.gdg.frisbee

[2015-06-20 14:12] Splaktar opened #368 "NPEs with Picasso use"
This has caused 51 crashes via Fabric.io.

    java.lang.RuntimeException: Transformation bitmapBorder(borderSize=2, cornerRadius=128, color=-1) crashed with exception.
       at com.squareup.picasso.BitmapHunter$3.run(BitmapHunter.java:434)
       at android.os.Handler.handleCallback(Handler.java:739)
       at android.os.Handler.dispatchMessage(Handler.java:95)
       at android.os.Looper.loop(L

[2015-06-21 07:07] friedger commented on #363
The user can revoke the location permission.

It looks like we deal with this already gracefully.

[2015-06-21 07:07] friedger commented on #363
For M we need to request the location permission.

[2015-06-21 16:14] tasomaniac commented on #354
This is a hard one. :(

On Sat, Jun 20, 2015, 4:50 PM Michael Prentice <notifications@github.com>
wrote:

[2015-07-09 09:13] PareshMayani commented on #365
Anyone is making this enhancement?

[2015-07-09 09:31] friedger commented on #365
assigned to @PareshMayani :-)

[2015-07-09 09:42] tasomaniac commented on #365
Nope. No one is working on this.
I've sorted out the Croutons. They are shown perfectly now. But they need
to be changed. As far as I remember there are few of them left. I have
changed 2 of them (asking logins) to Dialogs with Login button.

On Thu, Jul 9, 2015, 12:31 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-07-09 13:51] PareshMayani commented on #365
@tasomaniac I didn't get about it:

"I've sorted out the Croutons. They are shown perfectly now. But they need to be changed.".

I guess I am missing something about the crouton implementation!

[2015-07-09 14:25] tasomaniac commented on #365
I was talking about the issue #343 and the solution #353
Croutons are designed to be displayed at top of the window below ActionBar. When Toolbar is included in the layout, Croutons started to be displayed on top of Toolbar. And they were ugly.
I fixed that but now they have to be replaced with Snackbar's

[2015-07-10 06:02] PareshMayani opened #369 "Issue: display order mismatch in GDE directory"
There is a mismatch in displaying GDE profiles on web and mobile. Find attached snap and check.

BTW, it's not a perfect order on web I would say, it should either be in ascending or descending order. Existing GDE may report it to Google :)

![experts directory _ web](https://cloud.githubusercontent.com/assets/888080/8612970/15e3c37a-26f7-11e5-9137-d8bf5a5edce4.PNG)

![screenshot_2015-07-10-11-28-

[2015-07-10 06:10] PareshMayani opened #370 "Ex GDE profiles are still displayed"
As we know some of the GDEs have recently joined Google and so they should not be continue with GDE (as far as I know) and so the website is not listing them in the directory but our app is listing their profiles.

![screenshot_2015-07-10-11-37-15](https://cloud.githubusercontent.com/assets/888080/8613093/65a07d8a-26f8-11e5-97d8-a387bd53c248.png)

Use https://github.com/GoogleDeveloperExperts/expe

[2015-07-10 06:17] PareshMayani opened #371 "GDE profile pic mismatch"
One more issue about GDE and this time it is about profile pic mismatch on web and mobile app.

Based on the profile pic, I think android app is referring the Google+ profile pic and web directory is referring the pic given by the person!

Check the profile of our own @tasomaniac in attached web directory and app snaps.

![profile pic mismatch](https://cloud.githubusercontent.com/assets/888080/861

[2015-07-10 07:27] tasomaniac commented on #371
GDE web page updates itself only twice a month. It also gets the pictures
from Google+. We didn't give any.
I am sure that it will update and match.

On Fri, Jul 10, 2015, 9:17 AM Paresh Mayani <notifications@github.com>
wrote:

[2015-07-10 07:29] tasomaniac commented on #370
Yep, this is a problem I've been thinking about recently. It is because of
the API. The API is an unofficial API from a Googler. I emailed him about
the bug and he didn't respond.

To solve this we would have to right or own api.

On Fri, Jul 10, 2015, 9:10 AM Paresh Mayani <notifications@github.com>
wrote:

[2015-07-10 07:30] tasomaniac commented on #369
For us the order will not match the website because of the Api we are
using.
But you are right. We can sort alphabetically at least.
I don't know. How should we address this.

On Fri, Jul 10, 2015, 9:02 AM Paresh Mayani <notifications@github.com>
wrote:

[2015-07-11 03:18] tasomaniac opened #372 "G+ Community into Leads section"
As described here,
https://plus.google.com/u/0/+MichaelPrentice/posts/SDHMf6BkYGh
we should add G+ community link into Leads section.

[2015-07-11 03:54] Splaktar commented on #372
:+1: Here are some other resource links (perhaps linking to this GitHub wiki would be good as well): https://github.com/GDGNorthAmerica/info-and-resources/wiki/Resources

[2015-07-11 10:07] PareshMayani opened #373 "Improvement: GDG chapter page selection"
There are thousands of GDGs and user has to scroll down to select the particular chapter, it's really not a good design I would say!

Needs to make an improvement to make a selection easier! Either we can allow him to input text and then search!

![device-2015-07-11-153020](https://cloud.githubusercontent.com/assets/888080/8633376/4c0c2e38-27e2-11e5-94f5-97bdec7445c5.png)

[2015-07-11 11:01] tasomaniac commented on #373
Nice issue. I remember this is talked but it couldn't get into issue list.
I think we should definitely do this. But it requires a little design change. How do you think we should do it?

[2015-07-11 12:05] PareshMayani commented on #373
@tasomaniac let me focus more on integrating design support library, I am midway integrating NavigationView, but meanwhile you can think :) will sure share mock-up later!

[2015-07-11 12:32] tasomaniac commented on #373
Oh nice, @HenriqueRocha also worked on integration of new NavigationView. He said he had problems with dynamic addition of the event series pages like DevFest, IO Extended

[2015-07-11 13:23] friedger commented on #373
For the chapter selection there is an ordering by distance.

The initial selection for the home chapter is done also by distance.

I think it is quite good as it is now.
Am 11.07.2015 14:32 schrieb "Said Tahsin Dane" <notifications@github.com>:

[2015-07-11 13:24] friedger commented on #373
If we have not access to the location we could show a autocomplete view
But this is really an edge case.
Am 11.07.2015 15:22 schrieb "Friedger Müffke" <friedger@gmail.com>:

[2015-07-11 16:04] PareshMayani commented on #373
@tasomaniac I am already done with navigation view with adding items dynamically! Sorry I didn't checked and know that he has tried implemented! But I have to make changes to proceed further, one issue I got soon after adding design support library, which is scrim layout and attributes, so I did change and able to proceed further!

[2015-07-11 18:41] PareshMayani commented on #361
I just pushed commit with the NavigationView improvement. Please take update and check!

@HenriqueRocha BTW, we can get Menu using navigationView.getMenu() and then using that object we can add items!

[2015-07-11 18:45] PareshMayani commented on #361
Sorry Henrique, I have to complete the NavigationView part to proceed further using support library. As mentioned in the comment (https://github.com/gdg-x/frisbee/issues/373#issuecomment-120635959), I got the issue as soon as I declared support library and was not able to run the app!

[2015-07-11 18:46] tasomaniac commented on #373
I think scrim insets layout is not needed anymore with the new
NavigationView. Feel free to delete it.

On Sat, Jul 11, 2015, 7:04 PM Paresh Mayani <notifications@github.com>
wrote:

[2015-07-11 20:17] PareshMayani opened #374 "Should validate empty input"
Issue is in Feedback dialog. If user clicks on a send button then it should validate inputs, before actually making a call.

[2015-07-11 22:16] tasomaniac commented on #374
Are we talking about just the email address validation? Or do we have
anything else?

On Sat, Jul 11, 2015, 11:17 PM Paresh Mayani <notifications@github.com>
wrote:

[2015-07-12 00:00] jmsalcido commented on #374
as we are using Doorbell.io for the feedback I think we only should validate the email address, we already have a Utils.java that contains a isEmailAddress method that we could use before doing the call.

[2015-07-12 04:15] PareshMayani commented on #374
I am talking about empty input. We are making a call even though user leaves fields empty and click on send button. There should a proper message saying that "Please input message" or "Please input email address"!

[2015-07-12 04:18] PareshMayani commented on #373
@tasomaniac yeah that's what I did it and had to do to proceed further. I just made a commit yesterday for the NavigationView, do check and let me know if there is any issue!

[2015-07-14 20:56] tasomaniac opened #377 "Implement Nearby API for Arrow Game"
Here is the reference blog post: http://googledevelopers.blogspot.com.tr/2015/07/connect-with-world-around-you-through.html?linkId=15518057

It is not out yet but it would be really fun to ditch NFC and QR codes for this.

[2015-07-14 21:09] stefanhoth commented on #377
:100:

[2015-07-15 05:36] friedger commented on #377
Someone should reach out to devrel and ask for early access.

Also for check-in with the organizer at the event. This would solve the
problem of list of attendees..
Am 14.07.2015 23:09 schrieb "Stefan Hoth" <notifications@github.com>:

[2015-07-15 07:51] tasomaniac commented on #377
I just asked. Good idea.

[2015-07-19 16:40] Splaktar opened #378 "Add EditorConfig support to project to make onboarding new contributors easier"
As mentioned in #376, we need to add an `.editorconfig` file to the repo so that new contributors will automatically have their formatting setup correctly.

Find out more here: http://editorconfig.org/

[2015-07-19 16:48] tasomaniac commented on #378
I couldn't find any website for native Android Studio editorconfig integration. All the methods include Android Studio Plugin installation. Which I think we cannot do.

There won't be any harm to add a config file though.

[2015-07-19 16:50] Splaktar commented on #378
It's built into Android Studio. Settings->Editor->Code Style then Check "Enable EditorConfig".

[2015-07-19 16:53] tasomaniac commented on #378
Oh nice. I didn't know that. Let's do this.

[2015-07-21 10:48] tasomaniac commented on #364
Fixed in #382

[2015-07-21 10:48] #364 closed

[2015-07-21 10:48] tasomaniac commented on #361
Fixed in #379

[2015-07-21 10:48] #361 closed

[2015-07-21 10:53] tasomaniac commented on #371
We use a really old, unofficial, abandoned API build by only 1 person within Google. So it is really hard for us to implement this. Besides, it shows the most updated Google+ picture of the developer. I will go ahead and close this.

[2015-07-21 10:53] #371 closed

[2015-07-21 10:54] PareshMayani commented on #361
@tasomaniac it's not completed yet as sections are yet to implement! Either this should be open or #336

[2015-07-21 10:58] PareshMayani commented on #374
@tasomaniac thanks, will fix it up!

[2015-07-21 10:59] tasomaniac commented on #361
I think the other one should be reopened.

[2015-07-21 11:10] tasomaniac commented on #369
I've found this unofficial API but it is also in different order.
But it can fix issue #370 because it has `deleted: true` parameter of ex GDEs

[2015-07-21 17:56] PareshMayani commented on #365
Would this implementation work? Please suggest if any change is required in snackbar styling :)

![device-2015-07-21-232054](https://cloud.githubusercontent.com/assets/888080/8808307/6b9ff3cc-2fff-11e5-8795-88596983d285.png)

[2015-07-21 18:21] tasomaniac commented on #365
Looks really good to me.

[2015-07-21 18:35] stefanhoth commented on #365
:+1: Noice!

[2015-07-21 21:43] Splaktar commented on #365
Does it need to have a red background? Would red text on default background work or is red not needed at all?

I have seen discussions lately about coloring toasts or snackbars being outside the spec.

[2015-07-21 22:00] tasomaniac commented on #365
I think it looks great. We can go outside of the specs.

But in general my opinion is that we don't need Toast or Snackbar for errors. For example if you look at the error here. It is on the first open of the app. The user cannot even pass this screen. Apps become unusable.
For other GET request network errors, we should utilize the empty layout of the pages, instead of displaying a message with a

[2015-07-22 04:30] PareshMayani commented on #365
@Splaktar I had two ideas while implementing the snackbar:

1. Make the Snackbar looking same as Crouton
2. Or display the default snackbar but with different colors, say for example red for alert message.

So I went ahead with displaying snackbar with different background colors, just to make it same as Crouton, it's fine if we want to go beyond the specs.

Or and otherwise, let's go with specs a

[2015-07-22 05:37] PareshMayani commented on #365
@tasomaniac agree with your point that user should be able to see at least a home screen, but for that we will have to sync data in background, if network is available!

[2015-07-22 05:48] PareshMayani opened #383 "Use empty layout of pages for displaying error/alert messages"
As discussed in https://github.com/gdg-x/frisbee/issues/365#issuecomment-123570183 and as of the current scenario, user is not able to proceed further if any error occurs and app becomes unusable, we are just displaying Crouton message (or would be snackbar).

A better pattern suggested by Taylor Ling is to **display error messages in empty layout of the pages but with RETRY button** so user can a

[2015-07-22 05:52] PareshMayani commented on #383
If we are agree to go ahead with this implementing this pattern then in that case we need not to integrate Snackbar.

P.S. I am already done with implementing snackbar with different background colors but haven't sent a PR.

Let's discuss and decide, and please let me know If I should send a PR for snackbar changes!

[2015-07-22 06:39] friedger commented on #383
For this kind of blocking case, the empty layout is good. For the other
cases, e.g. after having data in cache, the snack-bar is better.
Am 22.07.2015 07:52 schrieb "Paresh Mayani" <notifications@github.com>:

[2015-07-22 06:44] PareshMayani commented on #383
Ok cool. In that case, let's go with the snackbar replacement as of now and close that issue, and will implement the empty layout things later on to resolve this current issue.

What do you say? If agree then should I send a PR for the snackbar implementation? As said, I have replaced all the crouton messages with Snackbar having different background color.

[2015-07-22 07:39] tasomaniac commented on #383
I think we already had an open issue for empty space usage. I opened it with the issue about the visual problems with Croutons.

I think we should convert all of Croutons to Snackbars for now. Using the empty spaces issue is not that easy.

@friedger for the cached content, we don't have to show anything at all.

[2015-07-22 07:41] tasomaniac commented on #383
You can find the old discussion about this here: https://github.com/gdg-x/frisbee/issues/343

[2015-07-22 09:41] tasomaniac commented on #365
Fixed by #384

[2015-07-22 09:41] #365 closed

[2015-07-22 11:41] Splaktar commented on #383
This is certainly a better pattern than having all error messages in snackbars.

[2015-07-22 11:42] Splaktar commented on #383
Also agree that snackbars are appropriate in some cases, so we don't need to remove their implementation completely.

[2015-07-22 11:47] PareshMayani commented on #383
:+1: for keeping snackbar implementation as it wherever a simple message is required.

[2015-07-22 13:22] friedger commented on #372
the other resources should go in the GDG wisdom, I'd say. Otherwise we have to redo the same work as the GDG wisdom project.

[2015-07-22 13:26] friedger commented on #372
See https://github.com/gdg-wisdom/wisdom-2015/commit/0cb6e95498f6f61942c5b6a907819cef2f69387a

[2015-07-22 14:50] friedger commented on #372
fixed by #387

[2015-07-22 14:50] #372 closed

[2015-07-22 14:53] friedger commented on #367
fixed by abd7fdc10d533c2cc6d24c3c438ec1d3b6b2de21

[2015-07-22 14:53] #367 closed

[2015-07-22 15:37] #368 closed

[2015-07-24 15:40] tasomaniac commented on #383
I've assigned this to *Release 2.2*. Do you all think that this can be done. I think this is important but it is hard as it requires some design in it.

[2015-07-24 15:41] tasomaniac commented on #377
I've asked couple of Googlers and we talked it in GDE community. They are currently not doing early access because it will be released really soon.

[2015-07-24 15:50] tasomaniac commented on #329
I think gcm_sender_id is not required for development. We should close this issue or rename it for something else.

[code]
are really easy to create. I think we can prepopulate them with key creates from a random app from a random account.
[code]
are only needed for production. They are not needed for development and contribution.

I don't know much about `hub_client_id=` though. Currently I canno

[2015-07-24 16:24] friedger commented on #237
What needs to be done here?

[2015-07-24 16:30] friedger commented on #237
This can't be fixed by Release 2.2 because #270 is planned for Release 2.3. We should kill this and have more specific issues.

[2015-07-24 16:41] tasomaniac commented on #237
I don't think it depends on #270. This issue is only about cards.
When we started using Cards, we didn't do all of them the same. In the app currently, all the cards look different. The padding, elevation etc are all different.
Someone should go over all the cards and ensures a consistency. I think we should reopen it.

[2015-07-24 18:53] Splaktar commented on #329
From README: "`play_app_id` is the Google Developer Console project id".
This needs to say where a new contributor can get this `play_app_id` from (i.e. an existing Frisbee developer). I'm not sure why we can't just put this ID in the README?

How does a developer create a `ip_simple_api_access_key`? The other two seem obvious enough.

[2015-07-24 19:10] Splaktar commented on #329
Looks like `ip_simple_api_access_key` is `Server key` in the Console. The README should make this a little more clear since the name is not that clear.

The `play_app_id` has to be the ID from the Frisbee Play Console which is hooked up to Google Play Games. You can't use the ID of your Cloud Console API project.

[2015-07-24 19:26] Splaktar commented on #329
One more README update we just figured out. If there are unpublished Play Game Services updates, then all of the contributors need to be in the `Testing->Testing Access->Testers` list in the Play Games Console. This is because the version of the app they are running requires to unpublished Play Game updates which can only be seen by testers.

A message like

    Application ID 10101010101 is not a

[2015-07-24 19:58] friedger commented on #329
For reference, a more detailed description of the keys is in the wiki:
https://github.com/gdg-x/frisbee/wiki/Developer-Documentation#configuration

[2015-07-24 20:00] tasomaniac opened #391 "Use new TabLayout instead of SlidingTabLayout"

[2015-07-24 23:14] #111 closed

[2015-07-24 23:14] #391 closed

[2015-07-25 00:35] Splaktar commented on #358
It looks like this has to be finished or reverted before we can ship 2.2.

[2015-07-25 01:08] tasomaniac commented on #358
We didn't publish the new Achievements. I actually implemented all of them. But I didn't test them.

[2015-07-25 02:36] tasomaniac opened #395 "Double login request on first install"
When the user first installs the Onboarding screen asks for regular Google login.
After successful login, it again asks for Google Play Games login.

[2015-07-25 02:38] Splaktar commented on #395
I saw this today as well. Not an ideal first experience with the app.

[2015-07-25 02:41] tasomaniac commented on #395
This is the same case for years unfortunately. :disappointed:

[2015-07-25 08:45] PareshMayani commented on #366
@tasomaniac I think It's already fixed with your pull request #392.

[2015-07-25 08:55] #395 closed

[2015-07-25 09:12] #360 closed

[2015-07-25 10:36] tasomaniac commented on #366
Fixed in #392

[2015-07-25 10:36] #366 closed

[2015-07-25 10:36] tasomaniac commented on #366
thank you @PareshMayani

[2015-07-25 11:13] friedger commented on #362
We are already using Backup, so no need to change this.

[2015-07-25 11:13] #362 closed

[2015-07-25 11:14] tasomaniac commented on #362
You are right. There is no need for an additional implementation.

[2015-07-25 11:14] #264 closed

[2015-07-25 11:46] #283 closed

[2015-07-25 16:44] Splaktar opened #399 "News: Can't scroll up, always tries to refresh"
Running the latest debug build from develop, once I scroll down on the News screen, I can't scroll back up. It always tries to refresh the view instead of scrolling up.

[2015-07-25 16:46] Splaktar opened #400 "Events: Upcoming events should be first, past events after"
There should possibly be 2 sections to the events screen. One for future events and one for past events.

Currently I'm seeing the oldest event (from 2 months ago) first, which is the least interesting event to me. Then I have to scroll down below the fold to see my chapter's next event (which is the one I care the most about).

[2015-07-25 16:56] PareshMayani commented on #400
It's already in our issues list :) #311

[2015-07-25 16:56] #400 closed

[2015-07-25 16:56] tasomaniac commented on #399
The last change that I made to fix memory leak may caused that problem. It
runs on my machine well. What do you use? Lollipop or below?

On Sat, Jul 25, 2015, 7:44 PM Michael Prentice <notifications@github.com>
wrote:

[2015-07-25 16:59] Splaktar commented on #400
OK, I guess my search was just about the sorting so I didn't see that issue, but it should also fix this issue.

[2015-07-25 17:00] Splaktar commented on #399
Running the latest Android M on Nexus 9.

[2015-07-25 17:06] PareshMayani commented on #400
Yes that issue is about displaying 2 sections only, upcoming events section on top and past events section below to that!

[2015-07-25 17:07] Splaktar commented on #311
Upcoming should be sorted with next event first, future events after.
Past should be sorted with last event first, past events after.

Same as what Boomerang does.

[2015-07-25 17:09] Splaktar commented on #399
Same behavior on Nexus 6 with Lollipop.

[2015-07-25 17:10] Splaktar commented on #399
You can scroll up while it is refreshing, so it doesn't block all ability to scroll up. But it should only refresh when you can't scroll up any farther and pull down. Not just any time you pull down.

[2015-07-25 17:12] PareshMayani commented on #311
@Splaktar I am not aware about Boomerang but yes I got your points. Thanks for sharing.

[2015-07-25 17:32] Splaktar commented on #311
You can see an example here: http://gdgspacecoast.org/#!/events
It's a GDG-X AngularJS (web) project.

[2015-07-25 17:43] Splaktar opened #401 "Arrow game crash after sign out of G+"
1. Go to Arrow game while signed into G+
2. Open Settings and uncheck box to sign out of G+
3. Press Back, You are taken to Arrow Game again
4. Press Crown icon (Achievements), app crashes

If the user is signed out of the Arrow game onResume, we should probably finish the activity and take them back to their previous activity.

    07-25 13:38:46.481  15211-15211/? E/AndroidRuntime﹕ FATAL EXCEPTI

[2015-07-25 18:12] tasomaniac commented on #399
Yeah I now. The canScrollUp function in RecyclerView should have done it. I
will check what is wrong.

On Sat, Jul 25, 2015, 8:10 PM Michael Prentice <notifications@github.com>
wrote:

[2015-07-25 18:13] tasomaniac commented on #401
Nice bug. :smile:

On Sat, Jul 25, 2015, 8:44 PM Michael Prentice <notifications@github.com>
wrote:

[2015-07-25 21:28] tasomaniac opened #406 "on logout profile image in nav drawer should be removed."

[2015-07-26 06:09] #401 closed

[2015-07-26 06:11] #399 closed

[2015-07-26 07:16] friedger commented on #354
fixed by https://github.com/gdg-x/frisbee/commit/588b9cf1615e3be6165ff63f0cd6ce94f89fc850

[2015-07-26 07:16] #354 closed

[2015-07-26 09:30] tasomaniac commented on #336
This is closed automatically since @PareshMayani merged #410
I will reopen it since the other parts are not sectioned yet.

[2015-07-26 10:12] friedger commented on #358
The achievements are published.

[2015-07-26 10:22] friedger opened #413 "GoogleApiClient callbacks are not unregistered"
unregisterConnectionCallback and unregisterFailedConnectionCallback should be called in GgdActivity and GdgNavDrawerActivity.

https://developers.google.com/android/reference/com/google/android/gms/common/api/GoogleApiClient#unregisterConnectionCallbacks(com.google.android.gms.common.api.GoogleApiClient.ConnectionCallbacks)

[2015-07-26 10:22] friedger commented on #413
Related discussion on https://github.com/gdg-x/frisbee/pull/407

[2015-07-26 10:56] PareshMayani opened #414 "TabLayout issue: Two lines title for "For leads" tab"
"For leads" tab is getting displayed in two lines, observed in Moto G phone.

![screenshot_2015-07-26-16-23-44](https://cloud.githubusercontent.com/assets/888080/8893571/eed953d0-33b2-11e5-9707-a05ed6c7e648.png)

[2015-07-26 11:01] friedger commented on #414
Same for Third party libraries in About activity

[2015-07-26 13:15] #336 closed

[2015-07-26 14:57] tasomaniac commented on #358
Most of the implementation is not working. We can finish the integration
before release.

On Sun, Jul 26, 2015, 1:13 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-07-26 15:00] tasomaniac commented on #414
Interesting. 3rd party libraries section is displayed normally on my phone.
Because it uses scrolling tabs.

Sorry for bringing in another issue when I integrated tablayout. It was
necessary. What should be done? Should we detect and convert it to
scrolling tabs?

On Sun, Jul 26, 2015, 2:01 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-07-26 16:39] Splaktar commented on #329
We should probably move the Development stuff in the README.md to the CONTRIBUTING.md and link from the README to CONTRIBUTING explicitly.

[2015-07-26 17:12] Splaktar commented on #329
OK, README.md Development section updated to just link to Dev Docs wiki and CONTRIBUTING.md (345f05c31a69f76ac9ba607d5918bf9b697916c4). Dev Docs in README.md moved to Dev Docs wiki (20bc04303db0ebbf169e83f037d3098c819102c9).

This should be all set now. Thank you to @friedger for the updates to the [Dev Docs](https://github.com/gdg-x/frisbee/wiki/Developer-Documentation) wiki to support this!

[2015-07-26 17:12] #329 closed

[2015-07-26 20:22] friedger opened #417 "Setup continous distribution"
local.properties and the p12 file is uploaded to travis.
It should be possible to publish apks by add the gradle task
[code]

[2015-07-27 01:43] Splaktar commented on #417
The changes to add these encrypted files seems to have broken the Travis build. Please revert or fix ASAP. All PR builds are failing atm.

[2015-07-27 06:50] friedger commented on #417
I am sorry for the broken build. Should be fixed now.

[2015-07-27 11:10] tasomaniac commented on #417
The new Travis infrastructure is not working for us right? I tried to do that as well. The new infrastructure is faster but has less memory I think.

I couldn't enable it with my pomodoro project as well where I have 3 modules to build including wear app.

[2015-07-27 12:25] tasomaniac opened #423 "Chapter swap in main page not working."
It simply does not reload the pager fragment s

[2015-07-27 12:35] tasomaniac opened #424 "Memory Leak in GDE adapter"
Here is the leak that I got from Leak Canary. When the device was online, we were getting gde image one by one. Now it is cached for 2 days and always gotten from the cache.
But still it leaks memory. It is really bad to do asynctask operation on getView function of an adapter.

In org.gdg.frisbee.android.debug:2.1.0-debug:21001.
* org.gdg.frisbee.android.gde.GdeListFragment has leaked:
* GC ROOT

[2015-07-27 12:50] tasomaniac opened #425 "Memory Leak in ContributorsFragment"
Here is the Leak Canary output. Similar to the leak in GdeAdapter, it leaks because of a network operation.
Since we don't have any dynamic info in About screen, this may be partially fixed by allowing all the tabs to live always.

In org.gdg.frisbee.android.debug:2.1.0-debug:21001.
* org.gdg.frisbee.android.about.ContributorsFragment has leaked:
* GC ROOT thread java.lang.Thread.<Java Local> (nam

[2015-07-27 14:21] mauimauer commented on #370
Please flag this up with the people maintaining gdg-x/hub or try to get a proper API from the guys over at GoogleDeveloperExperts/experts-app-web

[2015-07-27 14:28] tasomaniac opened #427 "DevFest 2015 season"
DevFest 2015 season is beginning now. Do you all think that we should include it from now.

[2015-07-28 03:15] Splaktar commented on #370
I don't believe that anyone is maintaining gdg-x/hub at this time. We tried to find some people with Node.js and Mongo experience at the GDG summit, but no one stepped up. I plan to contribute some more, but Angular Material, boomerang, and Frisbee are keeping me pretty busy atm.

For now this issue is quite low priority and shouldn't be looked at until 2.2 and 2.3 milestone issues can be addresse

[2015-07-28 03:16] Splaktar commented on #427
Yes, but I think 2.3 is a good release to target it for. We need to get critical bugs fixed in 2.2 and release it, before we add more new features.

[2015-07-28 05:54] tasomaniac commented on #427
It is just a DateTime change in `App` class.

[2015-07-28 05:55] tasomaniac commented on #370
Is there a way to set priority in Github? Is it done with labels? Should we start prioritize the issues.

[2015-07-29 08:41] #427 closed

[2015-07-30 07:13] tasomaniac commented on #269
I will close this issue since it is way much better now.
Closed via #437

[2015-07-30 07:13] #269 closed

[2015-07-30 07:42] tasomaniac commented on #371
GDE website is updated and they fixed it.

[2015-07-30 07:56] #423 closed

[2015-07-30 07:56] #425 closed

[2015-07-30 07:59] tasomaniac opened #438 "Run connectedTests on CI"
We should run connectedTests on an emulator on Travis.
Memory of Travis env may not be enough. We should try and see.

This is also related to #417

[2015-07-30 08:27] PareshMayani commented on #371
@tasomaniac :+1:

[2015-07-30 20:08] #344 closed

[2015-07-30 20:08] #424 closed

[2015-07-31 01:52] Splaktar commented on #383
I am OK with moving this to 2.3 milestone.

[2015-07-31 01:53] Splaktar commented on #311
@PareshMayani have you pushed up a branch with what you've done so far on this? Can someone else take over and wrap this up for the 2.2 release or do you think that you will get to it this weekend?

[2015-07-31 06:02] PareshMayani commented on #383
Thanks for modifying the milestone :+1:

[2015-07-31 06:04] PareshMayani commented on #311
@Splaktar mistakenly I reverted back those changes while working on another issues! And not sure though about this weekend!

[2015-07-31 06:06] PareshMayani commented on #311
if @fnk0 wants to take it then please you can!

[2015-07-31 06:17] fnk0 commented on #311
I can do that. Which UX do you guys have in mind? Changs the sort order so we show the new ones first and still show in the same list or do you have another UX in mind?

[2015-07-31 06:18] PareshMayani commented on #311
@fnk0 https://github.com/gdg-x/frisbee/issues/311#issuecomment-124862637

[2015-07-31 10:09] tasomaniac commented on #311
We should have list separator section headers "Upcoming" and "Past"
and sorting should be like @Splaktar mentions here https://github.com/gdg-x/frisbee/issues/311#issuecomment-124862637

[2015-07-31 15:56] tasomaniac opened #439 "GDE list is not showing on release build"
Gde page is ok on debug builds but it is empty on release builds. It maybe because of a proguard rule problem. We should look into it before full release.

I won't be able to look at it.
If someone can change the release keystore to debug temporarily and test it. It would be great.

[2015-07-31 15:57] tasomaniac opened #440 "Chapters load problem"
On the first open it doesn't load the chapters somehow. It downloads them and put them into cache but never displays them.
When you open the app one more time it displays chapter spinner through cache.

[2015-08-01 15:10] tasomaniac opened #442 "Implement the new FCM registration"
It can be related to this.
https://plus.google.com/+AndroidDevelopers/posts/TqPcucE9zL9

We should check if it is the same case in 2.1 production version.

Do we even have access to push notification server of ours? Is it the hub webpage?

[2015-08-01 15:36] Splaktar commented on #442
It looks like we've got about half of the migration done (receiver) but still need to update the other half (service).

The problem seems to be related to this:

    public class GcmIntentService extends IntentService

From https://developers.google.com/cloud-messaging/android/client

    replace the current service declaration that extends IntentService to the new GcmListenerService
    Refactor

[2015-08-01 15:38] tasomaniac commented on #442
This is the class where we receive the push messages. I am not 100% sure but it is not the place where the registration occurs.

[2015-08-01 15:41] Splaktar commented on #442
Right, it's not related to registration here. I'll take a look at that real quick.

Are we even using GCM for anything useful in the app? I'm seeing 10-20 registrations per day, but 0 messages per day.

[2015-08-01 15:56] tasomaniac commented on #442
We are supposed to send event notifications to the users but it is not
working for a looong time.

On Sat, Aug 1, 2015, 6:41 PM Michael Prentice <notifications@github.com>
wrote:

[2015-08-01 15:58] Splaktar commented on #442
We need to do something like this on registration:

    InstanceID instanceID = InstanceID.getInstance(FirstStartActivity.this);
                        String token = instanceID.getToken(BuildConfig.GCM_SENDER_ID,
                                GoogleCloudMessaging.INSTANCE_ID_SCOPE, null);

Then do the send to GdgXHub server in the service's listener. Details here: https://developers.google.com

[2015-08-01 16:00] Splaktar commented on #442
We might just want to disable GCM in the app for 2.2 and then look at reimplementing it in 2.3 or 3.0. There are a lot of changes needed here and the net result will be nothing that the user can see in 2.2. Perhaps we can just make the checkbox disabled and unchecked in 2.2 and disable it in settings as well.

[2015-08-01 17:22] tasomaniac commented on #442
Or we can leave the UI as is and comment out the network operation and tell the user it is successful. It doesn't do anything anyways.
And reimplement it in 2.3 as you say. It will be so much easier.

[2015-08-02 16:21] tasomaniac commented on #438
Little bit research.
Our tests successfully run on a device with the app already setup.
When I delete the app and run `./gradlew connectedCheck` it fails.
It is because, at first the chapters are not gotten from the network. App is not initialized etc. Even if MainActivityTest tries to open MainActivity, it redirects it to FirstStartActivitiy.

[2015-08-02 17:02] tasomaniac opened #447 "Memory Leak on Achievements implementations."
Achievement implementation immediately leaks Activity on open.
It happens both on SettingsActivity and AboutActivity.

I think it is because of the delay with Handler implementation. It makes also the app crash a lot. I think it is the most common unresolved crash of the app in Crashlytics as of now.

[code]

[2015-08-02 17:40] Splaktar commented on #442
Registration disabled in #444 to fix login blocking bug. This issue is to re-implement GCM with the new APIs mentioned above.

[2015-08-02 17:43] #439 closed

[2015-08-02 17:43] #440 closed

[2015-08-02 20:42] tasomaniac opened #449 "Pulse orientation change"
When the orientation is changed, the selected country in the spinner should be kept same.

[2015-08-02 20:44] tasomaniac opened #450 "Back press on pulse screen"
When a country is selected, my first action to go back to global list is to press back button. It closes the activity. We can override back press and make it go back to global list.

[2015-08-02 20:53] tasomaniac opened #451 "Pulse numbering bug."
As it can be seen in the screenshots, we have a problem with the numbering of the items.

![screenshot_20150802-234650](https://cloud.githubusercontent.com/assets/763339/9027966/8fb94422-3971-11e5-9e95-a506602b553a.png)
![screenshot_20150802-234709](https://cloud.githubusercontent.com/assets/763339/9027967/8fbdee28-3971-11e5-82cd-ec8c5eb34b81.png)

[2015-08-02 21:08] tasomaniac opened #452 "InfoFragment organizer profile click open wrong link."
It opens http://plus.google.com/null/posts

[2015-08-02 21:13] tasomaniac opened #453 "Small bug introduced in 2.2"
http://crashes.to/s/084e28f934d

[2015-08-02 21:48] Splaktar commented on #451
First one seems OK. Second does not.

[2015-08-02 21:52] Splaktar commented on #453
For those without Crashlytics access:

    java.lang.RuntimeException: Unable to start activity ComponentInfo{org.gdg.frisbee.android/org.gdg.frisbee.android.eventseries.TaggedEventSeriesActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'android.view.MenuItem android.view.MenuItem.setChecked(boolean)' on a null object reference
       at android.app.ActivityThread.perfo

[2015-08-02 21:59] Splaktar commented on #370
Yes, you would create labels like `priority: critical` `priority: high` `priority: low` etc. The Angular and Angular-Material team have a nice set of labels (some specific to web dev) for reference.

[2015-08-02 22:14] tasomaniac commented on #451
First one has two 4s and two 9s :smile:

[2015-08-02 22:14] tasomaniac commented on #453
Thank you. I was mobile :smile:

[2015-08-03 02:44] Splaktar commented on #451
Yes and that is correct since they are ties. 6 and 6. 0 and 0.

[2015-08-03 03:20] fnk0 commented on #311
So I've got the sorting stuff working but I don't think I will have time anytime this week to get the list separators for Upcoming / Past. Should I make a PR with the sorting stuff and we can add list separators in a separate PR?

[2015-08-03 03:22] Splaktar commented on #311
That's fine. Someone else could add that to the PR before it gets merged if needed.

[2015-08-03 04:02] PareshMayani commented on #451
+1 @Splaktar that's correct Said as there is tie.

[2015-08-03 04:30] PareshMayani opened #454 "Home screen back key issue"
Related to #450 but on home screen and a force close is happening.

Exception log:

[code]

[2015-08-03 06:54] tasomaniac opened #457 "AchievementHandler should be redesigned."
Here is a crash occured in AchievementHandler. It is not easy to fix. It should be redesigned.

Here is the public link to crash.
http://crashes.to/s/06d4aca4397

[2015-08-03 07:23] tasomaniac commented on #451
Oh I didn't know that. Thank you guys.
I cannot reproduce the bug in Australia either. I have 1, 2, 3 now as the numbers.
And I realized that we have 2 Australia in the Country list :)

[2015-08-04 02:56] Splaktar commented on #457
java.lang.IllegalStateException: GoogleApiClient is not connected yet.
       at com.google.android.gms.common.api.zzf.zzb()
       at com.google.android.gms.common.api.zzg.zzb()
       at com.google.android.gms.games.internal.api.AchievementsImpl.getAchievementsIntent()
       at org.gdg.frisbee.android.achievements.AchievementActionHandler$1.run(AchievementActionHandler.java:80)
       at androi

[2015-08-04 20:27] #454 closed

[2015-08-04 20:36] tasomaniac commented on #311
This was automatically closed because of the tag in the description of the previous PR.
I am moving this to Release 2.3 anyways.

[2015-08-04 21:28] #452 closed

[2015-08-05 07:14] #453 closed

[2015-08-05 08:57] PareshMayani commented on #311
@tasomaniac this is yet to complete, events are sorted but not getting displayed as we want. You should remove this point from the release note/Google+ post!

[2015-08-11 08:59] tasomaniac opened #464 "Refactor welcome 1st step Fragment"
We have 6 different copied and pasted version of `fragment_welcome_step1.xml`. It should be at most 2.
Most of them are exactly the same. Those can be deleted and instead made a ref.

[2015-08-12 15:04] tasomaniac opened #466 "Replace AnimationImageView with normal ProgressBar"
We don't need `AnimationImageView`. It can be replaced with normal `ProgressBar` with custom `indeterminateDrawable` attribute.

In fact I already started working on this.

[2015-08-12 20:06] tasomaniac opened #467 "Create Play Store Developer Page"
This year at Google I/O they introduced developer pages where you have a special page for the developer account. We need
- Promotional Text
- Developer Icon 512x512
- Header Image 4096x2304

[2015-08-13 04:33] PareshMayani commented on #414
Thanks @tasomaniac, will look into it over the weekend.

[2015-08-13 04:33] PareshMayani commented on #466
:+1:

[2015-08-14 21:29] friedger commented on #413
@tasomaniac  Fixed by https://github.com/gdg-x/frisbee/pull/468?

[2015-08-14 21:36] friedger opened #469 "Add map feature to EventDetails"
In addition to the existing navigation menu item, a tab with the map of the location should be added.

[2015-08-14 21:36] friedger commented on #469
Previously, part of #270

[2015-08-14 21:37] friedger opened #470 "Add participants feature to EventDetails page"
Add a tab with features around the list of participants.

[2015-08-14 21:38] friedger commented on #470
Previously, part of #270

[2015-08-14 21:38] friedger opened #471 "Add photos to EventDetails page"
Add tab with photos to event details.

[2015-08-14 21:38] friedger commented on #471
Previously, part of #270

[2015-08-14 21:47] friedger opened #472 "Remove 3rd party reference of Crouton"
Remove from list of 3rd party libraries

[2015-08-14 21:48] friedger opened #473 "Loading event details sometimes shows an error message."
This is for version 2.2.2

[2015-08-14 22:19] tasomaniac commented on #469
:+1: I think a map here would be a nice improvement. We can do tabs.

[2015-08-14 23:34] tasomaniac commented on #470
Do we have an Api for this? Where are these stored? Are those the people
who say yes to the G+ event.

On Fri, Aug 14, 2015, 11:38 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-08-14 23:34] tasomaniac commented on #471
This will be really nice. I was thinking to have a photos section on the
main page as well.
With a quick thinking, we can do it like this. We can include one or more
images from the event to the event list item cards in main page.

On Fri, Aug 14, 2015, 11:38 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-08-14 23:34] tasomaniac commented on #473
I think we have a problem with the hub Api. It gives a 404 for events. I
think syncing cron jobs are not working. Also the new events are not
synced. DevFest page should not be empty.

On Fri, Aug 14, 2015, 11:48 PM Friedger Müffke <notifications@github.com>
wrote:

[2015-08-14 23:36] friedger commented on #470
Probably via meetup.com..
On 15 Aug 2015 1:34 am, "Said Tahsin Dane" <notifications@github.com> wrote:

[2015-08-14 23:38] tasomaniac commented on #470
Do we have any additional info about Meetup integration into official site.

[2015-08-14 23:38] #413 closed

[2015-08-14 23:39] tasomaniac commented on #413
Yes :+1: forgot to tag it.

[2015-08-15 06:43] friedger commented on #470
We are the official site ☺ or what do you mean?

There should be an integration into the hub first..
On 15 Aug 2015 1:38 am, "Said Tahsin Dane" <notifications@github.com> wrote:

[2015-08-15 08:00] tasomaniac opened #474 "Replace zxing with new vision Api"
We can replace zxing implementation with the new vision Api.
We also generate barcodes offline. I don't think vision api has that feature. But we should look into it.

[2015-08-16 07:30] tasomaniac commented on #470
I think project balloon 🎈 has potential to be the official site. :) But we need developers.

[2015-08-20 09:40] tasomaniac commented on #473
@Splaktar this issue is also really similar to the hub problems we've been talking about. It gives 404 error for events that we get through hub itself.

[2015-08-20 11:42] #472 closed

[2015-08-26 13:29] friedger commented on #474
What I heard, the implementation is not very reliable.

[2015-08-26 13:31] friedger commented on #467
Developer Icon: https://avatars3.githubusercontent.com/u/4521984?v=3&s=512

[2015-08-26 13:39] friedger commented on #467
Header Image something like https://plus.google.com/events/gallery/cf489kbj996us9q1fsofo9k3t4g?pid=6178107869745348018&oid=114323788136121580292&sort=6

[2015-08-26 13:51] friedger commented on #467
Page has been created: https://play.google.com/store/apps/dev?id=8811626365943632944

[2015-08-26 13:51] #467 closed

[2015-08-26 14:00] friedger commented on #466
@tasomaniac Could you show where you started?

[2015-08-26 14:02] tasomaniac commented on #466
I've started this but it is really a big issue. Currently all of my is local. Do you want me to push it?

[2015-08-26 15:07] friedger commented on #374
@PareshMayani What needs to be done for this one?

[2015-08-26 15:12] tasomaniac commented on #374
This is already fixed in the above referenced prs

[2015-08-26 15:12] #374 closed

[2015-08-27 05:48] friedger commented on #377
Here I tried to do a checkin on-site. https://github.com/gdg-x/frisbee/tree/feature/nearby

[2015-08-27 06:47] tasomaniac commented on #377
Code looks good. How does it work?
I was thinking for the Arrow game. For 2 people to meet. What you've done
is for event check-ins right?

On Thu, Aug 27, 2015 at 8:48 AM Friedger Müffke <notifications@github.com>
wrote:

[2015-08-27 08:17] #449 closed

[2015-08-31 08:39] tasomaniac opened #477 "External Intent problem."
When Google Plus link is opened in the app, it look like this. It is a famous Android problem. In order to solve it we need to add couple of flags into the Intent.

In the below screenshot, you can see that Google+ app is open with red primaryColor but with our GDG app logo.

![screenshot_2015-08-30-23-44-32](https://cloud.githubusercontent.com/assets/763339/9575005/ee32d4b8-4fd4-11e5-8538-8f6f2a8

[2015-09-01 07:11] tasomaniac commented on #473
I can confirm that this is working as intended in the new hub deployment (http://146.148.62.106/). Closing this because it is automatically be fixed when the new hub IP is forwarded to hub.gdgx.io

[2015-09-01 07:11] #473 closed

[2015-09-03 12:54] tasomaniac commented on #451
I opened this issue but cannot reproduce this.

[2015-09-03 13:08] #450 closed

[2015-09-03 13:15] tasomaniac commented on #451
I actually reproduced this again while I am testing the app. Idk how to do it though.

[2015-09-03 13:17] tasomaniac commented on #451
Here is one. I don't how how I did it. It seems that it happens when you change the country.

![image](https://cloud.githubusercontent.com/assets/763339/9659161/504be566-5257-11e5-925b-dece7f926d3f.png)

[2015-09-03 13:38] #477 closed

[2015-09-03 13:43] tasomaniac opened #480 "Use Chrome Custom Tabs for external links."
If Google+ is installed it is not logical to use Chrome Custom Tabs.
But for all other things, it would be a great improvement to use Chrome Custom Tabs.

More info:
http://android-developers.blogspot.com.tr/2015/09/chrome-custom-tabs-smooth-transition.html
https://developer.chrome.com/multidevice/android/customtabs

[2015-09-04 20:54] friedger commented on #480
@tasomaniac Android will figure out how to use the tab information, hopefully... probably we don't want the warm up for now.

[2015-09-04 21:13] tasomaniac commented on #480
I don't think custom tabs forward links to external apps. The benefit of custom tabs is that user never leaves your app. So most probably custom tabs won't redirect links to external intents.

[2015-09-04 21:14] tasomaniac commented on #480
But it will be perfect for help section. I too don't think warm up makes sense for us

[2015-09-07 07:41] tasomaniac opened #483 "Removing plus api dependency"
Google Plus Api dependency is not specifically designed for Android and it comes with lots of dependencies. Most important thing is it depends on Apache Http Client.

It is used in 2 places: NewsFragment where we get Google+ feed and while we are getting profile pictures of people. Both of them can be replaced with REST calls using Retrofit.

What do you all think?

[code]

[2015-09-07 08:16] tasomaniac opened #484 "Migrate to Retrofit 2"

[2015-09-07 08:30] friedger commented on #483
We should use this: https://developers.google.com/+/mobile/android/ ??

[2015-09-07 08:31] #480 closed

[2015-09-07 08:59] tasomaniac commented on #483
I already tried doing it. It is already in our dependency list. I wish we could use it. That would be really clean. That api in Google Play Services does not include related APIs to get news feed. It doesn't even support getting other people's public profile. It only has APIs related to signed in user.

[2015-09-09 15:10] stefanhoth opened #487 "PulseAdapter has a confusing setup"
PulseAdapter needs to be able to sort entries by value.

This could be easily handled through a [TreeMap](http://docs.oracle.com/javase/6/docs/api/java/util/TreeMap.html) with `PulseEntry` implementing `Comparable` (or a static `Comparator`) but instead the adapter stores values in an `ArrayList<Map.Entry<String, PulseEntry>>` which I would call confusing and inefficient.

[2015-09-09 15:11] #451 closed

[2015-09-14 12:31] tasomaniac opened #488 "App Invites integration"
More information can be found here:

https://developers.google.com/app-invites/android/guides/app

In the app visit the about section and use the share action.

![device-2015-11-24-090428](https://cloud.githubusercontent.com/assets/1449049/11361068/9d752a1e-928a-11e5-8c41-b9e834874338.png)

[2015-09-30 10:56] altamish1994 commented on #447
I want to contribute to the app and fix this issue but when I execute the code and run the app on my device it  says no API key defined and when i signup through settings the app crashes continuously, can you guide me how to get through this

[2015-09-30 11:55] tasomaniac commented on #447
We have to fix that crash. Even when you don't have the keys, it shouldn't
crash.

Can you reach us through gitter.im. You can find the link on the Readme
file. I can help you there.

On Wed, Sep 30, 2015, 1:56 PM altamish1994 <notifications@github.com> wrote:

[2015-09-30 21:19] tasomaniac opened #491 "Chapters sorting when location is not available"
When user's location is not available, the app does the same sorting with location of 0.0, 0.0 coordinates.
Instead, don't take the location into account when it is not available. Just sort alphabetically.

[2015-09-30 22:07] friedger commented on #317
EventActivity can be index with http://gdgroups.org/<event id> like http://gdgroups.org/4729666051506176/

[2015-10-01 05:58] tasomaniac opened #492 "Implement App Links"
Implement App Links.

Only thing to do in the Android side is to add autoVerify to IntentFilter 's.
A json with the fingerprint of the app should be added to firefly.

More here: https://www.youtube.com/watch?v=LQoohRwojmw
https://developer.android.com/intl/zh-cn/training/app-links/index.html

[2015-10-01 07:06] PareshMayani opened #493 "Implement VectorDrawable"
It's time to convert all the possible PNG icons and drawables into the vector files and start using it.

VectorDrawable is available in Android studio 1.4. For more https://www.youtube.com/watch?v=8e3I-PYJNHg

[2015-10-01 07:07] PareshMayani commented on #493
Let me if all you are agree to go ahead with the implementation, meanwhile I will prepare a demo to show you improvements and benefits of using it :)

[2015-10-01 08:58] tasomaniac commented on #493
Go ahead and do it. It will improve the codebase quality a lot.
You can easily replace the material icons that we are using.

[2015-10-01 09:00] PareshMayani commented on #493
@tasomaniac thanks :) will start implementing and sending PR :)

[2015-10-02 14:07] PareshMayani commented on #464
I have just done re-factoring of welcome step 1 layouts. As said said, I have deleted other layouts as it wasn't needed and we haven't taken different layouts for any of the screens like welcome step two or three.

[2015-10-02 14:09] PareshMayani commented on #464
Landscape layout: Given center horizontal to the "Welcome. Choose your home GDG" layout

![device-2015-10-02-193500](https://cloud.githubusercontent.com/assets/888080/10248450/3693f422-693d-11e5-9cef-031e16c55b08.png)

[2015-10-02 14:13] PareshMayani commented on #464
Nexus 6 Portrait and landscape layouts

![device-2015-10-02-194159](https://cloud.githubusercontent.com/assets/888080/10248530/bfbd95c8-693d-11e5-8318-e25f588f1cfd.png)
![device-2015-10-02-194105](https://cloud.githubusercontent.com/assets/888080/10248531/c3c55a20-693d-11e5-86af-bb8caa870fab.png)

[2015-10-02 14:16] tasomaniac commented on #464
Nice :+1: Where is the PR? :smile_cat:

[2015-10-02 14:17] PareshMayani commented on #464
@tasomaniac dude can't beat your speed :D

[2015-10-02 14:42] PareshMayani commented on #466
Could you please share the progress?

Because I think it can be easily done with a single vector asset and animating the same, so at the end we will require a single vector asset to make it same as current animated image view.

[2015-10-02 14:45] tasomaniac commented on #466
I will finish this as soon as possible. I find couple of design problems
whole doing it.

On Fri, Oct 2, 2015, 5:42 PM Paresh Mayani <notifications@github.com> wrote:

[2015-10-02 14:46] PareshMayani commented on #466
:+1:

[2015-10-04 08:20] PareshMayani commented on #414
Solution could be either we define a custom textview or make tabs scrollable!

Check about taking a custom textview and inflating it but again here is an issue, it would be ellipsized at end if we make it a single line textview. http://stackoverflow.com/questions/31698756/remove-line-break-in-tablayout

[2015-10-04 08:50] tasomaniac commented on #414
We can make the tabs scrollable only on the small phones.

On Sun, Oct 4, 2015, 11:20 AM Paresh Mayani <notifications@github.com>
wrote:

[2015-10-16 11:41] friedger commented on #492
We should also support the applink.org protocol http://applinks.org/documentation/

[2015-10-16 11:51] tasomaniac commented on #492
Should we? When they first released, it didn't sound really well. And being facebook behind it, I don't trust the protocol.
Are you using it or have you tried it? Can you tell why we should implement it?

[2015-10-16 11:56] friedger commented on #492
Having a better user experience is worth a trial. It does not harm and I like the open aspect. I haven't tried it. We could also try http://branch.io

[2015-10-16 12:01] tasomaniac commented on #492
As we are only on Android, Google's App Indexing should be sufficient for us. App Indexing is better user experience. But do we need additional libraries?

[2015-10-16 12:03] friedger commented on #492
App Indexing is not for deep linking.

[2015-10-16 12:11] tasomaniac commented on #492
They are not 100% the same but when you implement App Indexing, you almost have to implement Android's deep linking.
https://developer.android.com/training/app-indexing/deep-linking.html

[2015-10-16 12:22] friedger commented on #492
I meant the other side, when launching a link from frisbee. The applink.org protocol comes after Google verified resolution (as this is built into the Android system). Requesting the applink meta data and resolving it will always return the verified app.

In addition to the json, we could add the meta data to firefly.

[2015-10-16 12:31] tasomaniac commented on #492
Then, I don't understand what applinks.org is doing. :)
Will investigate it more.

[2015-11-02 10:21] PareshMayani commented on #464
@tasomaniac I guess this should be closed as it has already been fixed!

[2015-11-02 10:37] tasomaniac commented on #464
Sure

[2015-11-02 10:37] #464 closed

[2015-11-19 09:35] friedger commented on #488
@tasomaniac What is the status here? Is there a branch?

[2015-11-19 16:59] tasomaniac commented on #488
As far as I remember I did some work in the about page and you merged it.
It is merged but we didn't test it at all.

On Thu, Nov 19, 2015, 01:35 Friedger Müffke <notifications@github.com>
wrote:

[2015-11-24 08:07] friedger commented on #488
fixed by #489

[2015-11-24 08:07] #488 closed

[2015-11-24 08:09] friedger commented on #492
Actually, I disagree that we should implement it. It would discourage other developers to create apps that would make use of our site. I am more for an open app ecosystem.

[2015-11-24 10:48] friedger commented on #317
Started in https://github.com/gdg-x/frisbee/tree/feature/app_index

[2015-11-24 18:34] tasomaniac commented on #492
I see your point now. You are right. This is not a must.

[2015-11-27 03:22] Splaktar opened #497 "Update Play Store listing with screenshots from 2.2.2 release"
When was the last time we updated these screenshots?

There are no 7 inch tablet screenshots.
10 inch tablet only has 3 screenshots.

An updated video and icon would also be something that we should think about :)

[2015-11-27 04:10] Splaktar commented on #497
Here are a few that might be useful.

![achievements](https://cloud.githubusercontent.com/assets/3506071/11433940/f3490064-94ab-11e5-9a24-8d28b9551169.png)
![chapterevents](https://cloud.githubusercontent.com/assets/3506071/11433941/f34b134a-94ab-11e5-9440-2c29c082f3b3.png)
![devfest](https://cloud.githubusercontent.com/assets/3506071/11433942/f34d0c36-94ab-11e5-9bec-220f57528906.png)
![gde](https

[2015-12-01 13:14] friedger opened #499 "Upgrade from Cloud Save API to Games Snapshot API"
http://android-developers.blogspot.be/2014/11/keeping-your-saved-games-in-cloud.html

[2015-12-01 13:39] tasomaniac commented on #499
Migrating info here: https://developers.google.com/games/services/android/savedgames?hl=en#migrating_from_the_appstate_api

[2015-12-02 20:26] tasomaniac commented on #497
Did you already update them, or should we update them with these?

Video would be awesome. I did some effort to find the original file for the video but no luck. Making that video from scratch would be too hard.

[2015-12-02 21:52] tasomaniac commented on #499
Here is the discussion @ianhanniballake and I made about this yesterday.

https://github.com/ianhanniballake/TripleSolitaire/commit/d747ff06df85b5cc9f27d805eaf2bc0dab473d96#commitcomment-14714517

[2015-12-03 00:45] Splaktar commented on #497
I didn't have time to update them. These should help for the phone, but they don't cover the 7 or 10 inch tablet shots.

[2015-12-03 00:49] Splaktar commented on #499
Yes, I agree that 10 months was too little time for the removal of this API.

[2015-12-03 01:03] tasomaniac commented on #499
Google usually just deprecates and does not remove APIs for years. This was unexpected from my side.

[2015-12-03 01:07] Splaktar commented on #499
Yeah, I'm looking at replacing the use of `AndroidHttpClient` in one of my apps. It was deprecated for a long time, but I never had time to remove it. Now I have to... I've also had them break a number of other Play Services APIs that I've used. It's nice to get their support with those services, but you kind of have to expect them to be alpha and breaking changes coming every 6-12 months.

This i

[2015-12-03 09:03] tasomaniac commented on #499
`HttpClient` is actually not removed. It is hidden. You can re-enable it via a gradle method and it will work just like before.

[2015-12-03 12:32] Splaktar commented on #499
Yes, but AFAIK okhttp is better in every way. I was able to replace the code pretty easily and saved about 20 lines of code and a lot of complexity for each instance.

[2015-12-12 01:10] #492 closed

[2015-12-12 09:04] friedger commented on #355
Related to https://github.com/gdg-x/frisbee/tree/fix/google_api

[2015-12-12 21:17] friedger commented on #491
In https://github.com/gdg-x/frisbee/blob/develop/app/src/main/java/org/gdg/frisbee/android/chapter/ChapterComparator.java#L41 there is a check for null location. Where does the 0,0 come from?

[2015-12-12 22:13] friedger commented on #499
This is a bug, as the App state seems read-only

[2015-12-13 09:48] tasomaniac commented on #499
Do you mean a bug from Google?
It is read only. The data will be always there but if we upgrade GMS
library, we won't have the Api to access the data.

On Sun, Dec 13, 2015, 00:13 Friedger Müffke <notifications@github.com>
wrote:

[2015-12-13 10:42] friedger commented on #499
It is a bug in our app because you can tag the same organizer more than
once and the number of tagged organizers does not increase neither.
On 13 Dec 2015 10:48, "Said Tahsin Dane" <notifications@github.com> wrote:

[2015-12-13 11:12] tasomaniac commented on #499
Yes that's right. We have to migrate the API as soon as possible to have
write support. Basically arrow tagging game is not working anymore.

On Sun, Dec 13, 2015, 12:42 Friedger Müffke <notifications@github.com>
wrote:

[2015-12-15 23:56] friedger commented on #466
Is this still in progress? @tasomaniac

[2015-12-16 10:30] friedger commented on #373
fixed by #505

[2015-12-16 14:22] tasomaniac commented on #466
Finally pushed the work I've done on this.
Please review @PareshMayani and @friedger

[2015-12-16 15:11] tasomaniac commented on #237
Lets close this becuase the app looks not bad. If we see a problem with somewhere in the app about cards, lets open another issue.

[2015-12-16 15:11] #237 closed

[2015-12-16 15:13] tasomaniac commented on #311
I think we should close this too. The events are separated for a long time. This is implemented by sorting the events. They are not hardly separated but this is enough for us. We have lot to do. Anyone against it? :)

[2015-12-16 15:13] #311 closed

[2015-12-17 13:22] tasomaniac commented on #491
I am not sure. I will work on this today.
What I am seeing in emulator that couple of chapters near equator shown at the top.

[2015-12-17 15:56] #491 closed

[2015-12-17 16:15] #406 closed

[2015-12-18 12:16] #466 closed

[2015-12-29 17:27] tasomaniac opened #513 "EventList should be centered in big screens"
I gave a max width to these lists. Max width looks good I think. These were centered but they are now broken.
Main screen events page and leads page are also the same.

![screenshot_20151229-192416](https://cloud.githubusercontent.com/assets/763339/12038572/fc33c0d6-ae61-11e5-8908-7d689486ff6a.png)

[2016-01-02 19:54] #499 closed

[2016-01-04 13:42] friedger opened #514 "Replace git with gradleGit"
This is for better support of Windows or non-standard installations

Use `Grgrit.head().abbreviatedId`

See http://ajoberstar.org/grgit/docs/groovydoc/org/ajoberstar/grgit/Grgit.html#head%28%29

[2016-01-04 15:15] tasomaniac commented on #514
Fixed by #515

[2016-01-04 15:15] #514 closed

[2016-01-04 15:16] tasomaniac opened #516 "Use login to determine home chapter"
If we can login automatically at the first open of the app, we can determine the home chapter of the user and we can skip the tutorial screen for recurring users.

Related to https://github.com/gdg-x/hub/issues/83 and https://github.com/gdg-x/firefly/issues/86

[2016-01-07 12:59] #484 closed

[2016-01-07 14:20] tasomaniac opened #519 "Replace deprecated methods like People.getCurrentPerson() with GoogleSignInAccount"
New Google login API in GMS 8.3+ solves this actually. But still if we use Google Play Games, it would require Google+ anyways. There is no Play Games without Google+ yet.

So if the user do not have Google+, we can disable Game APIs.

[2016-01-08 11:48] tasomaniac opened #520 "EventActivityTest is broken"
EventActivityTest is broken becuase it does not wait for network operations to finish.

It directly tries to open OverflowOptionsMenu which fails immediately.

[2016-01-08 18:55] friedger opened #522 "App Indexing only works when user is logged in"
App Indexing only works when user is logged in.

See also #501

[2016-01-11 00:38] friedger opened #525 "Replace logo with new design"
Replace logo on
- store listing
- app logo
- icon on events type
- DevFest series icon

[2016-01-11 09:48] friedger opened #526 "Move login/logout to nav drawer"
The current UI with a checkbox does not follow the branding guidelines

* for G+
https://developers.google.com/+/branding-guidelines
* for Google Sign-In
https://developers.google.com/identity/sign-in/android/sign-in#add_the_google_sign-in_button_to_your_app

[2016-01-11 11:15] friedger commented on #497
@tasomaniac as agreed in Januar hangout

[2016-01-11 12:45] #513 closed

[2016-01-11 12:46] tasomaniac commented on #520
I will close this because it is fixed. It is just that it is not reliable on Travis.

[2016-01-11 12:46] #520 closed

[2016-01-11 12:49] friedger commented on #378
fixed by #524

[2016-01-11 12:49] #378 closed

[2016-01-11 12:50] friedger commented on #358
What needs to be done to finish this?

[2016-01-11 13:43] friedger commented on #483
Play service contains an api to load public profiles: https://developers.google.com/android/reference/com/google/android/gms/plus/People.html#load%28com.google.android.gms.common.api.GoogleApiClient,%20java.lang.String...%29

[2016-01-13 11:49] #373 closed

[2016-01-13 11:49] tasomaniac commented on #373
Fixed by #505 and #530

[2016-01-13 13:37] friedger commented on #165
I am closing this and add an issue for this general use case independent of the technology

[2016-01-13 13:37] friedger opened #531 "Attendees of an event should easy open the event details page"

[2016-01-13 13:37] friedger commented on #165
See https://github.com/gdg-x/frisbee/issues/531

[2016-01-13 13:37] #165 closed

[2016-01-13 13:44] tasomaniac commented on #165
Makes sense to close it.
We have deep linking support for event links. If those links are written into beacons, they will I think open the app right?

[2016-01-13 13:48] friedger commented on #531
With deeplinking this is sufficient

[2016-01-13 13:49] tasomaniac commented on #531
Event organizer should provide the event shortlink somehow somewhere. I can be a URI Beacon, QR Code etc.

And additionally we can also send push notification to users once their home chapter's events are starting.

[2016-01-13 14:19] friedger commented on #531
See https://github.com/gdg-x/frisbee/wiki/FAQ-for-organizers

[2016-01-13 14:19] #531 closed

[2016-01-13 14:21] tasomaniac commented on #531
Very good! Do you plan to put that into Wisdom as well?

[2016-01-13 15:05] friedger commented on #531
Even better
On 13 Jan 2016 15:21, "Said Tahsin Dane" <notifications@github.com> wrote:

[2016-01-14 15:55] tasomaniac opened #533 "New Achievement bugs"
- [X] Achievement after sending a feedback does not work for me.
- [x] When we migrate Feeling Social achievement, it worked for me but it unlocked level 3 but it skipped level 2.
- [X] Power user is not implemented at all.

[2016-01-14 22:15] friedger opened #535 "[Wear] Use Home chapter logo as background"

[2016-01-19 12:10] #533 closed

[2016-01-20 12:10] #358 closed

[2016-01-20 12:36] #497 closed

[2016-01-21 11:22] friedger opened #540 "GDG Augsburg does not appear in the list of chapters"
It appears in the list at https://hub.gdgx.io/api/v1/chapters?perpage=999

However, does not show in the onboarding or the settings list.

[2016-01-21 11:23] #417 closed

[2016-01-21 11:25] tasomaniac commented on #540
It is in my app when I search it.

On Thu, Jan 21, 2016, 13:22 Friedger Müffke <notifications@github.com>
wrote:

[2016-01-21 11:32] tasomaniac commented on #540
![screenshot_20160121-133045](https://cloud.githubusercontent.com/assets/763339/12479393/74bb387a-c043-11e5-9c04-ecc9177b430e.png)

[2016-01-21 11:40] friedger commented on #540
So what? :-)
Maybe it is related to the distance?

![screenshot_2016-01-21-12-39-30 1](https://cloud.githubusercontent.com/assets/1449049/12479555/1c96c562-c03c-11e5-8348-d908a92da814.png)

[2016-01-21 11:50] tasomaniac commented on #540
I was thinking that it may be related to the cache we have. But you already cleared data. It shouldn't be related to that.
We don't do remove anything while we are doing distance calculation.
Can you disable location and retry?
And maybe see the debug logs tagged "OkHttp"

[2016-01-21 12:35] friedger commented on #540
It looks like an issue with caching.
The server sometimes return 719 sometimes 730 chapters. Which and when, I don't know.

[2016-01-21 16:56] tasomaniac opened #541 "Events empty state alignment problem"
Here is the screenshot describing it.
![screenshot_20160121-185321](https://cloud.githubusercontent.com/assets/763339/12487620/95c1039c-c070-11e5-8517-268a75743a5a.png)

[2016-01-22 13:13] tasomaniac opened #542 "Chapter's events shouldn't use developers.google.com"
Instead, it should use our hub.

[2016-01-22 14:14] #542 closed

[2016-01-22 15:28] Splaktar commented on #540
Might have been a hub issue. I adjusted some things last night. Can you please re-test this?

[2016-01-23 21:31] tasomaniac commented on #525
Which new design?

[2016-01-23 21:32] tasomaniac commented on #493
I am suggesting that we should close this. We can use vectors for new assets but I don't see any benefit of changing the old (working-fine) assets to vectors just because we can.

[2016-01-23 21:35] tasomaniac commented on #474
We are using Zxing to generate QR Codes. Vision API is just for reading barcodes. So it cannot replace it at all. Closing this.

[2016-01-23 21:35] #474 closed

[2016-01-23 21:36] tasomaniac commented on #457
This should be fixed in Release 2.3

[2016-01-23 21:36] #457 closed

[2016-01-23 21:40] tasomaniac commented on #185
This is actually done in #539

[2016-01-23 21:40] #185 closed

[2016-01-25 14:54] tasomaniac commented on #370
We can use this official API.
https://omega-keep-406.appspot.com/_ah/api/gdetracking/v1.0b2/account/account

GDE categories have recently changed. The API still shows old product categories. It will be updated soon. So we can wait a little bit before we migrate to the API above.

[2016-01-25 19:43] tasomaniac opened #546 "Fix build on Travis for forked projects."
Here are the details. Forked projects are failing because of gpg decryption problems.
https://travis-ci.org/rciovati/frisbee/jobs/104715488

[2016-01-26 10:25] #540 closed

[2016-01-26 10:26] friedger commented on #525
https://developers.google.com/groups/logo/

[2016-01-26 10:41] friedger commented on #519
Also replace `Plus.AccountApi` and `GoogleAuthUtil.getToken`

[2016-01-26 10:42] friedger commented on #516
We could store the home chapter in the games state.

[2016-01-26 10:42] #493 closed

[2016-01-26 10:45] friedger commented on #541
Assigned to @rciovati

[2016-01-26 13:47] tasomaniac commented on #546
Fixed in #548

[2016-01-26 13:47] #546 closed

[2016-01-26 13:52] tasomaniac opened #551 "GoogleApiClient should be reconnected after sign-in state change."
I go into Settings and change sign-in state and nothing changes. It is because GoogleApiClient is already connected.
We should recreate it and reconnect it upon state change.

The problems I saw:

- In settings, when sign-in is checked, sign-in process should immediately start.
- After sign-in in Settings, when the user goes back to MainActivity, user's profile picture should be shown in nav drawe

[2016-01-26 19:28] tasomaniac commented on #541
Fixed by #549

[2016-01-26 19:28] #541 closed

[2016-01-27 10:34] friedger commented on #317
App Indexing was introduced in 2.3

[2016-01-27 10:34] #317 closed

[2016-01-27 11:08] tasomaniac commented on #317
Doesn't this also include app indexing integration between the website and the app?
I mean when people search something in Google, and somehow found gdgroups.org link, if the app is not installed, Google will know the relation between the site and the app and will offer the user to install the app. And with the first openning of the app, that deeplinked page in the app will open.

Like this: http:

[2016-01-27 11:13] tasomaniac commented on #317
For example let's look at the following screenshot.
From what I understand, this search should have Open In App button in the first result. I don't know how to do it but this issue covers this situation as well.

![screenshot_20160127-131044](https://cloud.githubusercontent.com/assets/763339/12611851/90524732-c4f7-11e5-8b31-98fad0ebd662.png)

[2016-01-27 11:23] friedger commented on #317
Then we should open a new issue for this particular part. I see this more in firefly than in frisbee.

I like to have issues that are actionable :-)

[2016-01-27 11:25] tasomaniac commented on #317
Isn't there anything left in Frisbee to achieve this? I think a separate issue would be nice. I just wanted to remind this part.

[2016-01-28 08:14] tasomaniac commented on #525
Has the icon also changed? I think we are not using the logo with GDG letters at all.

[2016-01-28 08:46] friedger opened #552 "Event series page should only show chapter information, not events"
The list for event series should contain a list of chapters that take part in the series with a summary of which events take place and a link to the chapters events list.

[2016-01-28 08:51] friedger commented on #525
The logo has changed, no round corners anymore.

[image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2016-01-28 9:15 GMT+01:00 Said Tahsin Dane <notifications@github.com>:

[2016-01-28 10:01] tasomaniac commented on #552
Makes a lot of sense. But we would have to change the design as well to have both chapter info and the event info.

[2016-01-28 10:03] tasomaniac commented on #525
Oh, I see now. I didn't see the difference until I zoom a lot :)

[2016-01-29 13:27] friedger commented on #551
I have started some coding in branch https://github.com/gdg-x/frisbee/tree/fix/551_signin
but I don't really know enough about `GoogleApiClient`. If you do: http://stackoverflow.com/questions/35085725/how-to-remove-api-and-scope-from-googleapiclient-in-android

[2016-01-30 22:45] Splaktar commented on #497
Hooray!

[2016-02-03 10:02] friedger opened #553 "Remove build timestamp from BuildConfig"
Use paperwork instead of BuildConfig for gitSha and timestamp

Paperwork is available at
https://github.com/zsoltk/paperwork

[2016-02-03 10:23] tasomaniac commented on #553
I've asked about this in a Slack group. I think we should fix that but I am against adding additional plugin.

Instead of `new Date()` using gitTimestamp improves it a lot

`def gitTimestamp = 'git log -n 1 --format=%at'.execute([], rootDir).text.trim()`

It will do dexing when git timestamp changes which happens when we commit. It think it is ok to do that. Dexing is done every time we change jav

[2016-02-13 19:20] tasomaniac opened #557 "Events page should be infinite paged list"
Chapter's Event page currently only shows the future and past events within 3 months. When we scroll to the bottom it should infinitely load the past events of a chapter.

Hub APIs supports paging.

[2016-02-15 15:53] #553 closed

[2016-02-24 16:30] tasomaniac opened #562 "Redesign the spinner on the MainActivity"
Redesign it to make it easier to find chapters in the huge list.

Replace the Spinner with a Button with a right carret that looks like a Spinner.
On click of the button, re-use the implementation found in Settings.

[2016-02-25 15:27] tasomaniac opened #563 "Keep history of chapters in the quick chapter swapper"
A quick improvement for the long list of chapter in the MainActivity would be to keep a history of chapters that are manually selected before.

This was suggested by @rciovati in Gitter chat.

This is also related to #562

[2016-02-26 05:43] iNoles opened #564 "Should remove httpurlconnection depedency"
"The Apache HTTP client and HttpURLConnection APIs are deprecated. They continue to work as they always have, but we're moving everything to the new OkHttp 3 API. The okhttp-apache and okhttp-urlconnection modules should be only be used to accelerate a transition to OkHttp's request/response API. These deprecated modules will be dropped in an upcoming OkHttp 3.x release."

https://github.com/squar

[2016-02-26 13:26] tasomaniac commented on #564
Thank you for the opening an issue for this. I've been thinking about it but I forgot to open an issue.

I think this class [GapiOkHttpRequest](https://github.com/gdg-x/frisbee/blob/develop/app/src/main/java/org/gdg/frisbee/android/api/GapiOkHttpRequest.java) is the only one using it. It has to be rewritten.

[2016-02-27 21:13] iNoles commented on #564
with GapiOkTransport, I am not too sure, I know Android's implementation of Httpurlconnection uses okhttp backend too.

[2016-03-04 11:16] friedger commented on #447
using applicationContext as in https://github.com/gdg-x/frisbee/pull/560/files#diff-cb1c64b03b5c616289ab49c37855066fR136 fixes it. Is this the best way to do it?

[2016-03-05 16:10] tasomaniac opened #565 "Change multiDex flavor setup in favor of command line properties"
Here is a gist that explains it.
https://gist.github.com/neworld/6af9154591b24404c01d

When we use Google Developers' suggested way to speed up multidex builds, we sacrifice lint checks for minSdkLevel. The suggested way in the gist is perfect.

[2016-03-05 18:03] Splaktar opened #567 "Update Wisdom Gitbook link to to 2016 version"
It should probably just use the http://wisdom.gdgroups.org link.
It currently uses http://gdg-wisdom.gitbooks.io which is the 2015 version.

[2016-03-05 19:07] fuentespatrick commented on #567
May I ask the steps to reproduce in the app?

Also, I ran into a problem with the http://wisdom.gdgroups.org/ URL (see http://imgur.com/CxyGhXX)
Is that definitely the URL to use?

[2016-03-05 21:53] Splaktar commented on #567
Strange, that link is working for me. Try it again?

In the app, open Home GDG and then open the For Leads tab and select GDG
Resources.

[2016-03-05 22:08] tasomaniac commented on #567
@fuentespatrick your screenshot can be a temp problem with Gitbook.

Both links works fine for me. The link in the app should be updated.

[2016-03-05 22:10] fuentespatrick commented on #567
The link works great for me now.

[2016-03-06 00:24] fuentespatrick commented on #567
I can take a crack at this and submit a PR.
Should I do anything else like remove unused constants?
(e.g. –
    public static final String GOOGLE_DEVELOPERS_YT_ID = "UC_x5XG1OV2P6uZZ5FSM9Ttw";
    public static final String ANDROID_DEVELOPERS_YT_ID = "UCVHFbqXqoYvEWM1Ddxl0QDg";
    public static final String YOUTUBE_DEVELOPERS_YT_ID = "UCtVd0c0tGXuTSbU5d8cSBUg";
    public static final String TRUS

[2016-03-06 00:28] Splaktar commented on #567
You should keep your PR as small and tight as possible.

If you have a question about unused constants, then the place to go is https://gitter.im/gdg-x/frisbee

[2016-03-06 01:00] tasomaniac commented on #567
If you can send a separate PR for the removal of unused resources that would be better. Thanks, bye

[2016-03-06 01:18] fuentespatrick opened #569 "Remove unused constants"
e.g. –
public static final String GOOGLE_DEVELOPERS_YT_ID = "UC_x5XG1OV2P6uZZ5FSM9Ttw";
public static final String ANDROID_DEVELOPERS_YT_ID = "UCVHFbqXqoYvEWM1Ddxl0QDg";
public static final String YOUTUBE_DEVELOPERS_YT_ID = "UCtVd0c0tGXuTSbU5d8cSBUg";
public static final String TRUSTSTORE_PW = "VU%&ibkr45pnq39v53x";
public static final int ARROW_STATE_KEY = 1;
public static final int ARROW_DONE_ST

[2016-03-06 01:19] tasomaniac commented on #567
Fixed by #568

[2016-03-06 01:19] #567 closed

[2016-03-08 15:47] srisurya95 opened #570 "Build error"
I'm trying to compile the app in a server and not android studio just by git clone and ./gradlew
I get the following error
FAILURE: Build failed with an exception.

* Where:
Build file '/android/frisbee/app/build.gradle' line: 11

* What went wrong:
A problem occurred evaluating project ':app'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get mo

[2016-03-08 16:46] tasomaniac commented on #570
You just need to create that file. You can create it like

[code]

Even if it is empty, I think it will work.
I will close it now. If it is not working please re-open the issue.

[2016-03-08 16:46] #570 closed

[2016-03-08 17:41] srisurya95 commented on #570
It's fixed,thanks

[2016-03-08 20:23] tasomaniac commented on #570
Great to hear that. You can also ask questions here:
https://gitter.im/gdg-x/frisbee

[2016-03-12 22:35] #565 closed

[2016-03-13 17:50] tasomaniac commented on #551
Closed by #560

[2016-03-13 17:50] #551 closed

[2016-03-13 17:51] tasomaniac commented on #522
@friedger this should also be fixed by your GoogleApiClient refactoring right? Can you close this if that's the case.

[2016-03-13 17:53] tasomaniac commented on #355
I believe the 2nd portion is done. I am not sure about the first though. Why are we showing that "Get Play Services" dialog? That is dumb. When there is no play services on the device, it is unlikely that the user could install it. Let's remove that dialog completely? What do you say?

[2016-03-13 20:41] tasomaniac opened #574 "Add "GCP" as new event series."
Google is organizing GCPNEXT event and GDG chapters are organizing GCPNEXT Extended event.

In Version 2.4 we should include that into our events section.

[2016-03-14 04:00] fuentespatrick commented on #574
I'm new to the codebase. What kind of work would be involved?
E.G. – In the ListOfStuffActivity, there is an instance of the StuffAdapter, and they're related by the StuffAdapterListener interface. We'll need to add another listener method to the interface to create another category in the StuffRecyclerview using this URL: https://zombo.com/GCPNEXT

[2016-03-14 08:16] tasomaniac commented on #574
No, in the application class all the TaggedEventSeries objects are initialized, you just have to add another one. And it's related Theme should be added as well.

The colors needed can be taken from gcpnext.gdgroups.org

And an icon for left drawer should be created.

[2016-03-14 08:43] friedger commented on #569
:+1:

[2016-03-14 08:43] #522 closed

[2016-03-14 08:45] friedger commented on #447
fixed by using application context (see #560 )

[2016-03-14 08:45] #447 closed

[2016-03-14 08:46] friedger commented on #483
This issue is solved by creating a rest service using retrofit.

[2016-03-14 09:02] tasomaniac commented on #483
Plus Api brings us huge plus dependency. It includes apache http client, we
have to use. OkHttp urlconnection dependency etc.

Not easy but we should do this.

On Mon, Mar 14, 2016, 08:46 Friedger Müffke <notifications@github.com>
wrote:

[2016-03-14 10:02] friedger opened #576 "Replace joda time with JSR-310 implementation"
E.g. https://github.com/JakeWharton/ThreeTenABP or later Java8 implementation

[2016-03-14 10:20] tasomaniac commented on #576
I would put priority low to this. We have a lot to do and JodaTime works for us. The work to do this is huge

[2016-03-14 11:13] friedger commented on #355
1st portion is not yet done.

How would you decide what to do on resolution error? Only check for SERVICE_MISSING? Started on https://github.com/gdg-x/frisbee/tree/355/no_gms

[2016-03-14 21:55] tasomaniac commented on #563
@rciovati do you have time to work on this? If we just have history of items above the others, we can ask feedback about this to users.

[2016-03-14 22:05] #574 closed

[2016-03-16 00:05] tasomaniac opened #579 "Question about Google SignIn vs Play Games"
I've looked into the new Sign In API from Google. It is a new dependency in GMS called auth.

It really really simplifies the code. And it also simplifies the login process for the users.
More info:
https://developers.google.com/identity/sign-in/android/sign-in

The downside is that it cannot be used with Play Games at the same time.

Here is what I am suggesting. To make the initial experience si

[2016-03-16 03:22] fuentespatrick commented on #579
@tasomaniac I like your suggestion.
My experience is only anecdotal, but I felt there was too much friction when I started using the app.

When I first heard about it, I stopped at that point, actually.
I only continued through after the GDG North America Summit because I wanted to contribute to the app.

Also, simpler code is *definitely* better if the code is going to be supported by a community

[2016-03-16 09:04] friedger commented on #355
1st portion can only be fixed when #483 is fixed as the Plus client shows the mentioned dialog automatically.

[2016-03-16 09:09] friedger commented on #579
Splitting the login between gamers and non-games is indeed needed (as also commented by Ann-Kathrin B.)

We could then restrict achiements to the arrow game and after a certain level of user activities (number of opening or events visited) show a on boarding screen for Arrow.

Not sure how the code will be simpler if we have to handle two logins but yes, let's do it.

[2016-03-16 09:10] friedger commented on #569
closed by #580

[2016-03-16 09:10] #569 closed

[2016-03-16 09:11] friedger commented on #519
related to #579

[2016-03-16 09:18] friedger commented on #579
How do we check whether the user is an organizer?

[2016-03-16 10:08] friedger commented on #483
There is a limit of 10.000 requests per day. Just for future planning..

[2016-03-16 10:23] PareshMayani opened #581 "Crash: java.lang.IllegalArgumentException: Comparison method violates its general contract!"
It's happening currently whenever I am trying to open "Android study jams", it might be happening due to the network fluctuation we are facing today but still it's a crash :)

[code]

[2016-03-16 10:41] friedger commented on #581
Does your location move around?

In `TaggedEventDistanceComparator` the location should be set once in the
constructor, or by a method before calling `sort` instead in all
comparisons. If the last location changes this could be the cause of the
mentioned exception.

[image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2016-03-16 11:23 GMT+01:00 Paresh Mayani <n

[2016-03-16 11:08] tasomaniac commented on #483
Not to be confused. We have 2 Plus APIs in our code. This one was about removing the Google Plus client API which is a Java modue.
There is also Plus api coming from Google Play Services.

[2016-03-16 11:09] tasomaniac commented on #355
Are you sure that it shows it automatically? It gives the dialog to us and we show it using `showDialog` method.

[2016-03-16 11:16] tasomaniac commented on #579
The code will I think be simpler because we will get rid of all the boilerplate code in GDGActivity. The new `auth` dependency is really really simple to use. I already did it locally. But then I realized that it forced me to remove Games.

@friedger When we know users Google+ ID, we just send it to Hub API and it tells us whether they are organizer or not.

[2016-03-16 11:17] tasomaniac commented on #579
Feedback from the contributors outside of the core team is really valuable. Thank you @fuentespatrick

[2016-03-16 11:18] tasomaniac commented on #581
Indeed we had a Feedback about this recently. I didn't experience the crash tho.
We should fix this before release.

What are the steps to reproduce it? Is it related to location? Should I try with location off?

[2016-03-16 11:21] tasomaniac commented on #581
I disabled location and even removed location permission in Android M device. I couldn't make it crash :(

[2016-03-16 11:27] friedger commented on #581
You have to change location while sorting
On 16 Mar 2016 12:21, "Said Tahsin Dane" <notifications@github.com> wrote:

[2016-03-16 11:30] friedger commented on #355
Not after my changes
On 16 Mar 2016 12:09, "Said Tahsin Dane" <notifications@github.com> wrote:

[2016-03-16 11:34] tasomaniac commented on #355
Your changes already fixes the point 1 in this issue actually :)

[2016-03-16 11:34] tasomaniac commented on #581
How do I change the location while sorting?

[2016-03-16 11:35] friedger commented on #355
But the dialog still appears

[2016-03-16 11:37] friedger commented on #579
@tasomaniac How do we get the G+ ID? (! = Google sign in ID?)

[2016-03-16 11:39] friedger commented on #581
Be lucky or on a flaky network? Or with constant changes via a mock
location provider?

My comments are only based on code inspection. Can reproduce either.
On 16 Mar 2016 12:34, "Said Tahsin Dane" <notifications@github.com> wrote:

[2016-03-16 11:42] tasomaniac commented on #355
It will make a huge difference if it only appear once. I think we can ignore that for now and we can open another issue for that if we want to remove it completely.

[2016-03-16 11:44] tasomaniac commented on #579
I was not thinking to remove Google+ login. We should somehow include Google+ login.

When I think about it, 3 options I have in my mind:

- Use Google+ without Games integration
- Ask the user if they are organizer before login and ask Google+ according to that.
- Have Google login and Google+ login button at the same time.

[2016-03-16 11:45] tasomaniac commented on #581
But in the feedback we got in Doorbell says that it keeps crashing everytime they open that page.

[2016-03-17 00:49] tasomaniac opened #583 "Plus API crash on EventOverviewFragment"
EventOverviewFragment first tries to get info about the Chapter by using Plus API.

Plus API is now available only when the user is login. I don't know what we've changed here. I don't know if it was crashing before or not.

But it is crashing now if we are not logged in. Every event page is crashing for me. When I login, they work fine.

http://crashes.to/s/39f2ade756d

[2016-03-17 01:05] tasomaniac opened #585 "Our Toolbars do not have elevation"
It looks really bad. Toolbars should have elevation to be separated. I don't remember this before. Maybe we got this bug with recent updates to support libraries? I am not sure.

Here are screenshots.

![image](https://cloud.githubusercontent.com/assets/763339/13833292/508b4b24-ebdc-11e5-87f8-dde6b0b81946.png)
![image](https://cloud.githubusercontent.com/assets/763339/13833301/64987fb0-ebdc-11e5-8

[2016-03-17 05:48] PareshMayani commented on #581
Yes it was crashing every time I tried to open "Android study jam"! Will check it again and try to reproduce the same issue.

[2016-03-17 08:28] friedger opened #586 "Crash when signing out"
When signing out in settings:
http://crashes.to/s/0faa6a480a5

The settings activity was opened from the events page

[2016-03-17 08:34] tasomaniac commented on #586
It is opened from the event page. Why is the crash from MainActivity. It is
failing every time. Let me try.

On Thu, Mar 17, 2016, 08:29 Friedger Müffke <notifications@github.com>
wrote:

[2016-03-17 08:35] tasomaniac commented on #586
Yeah I reproduced it. Weird :(
I hope we won't have these crashes too often. We should stage rollout this.

On Thu, Mar 17, 2016, 08:33 Said Tahsin Dane <tasomaniac@gmail.com> wrote:

[2016-03-17 08:36] friedger commented on #583
Retrieve the chapter profile image as described e.g. here http://stackoverflow.com/a/22532031/243599

[2016-03-17 09:25] tasomaniac commented on #581
@friedger merged the fix. If @PareshMayani can confirm the fix, this can be closed.

[2016-03-17 10:14] PareshMayani commented on #583
I just have got the same crash!

[2016-03-17 10:29] PareshMayani commented on #581
Yes I just tried to reproduce the crash with the apk shared by @tasomaniac in mail but not able to! Looks like it's fixed.

[2016-03-17 10:29] #581 closed

[2016-03-18 08:32] friedger opened #590 "Reduce network usage according to Data Saver settings"
Areas to cover
- Number of News items in NewsFragment

[2016-03-18 20:19] friedger commented on #586
When the server takes a while to return the organizer check and the user moved away from the main activity, the callback of the organizer check to the main activity crashes the app.

[2016-03-18 20:20] friedger commented on #583
Fixed by #587

[2016-03-18 20:20] #583 closed

[2016-03-18 20:23] friedger opened #591 "GDE list is empty"
[code]

[2016-03-18 23:19] #355 closed

[2016-03-18 23:19] tasomaniac commented on #355
Fixed by #582

[2016-03-19 00:22] tasomaniac opened #595 "Achievements crash when the user is not logged-in"
AchievementHandler should check if the provided GoogleApiClient has the necessary API.

[2016-03-19 00:26] #564 closed

[2016-03-19 00:39] #591 closed

[2016-03-19 02:20] tasomaniac opened #596 "Unknown people on info page"
If a chapter has more than 4 organizers, the app usually displays unknown for couple of them.

It is probably be caused by excessive amount of Api calls. Should be avoided by caching. There maybe a problem with caching.

[2016-03-19 02:22] tasomaniac opened #597 "Changing chapter should not keep the scroll position in News page"
If you already scroll to the bottom of the page, switching chapters in quick switcher will update the news feed but keeps the scroll position.  The user will be at the bottom. It doesn't make sense.

[2016-03-19 02:29] tasomaniac commented on #596
Just an observation. When I go offline, I see that it is cached and the info page loads completely fine. We have cache. But we have a problem.

[2016-03-19 02:34] tasomaniac opened #598 "Signin does not work"
In the first start it gives an error notification about play services.
In settings, it does not do anything.

[2016-03-19 02:42] tasomaniac commented on #598
![screenshot_20160319-024125](https://cloud.githubusercontent.com/assets/763339/13896205/330abfca-ed7c-11e5-8955-c52eab45d54c.png)

[2016-03-19 03:45] PareshMayani commented on #591
I was also wondering, I thought it was due to the low network bandwidth!

[2016-03-20 00:45] tasomaniac opened #599 "Fix inactive chapters click behavior in Pulse"
Here is the problem. The app gets the Pulse page from DevSite. Even if the chapter is not active, it is available in Pulse. This means that there are more chapters in Pulse than the main page.

Mexico City is a good example to reproduce it today.

When you click Mexico City in Pulse, it opens your default main page. The reason is that it cannot find it. Instead of this, we should warn user when we

[2016-03-21 09:25] tasomaniac opened #601 "Play Services error on every app open"
Play Services error unfortunately is shown in every app open. Before, it was shown in every page I think. Now it is only shown in MainActivity but it happens everytime I open the app. Here is a screenshot

![screen shot 2016-03-21 at 11 22 36](https://cloud.githubusercontent.com/assets/763339/13914523/94e34f32-ef57-11e5-9a14-d2e78a84b5c9.png)

[2016-03-21 09:26] tasomaniac opened #602 "Sign-in pages should be disabled when Play Services is not available"
When sign-in is not possible, the buttons that try to sign-in should be disabled.

This includes

- [ ] Sign in through Achievements, Arrow page.
- [ ] Sign in from Settings.

[2016-03-21 10:09] tasomaniac commented on #599
I've just looked at the devsite this morning,

Mexico City is indeed listed as inactive. But the website can open and show it.
https://developers.google.com/groups/chapter/111114679803991832261/

What should we do? Hub does not ingest inactive chapters.

[2016-03-21 10:14] friedger commented on #599
In Pulse, a snackbar could be shown that no information are available for this chapter.

[2016-03-21 13:33] friedger opened #604 "Extend search to event titles"
When using global quick search event titles should be shown as well.