[2016-03-21 13:36] friedger opened #605 "Quick Search does not work"
Using a quick search box (like https://play.google.com/store/apps/details?id=com.startapp.quicksearchbox) no results are shown.

See also #600 for discussion

[2016-03-21 13:39] tasomaniac commented on #605
If it works, when you click a result, the app will crash. That's a problem to fix too. I didn't know that it was not working at all.

[2016-03-21 13:40] #595 closed

[2016-03-21 14:38] #605 closed

[2016-03-21 16:43] friedger commented on #596
We could use the GMS Plus API here, this allows to call for all organizers in one go

[2016-03-21 16:44] friedger commented on #598
Why is Google signin so complicated? :-/

[2016-03-21 18:17] tasomaniac commented on #596
We are requesting them again here even though we have them in cache. I think solving that will also be useful.

We can use GMS Plus API but I don't like using 2 different things. I want to unify all Plus People related things.

[2016-03-22 07:30] #586 closed

[2016-03-22 08:03] #601 closed

[2016-03-22 08:29] #598 closed

[2016-03-22 08:36] friedger commented on #596
fixed by #609

[2016-03-22 08:36] #596 closed

[2016-03-22 10:09] friedger opened #613 "People.load requires SCOPE_PLUS_LOGIN"
In https://github.com/gdg-x/frisbee/commit/f07e537ea28567309f307183eefc22d29c436694 the PLUS_LOGIN scope was removed. However, it is required by `People.load` used in Arrow.

Is the scope automatically included?

[2016-03-22 11:04] tasomaniac commented on #613
Does it crash? I thought when we add setRequirePlus, it will add this.

The app is published to Beta, let's roll this back and publish again.

[2016-03-22 11:38] friedger commented on #613
It looks like tagging is working as it should, so we can continue roll out.

[2016-03-22 11:38] #613 closed

[2016-03-22 11:45] friedger opened #614 "G+ Button not updated after clicking"
Due to change from ListView to RecyclerView the g+ button that was clicked is not updated and continues to show an idling animation.

[2016-03-22 12:38] friedger commented on #338
related to #579

[2016-03-22 12:52] friedger commented on #579
I am in favour for G+ without Games integration so we can make use of the G+ button in the news fragment. For the records, organizers without G+ profile do not exist.

[2016-03-22 13:02] tasomaniac commented on #579
If we do it without G+, that will only be useful for non-organizer attendees.
I think what you are suggesting would be nice. It will be much harder if we try to separate G+ and Google sign in

[2016-03-22 13:07] friedger commented on #579
Let's implement this in #526.

We could remove the login from the onboarding all together.

[2016-03-22 17:31] #579 closed

[2016-03-22 17:36] friedger opened #616 "Use Google Sign In API"
As described in here: https://developers.google.com/identity/sign-in/android/start-integrating

The google client needs the scope for G+

Games related code should be separated from normal use cases.
Handling Games API is out of scope for this issue.

The following parts need to be done:
- [ ] Use Auth Google Sign In api with G+ scope
- [ ] #526 (sign in button branding guide lines)
- [ ] Remove t

[2016-03-28 10:10] #483 closed

[2016-03-28 10:12] tasomaniac commented on #168
I will go ahead and close this since the Google Now API is not public. Please feel free to open it if you think we can do this.

[2016-03-28 10:12] #168 closed

[2016-03-28 10:14] tasomaniac commented on #342
I am closing this since with the current Hub API this is close to impossible. If we would have a new Hub API, I am sure that this will be considered there.

[2016-03-28 10:14] #342 closed

[2016-03-28 10:16] tasomaniac commented on #369
We have issue #370 for migrating to the official GDE API. That is also not perfect. But anyways, I will close this.

[2016-03-28 10:16] #369 closed

[2016-04-11 07:29] #602 closed

[2016-04-11 07:29] #614 closed

[2016-04-13 21:08] friedger opened #626 "Add Cardboard activity featuring photospheres of GDGs near you"
In the game section add a link to a card board activity that shows photospheres of GDG meetups.

The photospheres are managed by a CMS.

This was suggested by @mariobodemann to demonstrate GDGs at the Android conference droidcon in Berlin in June. He is willing to contribute.

[2016-04-14 08:28] friedger commented on #626
Assigned to @mariobodemann

[2016-04-14 09:17] tasomaniac commented on #626
Whaaaat? This is so cool.

[2016-04-15 07:30] friedger opened #627 "Add upload button for photospheres for Cardboard activity"
Add an button in the "For Leads" section to upload a photosphere that will be usind in the Cardboard activity (see #626)

[2016-04-15 07:38] tasomaniac commented on #626
I am against adding backend related dependencies. For this we should somehow use our hub. We were already talking about moving hub to Firebase. If adding this feature to hub is not easy/possible, we can use Firebase.

Keeping our setup process and dependencies sane is the most important priority for us right now.

[2016-04-22 21:41] friedger opened #628 "Widget is not showing the next event"
Widget is not showing the next event (but the first one in the events list).

[2016-05-01 15:31] friedger commented on #627
Feature not planned in the future

[2016-05-01 15:31] #627 closed

[2016-05-01 15:31] friedger commented on #626
Not planned anymore

[2016-05-01 15:31] #626 closed

[2016-05-02 18:21] tasomaniac opened #632 "If `whatsnew` file is long in Travis, alpha deploy fails."
When we do automated publish, we are getting the last 3 commit messages. When the messages in total have more than 500 chars, publish job fails.
Publish script should trim `whatsnew` file to 500 chars at most.

[2016-05-09 14:00] tasomaniac opened #634 "Arrow game notification at GDG Summit."
Send local notification to logged in organizers around GDG Summit and Google I/O timeframe.

The user should be logged in and be listed as an organizer.

When the user is logged in, show it immediately as a popup (only within I/O timeframe)

[2016-05-10 14:48] tasomaniac opened #635 "Make dynamic description TextViews selectable"
I was trying to select an event description to share with Google Translate to translate it. I couldn't :(

We should go over descriptions and make them selectable. Eg.  Event, chapter descriptions

[2016-05-11 05:20] PareshMayani commented on #634
so will I get notification? :)

[2016-05-18 23:04] evindj commented on #628
I got this solved but I am having hard times to create the pull request. I keep getting a 403 error when I try to push the commit. Any help?

[2016-05-19 05:36] friedger commented on #628
Are you working on your own fork? Probably you do not have write
permission. You should fork on github and add the new repository as a new
remote url to your local git. Then push to that new remote repository. Then
create a pull request on github.com

Friedger
On 19 May 2016 01:04, "Innocent Djiofack" <notifications@github.com> wrote:

[2016-05-19 09:27] friedger opened #636 "Use remote config to decide on the current event series"
As described in https://firebase.google.com/docs/remote-config/ this method should be used to decide which tag to use for current event series.

[2016-05-19 09:32] friedger opened #637 "Migrate to Firebase Invites"
https://firebase.google.com/docs/invites/android

[2016-05-19 09:34] friedger opened #638 "Migrate from Fabric to Report Crashes"
https://firebase.google.com/docs/crash/android

[2016-05-31 07:43] friedger commented on #474
And we don't want to use it for barcode reading due to https://github.com/googlesamples/android-vision/issues/98

[2016-05-31 10:38] #628 closed

[2016-05-31 11:15] tasomaniac commented on #638
Should we do it immediately for the sake of using it. It would give us the chance to try the new Firebase Crash Reporting.
But in general, I still like Fabric more.

[2016-06-03 08:46] friedger commented on #599
Inactive chapters are not defined by properties of the pulse object. Instead, here should be a check against the chapter directory whether the chapter is available locally. The hub only returns active chapters.

[2016-06-03 08:50] friedger commented on #638
There is no reason to switch now.

[2016-06-03 08:56] friedger commented on #471
Which API should be used for photos?

[2016-06-03 09:02] friedger commented on #270
Closing this as it is not very actionable.

[2016-06-03 09:02] #270 closed

[2016-06-03 09:24] tasomaniac commented on #471
@Splaktar can talk about what he did in Boomerang maybe. As far as I know Boomerang uses the old Picasa API from Google. Google+ and Google Photos albums are still albums in Picasa as well. :)

But the problem is that Google announced that Picasa will be completely dead soon.

I think Google Photos does not have the alternative APIs for us to do this.

[2016-06-03 09:24] tasomaniac commented on #471
@ozasadnyy also did some research on this.

[2016-06-03 09:25] tasomaniac commented on #270
This can be a label for other Event Detail page related issues. Like `Event Detail`
We have so much thing to do to improve that page.

[2016-06-03 09:28] tasomaniac commented on #585
It is definitely related to support library updates. The elevation is now provided by AppBarLayout. We need to wrap all toolbars with AppBarLayout.

[2016-06-03 09:31] tasomaniac commented on #562
@friedger I have an idea on this. I really like your implementation in Settings page with a Dialog. It looks really nice and it has search.
What about removing the Spinner and replacing it with that Dialog?
The look can stay same. We can have a spinner indicator on the right hand side. On click, it will open the Dialog.
What do you think?

[2016-06-03 09:32] tasomaniac commented on #414
The latest support library is much more clever for these. If there is not enough space, it just makes the text smaller. I think it is fine for us for now. Closing this for now.

[2016-06-03 09:32] #414 closed

[2016-06-03 09:35] friedger commented on #270
nice, for the label. I would use component instead of epic.

[2016-06-03 09:37] friedger commented on #562
Sounds good to me.

[2016-06-03 09:43] tasomaniac commented on #270
makes sense. changing it now.

[2016-06-03 10:49] friedger commented on #634
released with version 2.4.2.1

[2016-06-03 10:49] #634 closed

[2016-06-03 12:10] friedger commented on #487
@stefanhoth Could you elaborate how to get this less confusing?

The current constraints are:

- `Pulse` is a HashMap, that is why Map.Entry is used in the adapter
- The adapter needs to return an item for a given position
- The sorting depends on the mode the adapter is used in.

[2016-06-03 19:27] friedger commented on #442
See https://firebase.google.com/docs/cloud-messaging/ for details

[2016-06-03 19:54] friedger commented on #442
Started in https://github.com/gdg-x/frisbee/tree/feature/442_cloudmessaging

[2016-06-03 19:56] friedger commented on #442
Should be working. Not sure about google-service.json and what we do with the backend/hub

[2016-06-03 20:04] friedger commented on #438
most work is already done in https://github.com/gdg-x/frisbee/tree/ci/integration-tests

[2016-06-04 06:10] tasomaniac commented on #438
The work is done but it does not quite reliable. The main problem is the
spinner in the main page. Once we replace it, I am planning to try again.

On Fri, Jun 3, 2016, 23:04 Friedger Müffke <notifications@github.com> wrote:

[2016-06-07 08:03] #635 closed

[2016-06-07 15:47] friedger commented on #637
I started here: https://github.com/gdg-x/frisbee/tree/feature/637_invites

but run into an issue of Google Play services: https://github.com/firebase/quickstart-android/issues/42

[2016-06-07 15:48] friedger commented on #599
fixed by #641

[2016-06-07 15:48] #599 closed

[2016-06-07 19:15] tasomaniac commented on #442
This was about registration and push notifications related to events.
Let's split this into 2 because the first part (registration) is now done in #644

I don't know how to send event notifications from Firebase because we don't have the data there yet.
Once we have the data, we can create `topic`s for every chapter. Users will register those `topic`s. And once there is a new event in a chapter, w

[2016-06-07 19:16] tasomaniac commented on #442
Fixed by #644

[2016-06-07 19:16] #442 closed

[2016-06-07 19:17] tasomaniac opened #646 "Send FCM messages about the new events of user's home chapter."
I don't know how to send event notifications from Firebase because we don't have the event data there yet.
Once we have the data, we can create topics for every chapter. Users will register those topics. And once there is a new event in a chapter, we will create a notification to be sent to that topic in FCM.

[2016-06-07 21:52] friedger commented on #383
@PareshMayani If you want to tackle this feel free to assign this task to you again.

[2016-06-09 09:09] lucasxas commented on #557
Is it anyone working on this? I might give it a go this weekend!
I'm thinking 20 items per page, loading more as soon as you get to the bottom of the page.

Any other recommendations on how to approach this issue, @tasomaniac? :)

[2016-06-09 09:21] friedger commented on #557
@lucasxas Hereby, it is assigned to you :-)

There are more information about the hub API:
* https://hub.gdgx.io/developers/api
* https://github.com/gdg-x/hub/issues/85

You can also think about a different way to deal with past and future events, maybe have two tabs or at least a header/break inbetween.

[2016-06-09 10:22] tasomaniac commented on #557
:+1: we also have in progress label. We are trying to use it when we start working on an issue.

Let's split past and future events into 2 lists. Currently it is just a sorting.

[2016-06-11 05:49] lucasxas commented on #557
Any reason why we still using ListView/GridView?

I think it could be easier to just use RecyclerView + LinearLayout instead of ListView, and RecyclerView + GridLayout instead of GridView.

That would also make it easier if we want to implement pagination on Fragments that extend from GDGListFragments.

Any thoughts?

[2016-06-11 06:46] friedger commented on #557
I didn't really get the advantages. But go ahead and use recycler views.
On 11 Jun 2016 07:49, "Lucas Xavier" <notifications@github.com> wrote:

[2016-06-11 07:25] lucasxas commented on #557
The issue is that the AdapterView doesn't have a ScrollListener. But I guess I could still use ListView & GridViews and check if the mList is one of those two types.

[2016-06-11 09:29] tasomaniac commented on #557
We currently have GDGListFragment and GdgRecyclerView actually. ListFragment uses GridView and lists are just grids with 1 column.
I introduced the RecyclerView one by just copying and adjusting our ListFragment. Because at that point I really didn't want to change the behavior. I am not happy with it.

You can use anything that is suitable.

For paging, you don't need a scroll listener, when the

[2016-06-12 03:30] lucasxas commented on #557
I got away changing the AdapterView to AbsListView, which ListView and GridView extends, what do you think @tasomaniac ?

Also, I'm using this approach https://github.com/codepath/android_guides/wiki/Endless-Scrolling-with-AdapterViews for the 'Infinite' Scrolling. It works pretty well and if you want to implement the same behaviour in any fragment that extend from GDGListFragment you just need to

[2016-06-12 04:09] lucasxas commented on #557
I can implement the basic logic for the GDGRecyclerFragment as well. So if we decide to move the Events page to a RecyclerView it would be easy peasy.

[2016-06-12 07:03] friedger commented on #557
Do you have already some code pushed somewhere
On 12 Jun 2016 6:10 a.m., "Lucas Xavier" <notifications@github.com> wrote:

[2016-06-12 08:35] tasomaniac commented on #557
@lucasxas Looking forward to see the PR.
My only concern is that the methods described in the wiki you gave seems complicated. There are a lot of computations going on. Whereas loading additional pages when the last item's viewholder in the adapter is binded is much easier.

[2016-06-12 09:33] lucasxas commented on #557
Yeah here @friedger https://github.com/lucasxas/frisbee/tree/feature/infinite_scroll

[2016-06-15 09:51] lucasxas commented on #557
Did any of you had a chance to try it? :)

I was playing with it yesterday and it performs well. Also I don't see a need for adding a header for upcoming and past events, as our Views already show 'PAST' when is necessary.

What do you think?

[2016-06-15 10:46] tasomaniac commented on #557
I think that separation can go into a separate issue. Instead of the
current past indicators, we want to have 2 separate sections.

I didn't look at your fork. If you are satisfied with it, can you open a
pull Request?

On Wed, Jun 15, 2016, 11:51 Lucas Xavier <notifications@github.com> wrote:

[2016-06-16 20:34] friedger opened #648 "Remove all games API related features"
This issue is about deciding how to proceed with the different authentication APIs, i.e. Google Sign In and Games.

We propose to remove all the Games API related features, i.e. Arrow and Achievements because there is no clean way to maintain both Games and Sign-In.

We saw people having problems to login because the Google Games ID setup and the Google Plus authorisation confuses users.

This iss

[2016-06-17 14:46] Splaktar commented on #648
I would raise this issue with the Google Games and Play Services teams. I would hate to lose the games features from the app. But I do understand that the APIs can be problematic.

[2016-06-17 16:04] tasomaniac commented on #648
We actually tried to reach out to them. These changes actually improves UX in actual games. It kinda removes the friction for games when you setup it once.
The response that I could get from Googlers was kinda just confirms our situation. They said it's unfortunately how it is.
There are also no real non game app out there that uses game apis

[2016-06-20 05:16] friedger opened #649 "Ensure compatibility with chromebooks"
Currently, the app is not shown in Google Play on the Chromebook Flip.

[2016-06-20 11:45] tasomaniac commented on #649
I don't know why Google is making this harder than it can be.
I think we need to disable requirement of touch screen right?

[2016-08-15 15:43] MichaelSolati opened #651 "Missing Cities"
I noticed earlier today that some cities (specifically Boston) are missing from the city drop down list in the app.

![content __com google android apps gsa velvet extradex extradexhostprovider_assist com google android apps gsa assist screenshotprovider_com google android apps gsa assist screenshotprovider_screenassistscreenshots_screenshot_20160815-112352](https://cloud.githubusercontent.com/ass

[2016-08-15 18:00] tasomaniac commented on #651
@MichaelSolati can it be because Boston is inactive? Only active cities are shown in the list.

[2016-08-15 18:02] tasomaniac commented on #651
Hmmm actually, I double checked. Boston is shown in my app. Can you check again? It can be a server issue.

[2016-08-15 23:08] MichaelSolati commented on #651
Server problem, it's showing up for me now. I was just surprised earlier when I didn't see it.

[2016-08-15 23:08] #651 closed

[2016-09-03 09:47] tasomaniac opened #652 "Links in Info page are not clickable."
Open GDG Tours page. Move to Info tab. Below organizers, the first link is clickable but the other links (e.g. Twitter, meetup) are not clickable.

[2016-09-12 17:59] Superhuman07 opened #655 "Can't find the location snackbar says "No internet connection""
Can't find the location snackbar says "No internet connection", tried clearing data and cache and also by switching Wifi to data connection but the problem still persists.

[2016-09-12 19:23] friedger commented on #655
This could also indicate that the server (gdg-x hub) does not reply. Needs
investigation!

Le 12 sept. 2016 19:59, "Rahul Bhatia" <notifications@github.com> a écrit :

[2016-09-12 20:17] tasomaniac commented on #655
It's definitely a problem related to hub.
But our error message is also wrong. We shouldnt say no internet when users internet connection is just fine.

[2016-09-12 22:13] #648 closed

[2016-09-12 22:13] tasomaniac commented on #648
Fixed by #653

[2016-09-12 22:16] tasomaniac commented on #562
I've worked on this quite a lot. Since DialogPreference is really integrated into Preferences implementation itself, it was not really an easy job to do.

[2016-09-12 22:18] tasomaniac commented on #616
Should we use Firebase authentication? The API is really similar.

[2016-09-12 22:21] #377 closed

[2016-09-12 22:21] tasomaniac commented on #377
Closing this because the Arrow game is now removed from the app.

[2016-09-12 22:21] tasomaniac commented on #256
Fixed by #645

[2016-09-12 22:22] #256 closed

[2016-09-13 07:57] friedger commented on #616
What is the advantage? We need the Google+ ID (for now).

We don't use firebase authentication on the hub. When we use firebase on the hub when can extend the Google SignIn to authenticate with firebase (https://firebase.google.com/docs/auth/android/google-signin).

The whole process is not very clear to me though...

[2016-09-13 08:02] friedger commented on #487
@stefanhoth Should we close this?

[2016-09-13 08:37] tasomaniac commented on #616
The new auth api is slightly better. Code will be cleaner.
We don't have to do Firebase maybe. The advantage would be to store some info. It would be super easy and handy.  It can be things only care the Android app. Then if it is wanted hub can grab them in the future.

We shouldn't wait for hub to do something for us anymore.

[2016-09-13 09:15] friedger commented on #616
Firebase auth is out of scope for this issue.

[2016-09-13 10:13] tasomaniac commented on #616
👍 My bad. Lets keep this issue simpler and focused.

[2016-09-13 10:34] friedger opened #657 "Allow organizers to send a badge to a speaker"
Organizers should be able to send a badge to a participant that gave a talk at the current event.

- [ ] Add button to send badge for organizers only
- [ ] Add screen for participant to accept
- [ ] Add screen for organizer to confirm acceptance
- [ ] Send badge to participant
- [ ] Add list of previous speakers to chapter details list

Use Firebase Auth and Nearby API.

[2016-09-13 17:48] PareshMayani commented on #657
This is fantastic feature and going to be interesting among participants and speakers.

[2016-09-13 19:28] friedger opened #658 "For continuous builds use untrack old"
Version 1.2.0-beta1 has untrackOld settings to support the CI build:

version x : master -> alpha track
merge master to release
version x + 1: release -> beta track

https://github.com/Triple-T/gradle-play-publisher#untrack-conflicting-versions

[2016-09-13 19:29] friedger commented on #658
Should we wait for stable release of the plugin?

[2016-09-13 19:38] tasomaniac commented on #658
I was also excited about it. I think we can use it. Since we don't directly public to production it will be fine.

[2016-09-14 10:25] tasomaniac opened #659 "Event list and detail timezone issues"
We have timezone problems.
In event lists, (e.g TaggedEventSeries and GdgEventList) we show times in user's timezone.
When we go into the event detail, we show the time in the event's original timezone.

Since we don't indicate that it looks like we're showing the wrong time.

I think we should show 2 times in the event detail. We should label them as local time and event time.

In the list we can

[2016-09-15 12:44] #562 closed

[2016-09-17 20:17] tasomaniac opened #665 "Upgrade App Invites"
The new Firebase App Invites uses Firebase Dynamic Links. They are really cool. They are just shortlink. Depending on the place you open it, it just does the best thing possible.

More info here: https://firebase.google.com/docs/invites/

[2016-09-17 20:19] tasomaniac commented on #665
@friedger I personally love this feature. Both since we have it in About screen, no body uses it. I am thinking to bring it to NavDrawer. What do you think?

[2016-09-17 20:59] friedger commented on #665
There are a few other alternatives but for GDG lets go for Firebase App Invites.

[2016-09-17 20:59] friedger commented on #665
NavDrawer sounds good to me.

[2016-09-17 21:03] friedger commented on #665
See also https://github.com/gdg-x/frisbee/issues/637

This issue could be about moving only

[2016-09-17 21:05] #665 closed

[2016-09-17 21:05] tasomaniac commented on #665
Oh I didn't know that we already have an issue about that. Let's use #637 to track

[2016-09-17 21:21] friedger commented on #516
Should be stored in firebase database.

[2016-09-17 21:21] friedger commented on #516
depends on #616, see also #657

[2016-09-17 21:24] friedger commented on #123
Could be stored in firebase database, depends on #616, see #657 and #516

[2016-09-19 20:28] tasomaniac commented on #363
Although we seem that we request a lot of permissions actually we don't. We only have 2 dangerous permissions: Location and GET_ACCOUNTS.

Accounts will be removed thanks to new Auth lib from Google. #616
After that, we should handle location permission and we will be done.

[2016-09-20 21:13] tasomaniac commented on #637
Hey, I saw in your branch you've integrated app invite links for events. That's a really good idea too. I would like to open a PR including those commits + mines.

I am currently working on a separate screen in on boarding. I am planning to have an additional page on the first run if the user is invited by someone else. It will have a picture of the inviter and it will say welcome, you're invited

[2016-09-21 23:20] tasomaniac commented on #557
Fixed in #647

[2016-09-21 23:20] #557 closed

[2016-09-22 22:36] tasomaniac opened #669 "Firebase Dynamic Links for Event Share"
Firebase App Invite and Dynamic LInks related tasks are handled in
#637 and #668

The shared event links can also be integrated with Dynamic Links.
When the link is clicked in a computer, just the webpage will be open.
In a mobile device, the app will be installed first if it is not installed, then the event will be open.

A starting work is already done by @friedger here: https://github.com/gdg-x

[2016-09-22 22:49] tasomaniac commented on #597
Now that we have a long list of events in the main page now, this became a problem with events as well. @lucasxas

Scroll a lot, then change a chapter, the list starts from a random position.

[2016-09-22 23:49] tasomaniac commented on #526
Also the button in the onboarding uses a really old G+ icon. We have that icon inside our app.
Instead, we can remove the PNGs completely and use the button custom view from Play Services.

[2016-09-23 07:23] #585 closed

[2016-09-23 20:32] #637 closed

[2016-09-29 10:21] lucasxas commented on #652
Will take a look at this over the weekend.

[2016-09-29 10:22] lucasxas commented on #652
I'm getting a 400 when trying to load that stuff though. Any ideas why?
`{
                                                                      "error": {
                                                                       "errors": [
                                                                        {
                                                                         "domain": "usa

[2016-09-29 10:27] tasomaniac commented on #652
We were using Googles java lib to do g+ requests. That took lots of method count and we removed it.

We use an unbounded api token which is very restricted.

We should use an api token which is limited by our app signature. We already have that in our BuildConfig.

That is not working either because we are just using retrofit. I couldn't figure this out. :(

[2016-09-29 10:31] lucasxas commented on #652
If I create one just to develop and don't commit/push it, will it work?

[2016-09-29 10:38] tasomaniac commented on #652
Of course. Just in any project in Google console, try to produce and use an api key.
It should be bound to signature. You can use our debug.keystore signature with debug packageid

[2016-09-29 10:39] lucasxas commented on #652
Awesome.

[2016-09-30 19:53] tasomaniac commented on #338
I saw this in milestone Future, should we move this to 2.7 or 3.0 release?

[2016-09-30 19:55] tasomaniac commented on #516
This is definitely not depending on the API. We should use some other solution like Firebase. Replaced the milestone with 3.0 for now.

[2016-09-30 19:56] tasomaniac commented on #471
We could use meetup.com's api for events on meetup.

[2016-09-30 19:58] tasomaniac commented on #370
It seems that the un-official API we are using is getting better. This problem is fixed by itself automatically. Closing now.

[2016-09-30 19:58] #370 closed

[2016-09-30 20:07] tasomaniac commented on #563
The new chapter selector dialog is very helpful. Maybe this is not a necessity anymore.

Btw, putting recently used ones on top is easy. But it may confuse users. We should have proper sections/dividers. I couldn't think of a straightforward solution to do that. Both implementation and design wise.

[2016-09-30 20:47] tasomaniac commented on #652
@lucasxas did you have something on this? If you had API keys issues, that's unfortunate. Maybe we can help you with that.

[2016-09-30 21:00] tasomaniac opened #678 "Remove GET_ACCOUNTS permission"
With the newest Google Auth APIs we shouldn't need GET_ACCOUNTS permission. I'm opening this issue not to forget removal of the following permissions.

[code]

[2016-09-30 21:01] tasomaniac commented on #678
Blocked y #616

[2016-09-30 21:01] tasomaniac commented on #519
Blocked by #616

[2016-09-30 21:03] tasomaniac commented on #646
I removed this from any milestone because I believe this is not that easy to do.

[2016-09-30 21:05] #649 closed

[2016-09-30 21:09] friedger commented on #646
I think, this is a key feature that makes the app useful.

Le 30 sept. 2016 23:04, "Said Tahsin Dane" <notifications@github.com> a
écrit :

I removed this from any milestone because I believe this is not that easy
to do.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/gdg-x/frisbee/issues/646#issuecomment-2508

[2016-09-30 21:20] tasomaniac commented on #646
Ok then, lets keep priority:high again but I don't think this is feasible for the next release. As long as we have new google sign in we should do a release.

[2016-09-30 21:33] friedger commented on #616
started on branch https://github.com/gdg-x/frisbee/tree/refactor/auth

[2016-09-30 23:04] lucasxas commented on #652
All good here @tasomaniac! I manage to get API key working and I'll give this bug a go today :)

[2016-10-01 01:27] lucasxas commented on #652
Pull request open to fix this bug https://github.com/gdg-x/frisbee/pull/679

[2016-10-01 01:35] lucasxas commented on #652
I noticed that the same bug happens with the links in the About section. The fix is the same, removing autoLink and adding MovementMethod, so I'll just fix it in the same PR.

[2016-10-01 01:56] lucasxas commented on #597
This bug happens with all three tabs in the Home screen.

If you swap Chapter, the scroll state of all tabs should return to the top

[2016-10-01 06:22] lucasxas commented on #652
Fixed in https://github.com/gdg-x/frisbee/pull/679

[2016-10-01 06:22] #652 closed

[2016-10-02 16:01] giantthinker opened #680 "Project cannot be built successfully"
I am receiving this message `Error:(224, 0) Cause: repository not found: C:\Users\ABDELLAH_RAMADAN\Desktop\frisbee-develop`.

[2016-10-02 16:05] friedger commented on #680
What command do you launch?
Can you open in Android Studio?

Please join us on gitter.im/gdg-x/frisbee

Closing this one.

Le 2 oct. 2016 18:01, "Abdel_95" <notifications@github.com> a écrit :

[2016-10-02 16:09] giantthinker commented on #680
Yes I do open in Android Studio before receiving the above message.

[2016-10-02 18:44] friedger commented on #616
I started to work on this on branch feature/616_g_signin I didn't manage to finish it and leave it to somebody else to continue.

[2016-10-02 20:35] #680 closed

[2016-10-04 08:33] tasomaniac commented on #649
I had 1 crash on release 2.6.
I will create another release and it will include this fix. Can you later check on your chromebook if the app is visible? @friedger

[2016-10-04 08:35] friedger commented on #649
will do!

[2016-10-05 04:30] esoxjem commented on #526
I can try to fix this as my first issue. Do we have icons for login/logout nav items?

[2016-10-05 05:40] friedger commented on #526
There is the Google button

Have a look at branch 621_signin (or so)

Le 5 oct. 2016 06:30, "Arun Sasidharan" <notifications@github.com> a écrit :

[2016-10-05 06:36] tasomaniac commented on #526
I believe we should make it look like all the other Google material design apps.
When the user is logged in we should have their name in the header.
In logged out state, we can still have a text that says login. I'm not really sure what would be the best.

[2016-10-05 06:42] esoxjem commented on #526
In that case, clicking on the header should open the account chooser. Logout can still be kept under Settings?

[2016-10-05 06:55] tasomaniac commented on #526
Definitely. Logout should stay in settings.
Also we don't have multiple account support. Don't work too much on account chooser UI.

[2016-10-05 19:42] friedger commented on #649
It is still not compatible

[2016-10-05 19:48] tasomaniac commented on #649
This new `untrackOld` made problems on Travis. Publish failed.
I reverted it. Working on the update right now.

[2016-10-06 06:47] esoxjem commented on #526
This is what I have so far:

<img src="https://cloud.githubusercontent.com/assets/7837006/19142852/0f5b608a-8bbe-11e6-9a6f-3ae03620530f.jpg" width="300">
<img src="https://cloud.githubusercontent.com/assets/7837006/19142851/0f41839a-8bbe-11e6-9419-6a6e768a98ff.jpg" width="300">

Also, does anything need to change on the settings activity?

[2016-10-06 07:14] tasomaniac commented on #526
Looks great. 👍
I think we can leave the things in Settings as they are. That would be a separate issue to tackle.

For the upcoming PR, please try to hook up with the current login mechanism we have in `GdgActivity`. Please do not refactor unrelated things to avoid conflict. It's because I'm working on migrating to the new auth apis. Most of the Google login related stuff will be removed anyways.

[2016-10-06 08:23] friedger commented on #526
You are supposed to use the Google branded login button..

Le 6 oct. 2016 09:14, "Said Tahsin Dane" <notifications@github.com> a
écrit :

[2016-10-06 08:30] tasomaniac commented on #526
Do we really have to?
I don't know any single app example putting branded button into the nav drawer. Even Google Apps has account chooser where you can add new accounts. And it just has a plus icon.

[2016-10-06 08:34] friedger commented on #526
Google apps use the account manager.

https://developers.google.com/identity/branding-guidelines

Le 6 oct. 2016 10:30, "Said Tahsin Dane" <notifications@github.com> a
écrit :

[2016-10-06 09:29] tasomaniac commented on #526
As far as I understand this guidelines is for screens where you have different sign in providers like Facebook etc.
I don't think any single app has Google logo in their nav drawer. I don't think Google forces us to put their logo in our drawer. It would look very bad.

This Google button will be in `FirstStartActivity` anyways. If we really want to have it everywhere, we can create another LoginA

[2016-10-06 10:37] esoxjem commented on #526
For now, we could just start the login flow on click of `Login/Register` and if required add a separate login screen with the Google custom button later.

[2016-10-06 11:35] esoxjem opened #685 "Activities accessible via nav drawer should be singleTask"
This is to avoid circular navigation adding to stack: Home > GDE > Pulse > GDE > Home

[2016-10-06 18:13] tasomaniac commented on #649
Released to 100% now. Should be live in couple of hours. Can you check again?

[2016-10-07 19:21] tasomaniac commented on #685
That's a really good problem that we have for a long time. Thanks for bringing that up.

I don't know if having `singleTask` is the best solution to that. We can also use Intent flags to do this. I guess we don't have to set it Manifest level.

[2016-10-09 13:34] #526 closed

[2016-10-09 14:36] friedger commented on #649
Is now available on the Chromebook

[image: --]
Friedger Müffke
[image: http://]about.me/friedger
<http://about.me/friedger>

2016-10-06 20:13 GMT+02:00 Said Tahsin Dane <notifications@github.com>:

[2016-10-10 06:57] lucasxas commented on #597
Argh, I spent a good couple of hours in this and I can't find a good solution. The problem here is that we're saving the state of the RecyclerView and even when we recreate the child fragments they get recreate with this saved state, thus the RecyclerView starts 'scrolled'.

If someone else wanna take a look, feel free to do so!

[2016-10-10 07:08] lucasxas commented on #659
As a User, why I would want to see the event in the local time?

And I think G+ only shows the event in the user's timezone?

[2016-10-10 08:10] lucasxas commented on #469
I can do that, but I was thinking we could add a CardView below the Event Description with the map instead of a new tab what do you think?

[2016-10-10 08:48] tasomaniac commented on #469
You can do whatever you want. :) Fell free to use your imagination.

[2016-10-10 10:05] tasomaniac commented on #659
I am sure that G+ was showing both times in the past.

I checked now. It does not show user's timezone. It always shows the time in event's timezone. And it writes the timezone as well as an information (like "Eastern European Time")

[2016-10-10 10:06] tasomaniac commented on #597
We are using state saving ViewPagerAdapter. Maybe we should not update the adapter but recreate it from scratch when the chapter is changed.

[2016-10-10 10:19] friedger commented on #597
Or attach the chapterid to the scroll position

Le 10 oct. 2016 12:06, "Said Tahsin Dane" <notifications@github.com> a
écrit :

[2016-10-10 10:20] friedger commented on #659
On firefly we show both timezones

Le 10 oct. 2016 12:05, "Said Tahsin Dane" <notifications@github.com> a
écrit :

[2016-10-10 18:43] tasomaniac commented on #659
On firefly it looks like this:

![image](https://cloud.githubusercontent.com/assets/763339/19247173/2524dd78-8f2a-11e6-9ff4-7a99d999b37a.png)

Also we are showing local time on the list on firefly. I think it should be clear on everywhere.

[2016-10-12 10:45] lucasxas commented on #469
![screenshot_1476269026](https://cloud.githubusercontent.com/assets/1713186/19307210/cee63b66-90d5-11e6-9125-f8b391f02402.png)

Thoughts? I'll fix the map miniature to remove that weird GMaps icon there, but that's the idea.

[2016-10-12 10:50] lucasxas commented on #597
I'll take a look at @tasomaniac's approach after I finish the EventDetail issue :)

[2016-10-12 11:32] tasomaniac commented on #469
We have enough space. I would go for full width map to make it more visible. We can also put a marker in the event location

[2016-10-12 21:06] tasomaniac commented on #519
Fixed by #690

[2016-10-12 21:06] #519 closed

[2016-10-12 21:19] tasomaniac commented on #678
Fixed by #692

[2016-10-12 21:19] #678 closed

[2016-10-13 12:38] esoxjem commented on #685
@tasomaniac I think flags should be used to override the default behaviour defined in the manifest. Also, if you look at gmail's behaviour, pressing back from any of the activities brings you home. Maybe we shouldn't add them to the backstack?

[2016-10-13 20:47] tasomaniac commented on #616
I didn't close this to track problems with the latest changes.
I've installed the alpha release on top of the prod release.
- The `silentSignIn` in `PlusUtils` didn't work immediately. Settings page still said that I was logged in.
- I revoke the permission on Google Account settings on web. It didn't immediately log-out the user. I checked after half a day and I was logged out.
  - Settings page

[2016-10-13 22:34] tasomaniac commented on #685
Exactly, flags should be override the default behavior. And default behavior should not be `singleTask` in our case. These Activity's can potentially be launched by other screens like widgets notification etc. In those cases, new task should be created. Putting `singleTask` in Manifest makes it impossible.

[2016-10-15 22:28] tasomaniac opened #693 "Plus API rate limiting issues"
In `InfoFragment` we are loading all the organizers at the same time asynchronously.
This causes rate limiting issues with Google+ API.

[2016-10-16 19:56] #693 closed

[2016-10-16 20:20] tasomaniac opened #695 "Update settings login with Google SignInButton"

[2016-10-16 21:19] #632 closed

[2016-10-20 19:17] #616 closed

[2016-10-21 06:23] tasomaniac commented on #596
This is also related to #693 and #694
The problem still existed, this PR will probably improve it more.

[2016-10-21 06:23] tasomaniac commented on #658
I unfortunately needed to revert this because it does not work.
`untrack` works but then if we don't have anything in Alpha it just gives an exception.

[2016-10-24 23:01] tasomaniac commented on #597
I've started on this [here](https://github.com/gdg-x/frisbee/tree/597/chapter_scroll_bug)

It works but I want to refactor a little bit more to make it look like better.

[2016-10-26 17:07] #597 closed

[2016-10-26 18:42] tasomaniac opened #700 "NavDrawer shows wrong item selected"
On every click of a nav item, we create a new Activity.

And the item selected is highligthed in the new Activity using a boolean extra.

But also the item in the old Activity is being selected. When you return back, it shows the wrong Activity. That's the default behavior.

[2016-10-26 18:52] #700 closed

[2016-10-30 15:47] tasomaniac opened #704 "Remove drawer toggle animation"
The hamburger icon we have animates when we open the drawer. It is really not necessary anymore. We should've remove it long before. So, let's remove it.

[2016-10-30 16:16] tasomaniac opened #706 "Consider official GDG font for titles in the apps"
Last year Google rebranded and slightly changes GDG logo and chapter logos. Now chapters mostly use Google Product Sans.

It is not generally ok to use that font for everything but I think we can seriously consider using that for titles. I think that would look awesome.

[2016-10-30 16:39] PareshMayani commented on #706
Why not also for Logo?

[2016-10-30 18:42] tasomaniac commented on #706
Of course. That should be changed as well. That is tracked in #525

[2016-10-30 22:40] tasomaniac opened #708 "Shorten app-invite links"
Firebase finally allows dynamic long urls to be shorten via a REST api.
Unfortunately this is not available in the SDK yet. But it is not hard to do.
Hopefully this will make our share urls a little bit nicer.

Here is more info: https://firebase.google.com/docs/dynamic-links/short-links

I think a best way to do it would be to display a `ProgressDialog` to shorten the url. Then we can fire share

[2016-10-31 18:14] tasomaniac commented on #704
Fixed in #705

[2016-10-31 18:14] #704 closed

[2016-10-31 18:25] tasomaniac commented on #695
Removed from 2.7 release because it was not done yet and it page is usable now.

[2016-11-03 22:04] Mathreyu commented on #659
Hello, I'm interested on getting started into this project, but i don't quite get what the decision on how to implement this change is.
Is it adding a local time to the event description or adding the timezone on the card or adding both times to the description of the event?
@tasomaniac

[2016-11-04 07:53] tasomaniac commented on #659
Hmmm, at the end we should have the same date in both places. It is confusing when they are different.
We should look into meetup.com, facebook and google+ events to see how they do it.
Can you do that? You can find an event far away from your country and see what does they show.

Thanks

[2016-11-07 16:31] Mathreyu commented on #659
Hey, I looked for events in different parts of the world to see if there was a different setting on the times they were setting their events on. I found that MeetUp and Facebook use only the local time of the event, they don't provide the info in the timezone in which the event is been looked for.
I think a good solution (in order to achieve better clarity for the user) is to only put the time of

[2016-11-09 21:58] tasomaniac commented on #659
Thanks for investigating this @Mathreyu
I think it is great and exactly what I was looking for.

I think it really makes sense. Showing 2 times (event local/user local time) also may confuse the user. I think showing only 1 makes sense and it should be the event's time.

[2016-12-18 17:33] tasomaniac commented on #648
Google recently announced that the new sign in API finally works for games.

https://android-developers.googleblog.com/2016/12/games-authentication-adopting-google.html

[2016-12-18 17:46] friedger commented on #648
Too late..

Am 18.12.2016 18:33 schrieb "Said Tahsin Dane" <notifications@github.com>:

[2016-12-18 17:54] tasomaniac commented on #648
😃

[2017-01-23 14:49] tasomaniac opened #714 "App shortcuts"
The GDG application can have App Shortcuts for Nougat 7.1 users.

Possible static shortcuts can be `GDEs`, `GDG Pulse`

We can also have dynamic shortcuts. It can be
- The next event of the home chapter (we already have the logic for our widget)
- Event Series like `DevFest` and `WTM`

[2017-01-23 14:53] tasomaniac commented on #714
Launcher shortcuts have been a feature from the beginning of Android. With Marshmallow, the old launcher shortcut permission `com.android.launcher.permission.INSTALL_SHORTCUT` is given to all apps automatically.

Nougat's static app shortcuts is just much easier to implement.

But we can also try to add some other power user shortcuts to the app. One idea would be to have `add to home screen` butt

[2017-02-13 22:32] tasomaniac opened #715 "EventActivityTest flaky test"
With this PR #713 , we are not running UI tests on Firebase Test Lab bi-nightly. And also when there is a change on develop.

It's mostly green but `EventActivityTest.clickOnTitleOpensEventUrl(EventActivityTest.java:60)` is mostly flaky. We should have a look.

![image](https://cloud.githubusercontent.com/assets/763339/22906415/a3c11994-f244-11e6-9973-9ee21ea7fb2c.png)

[2017-03-12 02:36] seventhmoon commented on #576
Java8 java.time is not included in Android. Jake's port is an alternative. However, I also see no reason for a change at this moment.

[2018-05-04 20:27] Intecpsp opened #722 "Unable to log into app"
I'm getting "You're currently offline." And am unable to proceed past it.

Pixel XL 2
Android 8.1.0
OPM2.171019.029

[2019-08-07 22:29] Splaktar commented on #722
This is because the app depended upon the GDG-X Hub, but with the GDG program moving to Meetup, it wasn't feasible to continue to maintain the GDG-X Hub.

The Hub and this app have been retired 😞

[2020-02-01 19:06] #278 closed

[2020-07-18 12:02] #722 closed, assigned to nobody